/* content banner */
.banner {
    background-color: #b3dad9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 100px;
}

.banner_pic {
    grid-area: 1 / 1 / 3 / 2;
}

.banner_title {
    grid-area: 2 / 1 / 3 / 2;
}
