
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: MPLUSRounded1c;
    src: url(fonts/MPLUSRounded1c-Regular.ttf);
}

@font-face {
    font-family: MPLUSRounded1c;
    src: url(fonts/MPLUSRounded1c-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Italic.ttf);
    font-style: italic;
}