#footer {
    font-size: 12px;
    color: #dae5e4;
    /* padding: 2vh;
    margin: 0vw 1vw; */
    text-align: initial;
    background-color: inherit;
}

.sponsor-logo-container {
    height: 3vw;
    margin: 0 0.5vw;
}

.sponsor-logo-container img {
    object-fit: contain;
    height: 100%;
}

#footer .sitemap {
    padding-right: 4em;
    font-size: 0.9vw;
    font-family: MPLUSRounded1c;
    line-height: 1.7;
}

#footer a {
    color: inherit;
    text-decoration: none;
    opacity: 100%;
    /* font-weight: normal; */
    transition: opacity .1s;
    font-weight: normal;
}

#footer a:hover {
    opacity: 75%;
    text-decoration: none;
    color: inherit;
}

#footer .sitemap h3 {
    font-size: 1.3vw;
    color: #70b7b3;
    font-weight: bold;
}

#footer .sitemap h3 a {
    font-weight: bold;
}

#footer hr {
    margin: 0.5em 0em;
}

.follow-us, #footer .follow-us h3 {
    color: #dae5e4;
}

.social-icon {
    margin: 0em 1em;
}

.row {
    max-width: 100%;
}

.contact {
    display: flex;
    align-items: center;
}

.contact a {
    padding-left: 0.4em; 
}

#sponsors {
    justify-content: space-around; 
    width: 90%; 
    align-items: flex-end; 
    margin-right: 1.2vw;
}

@media (max-width: 992px) {
    #sponsors .col-lg {
        height: 5vh !important;
        padding: 2vh 0vh;
    }
}