#footer {
    font-size: 12px;
    color: white;
    padding: 2vh;
    margin: 0vw 1vw;
}

#footer_body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.sponsor-logo-container {
    height: 5vh;
    margin: 0vh 2vh;
}

.sponsor-logo-container img {
    object-fit: contain;
    height: 100%;
}

.social-icon {
    margin: 0em 1em;
}