#header {
    background-color: #b3dad9;
    top: 16px;
    height: 7vh;
    padding: 1vh;
    display: flex;
    color: #002d30;
    align-items: center;
    font-size: 14px;
    text-align: center;
}

/* Navbar button styling */
#igem-unsw-content #header a {
    color: #003031;
    text-decoration: none; 
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 2em;
    transition: background-color 0.2s, border 0.2s;
}

#igem-unsw-content #header a:hover {
    background-color: #91bcbb;
    opacity: initial;
    border: 1px solid #003031;
}

#igem-unsw-content #header a:active {
    background-color: #003031;
    border-radius: 2em;
    border: 1px solid #003031;
    color: #dae5e4;
}

#igem-unsw-content .nav-item > a {
    margin: 0.3em 0.2em;
}

#home_button {
    height: 7vh;
}

/* override link styling for home button (igem unsw logo) */
#igem-unsw-content #header #home_button, 
#igem-unsw-content #header #home_button:active, 
#igem-unsw-content #header #home_button:hover {
    background-color: inherit;
    border: none;
    border-radius: 0;
}

#igem-unsw-content #header #home_button {
    opacity: 100%;
    transition: opacity .2s;
}

#igem-unsw-content #header #home_button:hover {
    opacity: 75%;
}

/* Dropdown and dropdown link styles */
.dropdown:hover {
    background-color: inherit;
}

.dropdown-menu {
    background-color: #91bcbb;
    border: none;
    border-radius: 0;
    margin-left: 0.2em;
}

.dropdown-divider {
    color: #0a7c80;
}

.dropdown-menu *, ::after, ::before {
    box-sizing: border-box;
}

#igem-unsw-content #header .dropdown-menu a {
    background-color: inherit;
    color: inherit;
    border: none;
    border-radius: 0;
}

#igem-unsw-content #header .dropdown-menu a:focus {
    background-color: inherit;
    color: inherit;
}

#igem-unsw-content #header .dropdown-menu a:hover {
    background-color: #b3dad9;
    color: inherit;
}

#igem-unsw-content #header .dropdown-menu a:active {
    background-color: #002d30;
    color:#b2d9d8;
}

.dropdown:hover .dropdown-menu {
    display: block;

    animation-name: fadeIn;
    animation-duration: 0.2s;
}

@keyframes fadeIn {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}

*, ::after, ::before {
    box-sizing: initial;
}