html, body, #igem-unsw-content {
    background-color: #002d30;
}

#igem-unsw-content .section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.full-height {
    height: calc(91vh - 16px); /* 100vh - (header height = 9vh) - (igem bar height = 16px) */
}

.container {
    display: flex;
    justify-content: space-around;
}

#home_protecc {
    margin-top: -6vw;
    width: 100%; 
    background-color: #b3dad9; 
    display: flex;
}

.width100 {
    width: 100%;
}

/* #home_protecc svg {
    overflow: auto;
} */

.main-text {
    font-family: MPLUSRounded1c;
    font-weight: 800;
    font-size: 1.8em;
}

.dark-green {
    color: #003031;
}

.red {
    color: #BF574E;
}

.white {
    color: #D9E5E3;
}

.text {
    letter-spacing: 0.05em;
    color: #0a7c80;
    font-size: larger;
    font-weight: 700;
}

#name_full {
    font-size: 1.6em;
    font-weight: 700;
    /* padding-left: 5vh; */
    font-family: MPLUSRounded1c;
    text-align: center;
}

.emphasis {
    color: #002d30;
}

.coral-img {
    display: flex;
    width: 100vw;
}

#nav_circle_row {
    width: 80%;
    justify-content: space-evenly;
    margin: 2vh 0vh;
}

#nav_circle_row a {
    margin: 1em;
    color: #002d30;
}

#nav_circle_row a:link {
    text-decoration: none; 
    font-size: 15px;
    letter-spacing: 0.07em;
    font-weight: bold;
}

#nav_circle_row a:hover {
    color: #002d30;
    text-shadow: 0px 3px 3px #44969cad;
}

#nav_circle_row a:visited {
    color: #002d30;
}

.nav-circle {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    border: 0.3em solid #002d30;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
}
