#full-page {
    background-color: #b3dad9;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    padding-top: 6vh;
    padding-bottom: 10vh;
}

.container {
    display: flex;
    justify-content: space-around;
}

#logo {
    height: 25vh;
    padding-bottom: 1vh;
}

#name {
    height: 13vh;
}

.text {
    letter-spacing: 0.1em;
    color: #0a7c80;
    font-size: larger;
    font-weight: bold;
    font-family: Roboto;
}

#subtitle {
    font-size: 1.4em;
    padding-left: 5vh;
}

.emphasis {
    color: #002d30;
}

#coral {
    display: flex;
    width: 100vw;
}

*, ::after, ::before {
    box-sizing: initial;
}