html, body, #igem-unsw-content {
    background-color: #b3dad9;
}

#igem-unsw-content .section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.full-height {
    height: calc(91vh - 16px); /* 100vh - (header height = 9vh) - (igem bar height = 16px) */
}

.container {
    display: flex;
    justify-content: space-around;
}

#home_protecc {
    margin-top: -6vw;
    width: 100%; 
    background-color: #b3dad9; 
    display: flex;
}

.width100 {
    width: 100%;
}

/* #home_protecc svg {
    overflow: auto;
} */

#igem-unsw-content .main-text {
    font-family: MPLUSRounded1c, sans-serif;
    font-weight: 800;
    font-size: 1.8em;
}

#igem-unsw-content .main-text *{
    font-family: MPLUSRounded1c, sans-serif;
    font-weight: 800;
}

#igem-unsw-content .caption-text {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

#igem-unsw-content .caption-text *{
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

.dark-green {
    color: #003031;
}

.red {
    color: #BF574E;
}

.white {
    color: #D9E5E3;
}

.med-green {
    color: #70b7b3;
}

.light-green {
    color: #b3dad9;
}

.text {
    letter-spacing: 0.05em;
    color: #0a7c80;
    font-size: larger;
    font-weight: 700;
}

#name_full {
    font-size: 1.6em;
    font-weight: 700;
    /* padding-left: 5vh; */
    font-family: MPLUSRounded1c;
    text-align: center;
}

.emphasis {
    color: #002d30;
}

.problem-icon {
    width: 20%;
}

.problem-icon img {
    width: 100%;
}

.problem-icon .caption-text {
    padding-top: 1em;
    text-align: center;
}

.coral-img {
    display: flex;
    width: 100vw;
}

.cause-icon-row {
    display: flex; 
    justify-content: space-evenly;
    height: 14vw;
}

.cause-icon-row > div {
    width: 14vw;
}

.cause-icon-row img {
    height: 100%;
    width: 100%;
}

#igem-unsw-content .cause-icon-row .caption-text {
    padding-top: 1vw;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 1.1vw;
}


/* PROJECT ICONS (at bottom of home page) */
#nav_circle_row {
    width: 90%;
    justify-content: space-evenly;
    align-items: flex-start;
}

#nav_circle_row .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: MPLUSRounded1c;
    font-weight: 800;
    color: #003031;
    font-size: 1.2vw;
}

#nav_circle_row a {
    text-decoration: none; 
    font-size: 15px;
    letter-spacing: 0.07em;
    font-weight: bold;
    transition: transform .2s;
    margin: 1em;
}

#nav_circle_row a:hover {
    color: #002d30;
    text-shadow: 0px 3px 3px #44969cad;
    opacity: 1;
    transform: scale(1.15);
}

.nav-circle {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
}

.nav-circle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}