html, body, #igem-unsw-content {
    background-color: #b3dad9;
}

.banner {
    background-color: #b3dad9;
    position: static;
    top: calc(9vh + 16px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 90px;
}

.sidenav {
    position: sticky;
    top: calc(15vh + 16px);
    height: 25vh;
    bottom: 50vh;
    display: block;
}

#igem-unsw-content .sidenav a {
    color: #002d30;
}
#igem-unsw-content .sidenav a.active {
    background-color: white; 
    color: #f4511e;           
}


.section {
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    scroll-margin-top: calc(9vh + 16px);
}

.full-height {
    height: calc(91vh - 16px); /* 100vh - (header height = 9vh) - (igem bar height = 16px) */
}

.container {
    display: flex;
    justify-content: space-around;
}

.timeline-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    height: 15em;
    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;
}

.timeline-wrapper .middle-line {
    position: absolute;
    width: 100%;
    height: 0.3em;
    border-radius: 0.2em;
    top: 50%;
    transform: translateY(-50%);
    background: #002d30;
}

.box {
    width: 15%;
    position: relative;
    min-height: 15em;
    display: flex;
    justify-content: center;
}

.box .circle-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100%;
}

.box .circle {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #dae5e4;
    border: 0.2em solid #002d30;
    cursor: pointer;
    transition: background-color 0.2s;
}

.box .circle:hover {
    background-color: #002d30;
}

.box .box-content {
    border-radius: 0.5em;
    background-color: #00b0bd;
    /* width: 180px; */
    position: absolute;
    /* left: calc(-50% + 1em); */
    padding: 0.5em;
    text-align: center;
    top: initial;
    bottom: 65%;
}

.box-bottom .box-content {
    top: 65%;
    bottom: initial;
}

.box-content p {
    margin: 0;
    color: white;
}

.box-content::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
}

.box-top .box-content::before {
    border-top-color: #00b0bd;
    bottom: -20px;
}

.box-bottom .box-content::before {
    border-bottom-color: #00b0bd;
    top: -20px;
}


  