/* TABS */
#nav-tab-ihp {
    border-color: #dae5e4;
}

#nav-tab-ihp .nav-link {
    color: #002d30;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

#nav-tab-ihp .nav-link:hover {
    border-color: #dae5e4;
}

#nav-tab-ihp .nav-link.active {
    background-color: #dae5e4;
    border-color: #dae5e4;
}


/* tabs: color schemes */
#nav-tab-ihp .nav-link.red.active {
    background-color: #b0554b;
    border-color: #b0554b;
    color: #dae5e4;
}

#nav-tab-ihp .nav-link.dark-green.active {
    background-color: #002d30;
    border-color: #002d30;
    color: #dae5e4;
}

#nav-tab-ihp .nav-link.blue-green.active {
    background-color: #0a7c80;
    border-color: #0a7c80;
    color: #dae5e4;
}

#nav-tab-ihp .nav-link.yellow.active {
    background-color: #b48861;
    border-color: #b48861;
    color: #dae5e4;
}


/* MODAL */
.modal-backdrop {
    background-color: rgb(0, 0, 0, 0.4);
    z-index: -1;
}

#hpModalBackdrop {
    z-index: 1050;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.modal-photo {
    height: 12vw;
    width: 12vw;
    min-width: 12vw;
}

.modal-photo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* border-radius: 50%; */
    border-radius: 0.2em;
    background-color: #ffffff;
    border: 0.3vw solid transparent;
}

#igem-unsw-content .modal-title {
    font-family: MPLUSRounded1c, sans-serif;
}

h3.modal-title {
    font-weight: bold;
}

#igem-unsw-content .modal-caption {
    /* padding-top: 1em; */
    font-size: 1em;
    font-family: Roboto;
}

.modal-content {
    background-color: #dae5e4;
    border: none;
    color: #003031;
}

#igem-unsw-content .modal-body p,
#igem-unsw-content .modal-body li {
    font-size: 0.9em;
}

#igem-unsw-content .modal-body h5 {
    font-weight: 700;
    font-size: 1.2em;
}


@media (min-width: 768px) {
    .modal-dialog {
        max-width: 710px;
        margin: 1.75rem auto;
    }
}

/* TIMELINE */
.timeline-wrapper {
    position: relative;
    height: 15em;
    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;
}

.timeline-wrapper .middle-line {
    position: absolute;
    width: 100%;
    height: 0.25em;
    border-radius: 0.2em;
    top: 50%;
    transform: translateY(-50%);
    background-color: #002d30;
}

.box {
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
}

.box .circle-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.box .circle {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #dae5e4;
    border: 0.2em solid #002d30;
    cursor: pointer;
    transition: background-color 0.2s;
}

.box .circle:hover {
    background-color: #002d30;
}

.box .box-content {
    border-radius: 0.5em;
    background-color: #002d30;
    position: absolute;
    padding: 0.5em;
    text-align: center;
    top: initial;
    bottom: 65%;

}

#igem-unsw-content .box .box-content p {
    font-size: 0.9em;
    font-family: Roboto, sans-serif;
    text-align: center;
    line-height: initial;
    /* font-weight: 700; */
}

/* .box-content :last-child {
    font-size: 0.95em;
} */

.box-bottom .box-content {
    top: 65%;
    bottom: initial;
}

.box-content p {
    margin: 0;
    color: #dae5e4;
}

.box-content::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
}

.box-top .box-content::before {
    border-top-color: #002d30;
    bottom: -20px;
}

.box-bottom .box-content::before {
    border-bottom-color: #002d30;
    top: -20px;
}


/* TIMELINE COLOR SCHEMES */

/* red */
.timeline-wrapper.red .middle-line,
.red .box .circle:hover, 
.red .box .circle.active,
.red .box-content {
    background-color: #b0554b;
}

.red .box .circle {
    border-color: #b0554b;
}

.red .box-top .box-content::before {
    border-top-color: #b0554b;
}

.red .box-bottom .box-content::before {
    border-bottom-color: #b0554b;
}

/* dark-green */
.timeline-wrapper.dark-green .middle-line,
.dark-green .box .circle:hover, 
.dark-green .box .circle.active,
.dark-green .box-content {
    background-color: #002d30;
}

.dark-green .box .circle {
    border-color: #002d30;
}

.dark-green .box-top .box-content::before {
    border-top-color: #002d30;
}

.dark-green .box-bottom .box-content::before {
    border-bottom-color: #002d30;
}

/* blue-green */
.timeline-wrapper.blue-green .middle-line,
.blue-green .box .circle:hover, 
.blue-green .box .circle.active,
.blue-green .box-content {
    background-color: #0a7c80;
}

.blue-green .box .circle {
    border-color: #0a7c80;
}

.blue-green .box-top .box-content::before {
    border-top-color: #0a7c80;
}

.blue-green .box-bottom .box-content::before {
    border-bottom-color: #0a7c80;
}


/* yellow */
.timeline-wrapper.yellow .middle-line,
.yellow .box .circle:hover, 
.yellow .box .circle.active, 
.yellow .box-content {
    background-color: #b48861;
}

.yellow .box .circle {
    border-color: #b48861;
}

.yellow .box-top .box-content::before {
    border-top-color: #b48861;
}

.yellow .box-bottom .box-content::before {
    border-bottom-color: #b48861;
}

/* DESCRIPTION */
.description {
    display: none;
}

.description.active {
    display: block;

    animation-name: fadeIn;
    animation-duration: 0.3s;
}

@keyframes fadeIn {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}