#full-page {
    background-color: #70b7b3;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#sub_topics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr), 2fr, 1fr;
    grid-row-gap: 1em;
    column-gap: 1em;
    padding: 1em;
}

.topic_box {
    background-color: #b3dad9;
}

.first_col .topic_box {
    grid-area: 2 / 1 / 5 / 2;
}

.secnd_col .topic_box {
    grid-area: 2 / 2 / 5 / 3;
}