html, body, #igem-unsw-content {
    background-color: #002d30;
}

#igem-unsw-content {
    margin-top: -32px;
}

.section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.full-height {
    height: calc(91vh - 16px); /* 100vh - (header height = 9vh) - (igem bar height = 16px) */
}

.container {
    display: flex;
    justify-content: space-around;
}

.text {
    letter-spacing: 0.05em;
    color: #0a7c80;
    font-size: larger;
    font-weight: 700;
}