html,
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: OpenSans;
}

#igem-unsw-content h1 {
    font-family: MPLUSRounded1c;
    font-weight: bold;
    /* text-transform: uppercase; */
}

#igem-unsw-content h2, h3  {
    font-family: MPLUSRounded1c;
}

#igem-unsw-content h4, h5, h6 {
    font-family: Roboto;
}

#igem-unsw-content a {
    color: white;
}

#igem-unsw-content a:hover {
    color: rgb(199, 199, 199);
}

.contact {
    display: flex;
    align-items: center;
}

.contact a {
    padding-left: 0.4em; 
}