html,
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'OpenSans', sans-serif;
    background-color: #b5dddb;
}

#igem-unsw-content {
    background-color: #b5dddb;
    font-family: 'OpenSans', sans-serif;
    line-height: 1.5;
    font-size: 0.95rem;
    color: #003031;
    animation: fadeIn 1s;
}

#igem-unsw-content p {
    font-family: 'OpenSans', sans-serif;
    line-height: 1.5;
    font-size: 0.95rem;
}

#igem-unsw-content * {
    font-family: 'OpenSans', sans-serif;
    /* color: #003031; */
}

#igem-unsw-content p {
    font-family: 'OpenSans', sans-serif;
    /* font-size: 1em; */
    text-align: initial;
    /* color: #003031; */
}

/* adjust for igem top bar */
/* comment out for release */
/* #igem-unsw-content {
    margin-top: 16px;
} */

#igem-unsw-content .h1, 
#igem-unsw-content .h2, 
#igem-unsw-content .h3, 
#igem-unsw-content .h4, 
#igem-unsw-content .h5, 
#igem-unsw-content .h6, 
#igem-unsw-content h1, 
#igem-unsw-content h2, 
#igem-unsw-content h3, 
#igem-unsw-content h4, 
#igem-unsw-content h5, 
#igem-unsw-content h6 {
    margin-bottom: 0.5rem;
}

#igem-unsw-content h1 {
    font-family: 'MPLUSRounded1c', 'Roboto', sans-serif;
    font-weight: bold;
    /* text-transform: uppercase; */
    text-align: center;
}

#igem-unsw-content h2, 
#igem-unsw-content h3  {
    font-family: MPLUSRounded1c, Roboto, sans-serif;
}

#igem-unsw-content h4, 
#igem-unsw-content h5, 
#igem-unsw-content h6 {
    font-family: Roboto, sans-serif;
}

/* needed to override wiki default link stylings */
#igem-unsw-content a {
    color: white;
    opacity: 100%;
    transition: opacity .2s;
}

#igem-unsw-content a:hover {
    opacity: 75%;
}

#references p {
    font-size: 0.9em;
}

#loader {
    position: fixed;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 1100;
    text-align: center;
    background-color: #b3dad9;
}

#loader.loaded {
    display: none;
}

@keyframes fadeIn {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}



#igem-unsw-content .section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.full-height {
    height: calc(91vh - 16px); /* 100vh - (header height = 9vh) - (igem bar height = 16px) */
}

.container {
    display: flex;
    justify-content: space-around;
}


/* tables */
#igem-unsw-content .table {
    border-width: 0px;
    margin: 0;
    margin-bottom: 1rem;
    background-color: inherit;
}

#igem-unsw-content .table>:not(caption)>*>* {
    border-width: 0px;
    padding: 0.5rem 0.5rem;
}

#igem-unsw-content .table th {
    background-color: inherit;
}

#igem-unsw-content .table :not(a) {
    color: #003031;
}