html,
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'OpenSans', sans-serif;
    background-color: #b3dad9;
}

#igem-unsw-content {
    background-color: #b3dad9;
    font-family: 'OpenSans', sans-serif;
    line-height: 1.5;
    font-size: 0.95rem;
    color: #003031;
}

#igem-unsw-content p {
    font-family: 'OpenSans', sans-serif;
    line-height: 1.5;
    font-size: 0.95rem;
}

/* adjust for igem top bar */
/* comment out for release */
/* #igem-unsw-content {
    margin-top: 16px;
} */

#igem-unsw-content .h1, 
#igem-unsw-content .h2, 
#igem-unsw-content .h3, 
#igem-unsw-content .h4, 
#igem-unsw-content .h5, 
#igem-unsw-content .h6, 
#igem-unsw-content h1, 
#igem-unsw-content h2, 
#igem-unsw-content h3, 
#igem-unsw-content h4, 
#igem-unsw-content h5, 
#igem-unsw-content h6 {
    margin-bottom: 0.5rem;
}

#igem-unsw-content h1 {
    font-family: 'MPLUSRounded1c', 'Roboto', sans-serif;
    font-weight: bold;
    /* text-transform: uppercase; */
    text-align: center;
}

#igem-unsw-content h2, h3  {
    font-family: MPLUSRounded1c, Roboto, sans-serif;
}

#igem-unsw-content h4, h5, h6 {
    font-family: Roboto, sans-serif;
}

#igem-unsw-content * {
    font-family: 'OpenSans', sans-serif;
    /* color: #003031; */
}

#igem-unsw-content p {
    font-family: 'OpenSans', sans-serif;
    font-size: 1em;
    text-align: initial;
    /* color: #003031; */
}

/* needed to override wiki default link stylings */
#igem-unsw-content a {
    color: white;
    opacity: 100%;
    transition: opacity .2s;
}

#igem-unsw-content a:hover {
    opacity: 75%;
}

#loader {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    text-align: center;
}

#loader img {
    max-width: 70%;
    object-fit: contain;
}



#igem-unsw-content .section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.full-height {
    height: calc(91vh - 16px); /* 100vh - (header height = 9vh) - (igem bar height = 16px) */
}

.container {
    display: flex;
    justify-content: space-around;
}

.text {
    letter-spacing: 0.05em;
    color: #0a7c80;
    font-size: larger;
    font-weight: 700;
}