#igem-unsw-content .sidenav {
    top: 33vh;
    height: 35vh;
}

#igem-unsw-content h5,
#igem-unsw-content h6 {
    font-weight: 700;
}

#igem-unsw-content .table td:first-child {
    width: 20%;
    vertical-align: middle;
}

#igem-unsw-content .img-in-table {
    width: 8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}