body {
    scroll-behavior: smooth;
}

.content > * {
    scroll-margin-top: calc(9vh + 16px);
}

#igem-unsw-content .sidenav {
    position: sticky;
    top: 35vh;
    height: 25vh;
    bottom: 50vh;
    display: block;
    padding: 3em 0em;
    padding-top: 0em;
    width: 23%;
}

#igem-unsw-content .sidenav h5 {
    font-family: MPLUSRounded1c;
    font-weight: 700;
}

.icon {
    height: 1.5em;
    width: 1.5em;
}

.icon.rounded-icon {
    border-radius: 50%;
}

#igem-unsw-content .sidenav span {
    font-family: Roboto;
}

#igem-unsw-content .sidenav a {
    color: #002d30;
    font-size: 1em;
    transition: font-size 0.2s, color 0.1s;
    text-decoration: none;
    font-weight: normal;
}

#igem-unsw-content .sidenav a.active {
    font-size: 1.25em;
    text-decoration: none;
}

#igem-unsw-content .sidenav a:hover {
    color:#1f8c8c;
    opacity: 1;
    text-decoration: none;
}

#sidenavContent .navbar-nav {
    flex-direction: column;
    padding-left: 0rem;
}

#expandContent {
    color:#0a7c80;
    border: none;
}

#expandContent[aria-expanded=true] .bi-chevron-right {
    display: none;
}

#expandContent[aria-expanded=false] .bi-chevron-down {
    display: none;
}

@media (max-width: 992px) {
    #igem-unsw-content .sidenav {
        width: 100%;
        height: auto !important;
        bottom: auto;
        top: calc(9vh + 16px) !important;
        background-color: #b5dddb;
        padding-bottom: 0;
    }

    #sidenav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #igem-unsw-content .sidenav a.active {
        display: inline;
    }

}