body {
    scroll-behavior: smooth;
}

.content > * {
    scroll-margin-top: calc(9vh + 16px);
}

#igem-unsw-content .sidenav {
    position: sticky;
    top: calc(37.5vh);
    height: 25vh;
    bottom: 50vh;
    display: block;
}

#igem-unsw-content .sidenav h5 {
    font-family: MPLUSRounded1c;
    font-weight: 700;
}

.icon {
    height: 1.5em;
    width: 1.5em;
}

.icon.rounded-icon {
    border-radius: 50%;
}

#igem-unsw-content .sidenav a {
    color: #002d30;
    font-size: 1em;
    transition: font-size 0.2s, color 0.1s;
    text-decoration: none;
    font-family: Roboto;
}
#igem-unsw-content .sidenav a.active {
    font-size: 1.25em;
    text-decoration: none;
}

#igem-unsw-content .sidenav a:hover {
    color:#1f8c8c;
    opacity: 1;
    text-decoration: none;
}