---
layout: content.liquid
title: Modelling
subtitle: Kinetic Modelling of the Glutathione System
headings:
- 
    id: pathways
    title: Glutathione Recycling Pathways
    icon: /assets/icon/Model/Glutathione_System/repeat-svgrepo-com.svg
- 
    id: model
    title: Constructing the Model
    icon: /assets/icon/Model/Glutathione_System/pencil-ruler-solid.svg
- 
    id: ensemble
    title: Ensemble Modelling
    icon: /assets/icon/Model/Glutathione_System/chart-bar-solid.svg
- 
    id: simulations
    title: Simulations
    icon: /assets/icon/Model/Glutathione_System/chart-line-solid.svg
- 
    id: discussion
    title: Discussion
    icon: /assets/icon/Model/Glutathione_System/cogs-solid.svg
- 
    id: references
    title: References
    icon: /assets/icon/bars-solid.svg
---
<head>
    <link rel="stylesheet" href="/css/model_gsh.css" type="text/css">

    <style>
        .MathJax nobr>span.math>span{border-left-width:0 !important};
    </style>
    $$\require{mhchem}$$
</head>

<div>
    <p>The glutathione system is a three part system consisting of glutathione synthetase, reductase and peroxidase which is involved in antioxidant defense against reactive oxygen and/or nitrogen species (Morrs, G. 2014). The objective for Implementing the glutathione system into Symbiodinium sp. was to increase the capacity of the algae’s antioxidant system against toxic reactive oxygen species (ROS) which is produced from algal photosynthetic machinery (Neilsen, D. 2018). We theorised this would limit the occurrence of algal ejection from coral hosts as the antioxidant system can combat increased levels of toxic ROS caused by warming ocean tempeartures. To do this, we had to investigate optimal enzymatic activities of the glutathione system across a range of species, before generating an ensemble model. Temperature and pH were both considered during the investigation phase of our mathematical models.</p>
</div>

<div id="pathways">
    <h2>Glutathione System Pathways</h2>
    <br />
    <p>Glutathione is a molecule made of the amino acids glutamate, cysteine and glycine (Pophaly et al 2012) and plays a major role in the reduction of reactive oxygen species (ROS) in cells (Noctor et al. cited in Mallick at al. 2000). Since glutathione is produced by the bi-functional enzyme glutathione synthetase, it was important that we tested and expressed this enzyme in our mathematical modelling and plasmid design. The exact mechanism of glutathione formation begins with peptide bond formation between the amino acids; glutamate and cysteine, to create γ-glutamylcysteine (γ-Glu-Cys) (Pophaly et al. 2012). This is proceeded by peptide bond formation between γ-Glu-Cys and the amino acid glycine which results in a reduced form of glutathione, known as GSH (Pophaly et al. 2012). Subsequently, GSH acts as an electron donor for glutathione peroxidase (Gpx) to reduce H<sub>2</sub>O<sub>2</sub> to H<sub>2</sub>O, i.e. water (Pophaly et al. 2012). This reaction produces the oxidised form of glutathione, known as GSSG. </p>

    <p>However, since the reduced form of glutathione (GSH) is required for cellular function (Mallick and Mohn 2000) the produced GSSG is reduced to GSH by an NADPH- dependent reaction with the help of the enzyme glutathione reductase (GR; Mallick and Mohn 2000). This way GSH will be available to reduce H<sub>2</sub>O<sub>2</sub>  to water until the level of ROS has returned to physiologically important levels. </p>
    <p>The importance of the glutathione system for cellular organisms is highlighted by the consequences of increasing concentration of ROS due to increased temperatures (Doke et al., Rao et al. cited in Mallick and Mohn 2000). ROS can include oxygen radicals and certain nonradical oxidizing agents like hydrogen peroxide. Generally, the production of ROS comes from normal metabolic function and can even be involved in enzymatic reaction when at tolerable levels. However, when the natural reducing environment inside cells becomes disrupted due to stress, the levels of ROS cannot be kept in check and free-radical damage will occur (Bayr, H. 2005). For our coral reefs, climate change has caused an increasing frequency and duration of marine heat waves which have placed considerable stress on the algal-coral relationship. This has mediated the expulsion of algal symbionts from coral due to intolerable levels of ROS, and the eventual death of the coral host. </p>
    
    <div style="display: flex; justify-content: center;">
        <img src="/assets/img/Engineering/gsh_pathway.png" width="90%">
    </div>
    <div class="image-caption">Fig 1: Kinetics flowchart of the glutathione system</div>
    <br>
    <p>In order to commence mathematical modelling and to supplement the wet lab work, we constructed a kinetics flowchart as seen in Figure 1. The flowchart represents the three enzymes involved in our proposed glutathione system: the bifunctional glutathione synthetase, glutathione peroxidase and glutathione reductase enzymes. This system has been previously hypothesised to exist in lactic acid bacteria by Pophaly et al. (2012). Our proposed glutathione system (Figure 1) builds upon the initial findings of the UNSW 2020 iGEM team and their work to understand how differing levels of the glutathione system could affect ROS response. However, an oversight was made during these testing phases and the glutathione peroxidase enzyme was not accounted for in their modelling. Our team this year has sought to remedy this oversight whilst furthering our understanding of how our glutathione system may work in accordance with changing ROS concentrations, GSH, and GSH/GSSG ratios. The ROS kinetics data gathered for our models were based off hydrogen peroxide substrates (H<sub>2</sub>O<sub>2</sub>) as data was more abundant and would only serve to validate the results of our model (Mallick and Mohn 2000). Additionally,  we used both GR1 and Gpx 5 as our respective glutathione reductase and peroxidase. Our end goal was to understand how the 3-part system worked synonymously whilst testing the antioxidant capacity of this solution against heat induced stress.</p>
    <p>Furthermore, we assisted in the development of the wet lab team’s plasmid design based on this putative glutathione system, which will be introduced firstly in bacterial E. coli, then in the yeast S. cerevisiae, and finally in our algal symbiont Symbiodinium goreaui. Given that all three genes in the designed plasmid are placed in series after one promoter, they will not be equally expressed. RNA polymerase binds at the promoter region and then transcribes the proceeding gene sequence, but depending on its binding affinity to the sequence, it has some chance of dissociating from the DNA before reaching the end of the third gene. As such, the first gene will be most highly expressed and the third gene comparatively lowly expressed. Our task was to determine which of the enzymes would benefit from the highest expression to produce an efficient antioxidant system in the intended host.</p>

</div>

<div id="model">
    <h2>Constructing the Model</h2>
    <br />

    <p>
        The ratio between reduced glutathione (GSH) and oxidised glutathione (GSSG) is used by the cell as a signal of oxidative stress, and can drive the cell toward apoptosis if the relative levels of GSSG become very high. As such, our model specifically monitors the relative concentrations of GSH and GSSG in the system under different conditions of H<sub>2</sub>O<sub>2</sub> concentration (the ROS), and/or GSH.
    </p>

    <br />
    <h5>System Components</h5>
    <p>
        For the sake of simplicity, our model includes relatively few enzymes and substrates, focussing on the dynamics between the coupled activity of glutathione peroxidase (Gpx) and glutathione reductase (GR). This base model is able to provide some insight into the relative rates of these reactions and which substrate concentrations have a greater impact on the system (out of GSH, GSSG, NADPH and H<sub>2</sub>O<sub>2</sub>), but could be extended in future research. 
    </p>
    <br />

    <h5>Key Assumptions</h5>
    <p>
        Given the complexity of biological systems, simplifications are required when attempting to translate them to an <em>in silico</em> model. Understanding the assumptions made by the model is essential for meaningful interpretation of the data produced.
    </p>

    <h6>Convenience Kinetics</h6>
    <p>
        This assumes that the concentrations of enzyme (E), substrate (S) and enzyme-substrate complex (ES) are in rapid equilibrium, i.e., the time it takes for E to physically bind to any S is negligible compared with the time it takes for ES to chemically react to from E and P. This reduces the complexity of the rate equations.
    </p>

    <h6>Irreversible Equations</h6>
    <p>
        The action of both Gpx and GR was assumed to be unidirectional, from substrate to product only. The forward reaction catalysed by GR has \(K_{eq} = 1.6 × 10^2\), indicating that products are considerably favourable, and for the Gpx catalysed reaction, \(K_{eq} = 1.3 × 10^{54}\). 
    </p>

    <h6>Quasi-closed system</h6>
    <p>
        A system is closed if there is no interaction with the external environment. This means that changes to the concentration of system components can only be derived from the system itself; there are no other enzymes or substrates that can act on, interact with or add to the system. This assumption holds more validity for some aspects of the system than others:
    </p>
    <table id="assumptions" class="table table-striped">
        <tr>
            <td>Constant Volume</td>
            <td><p>Given that the model deals with dynamic concentrations, it is important to note this concentration depends not only on the amount of substrate in mols, but also on the volume in which the substrate is dispersed. Our model assumes that this volume remains fixed, which would translate to a cell or cellular compartment that is not actively growing. Given that our system is designed to work in the cytosol rather than in a small subcellular compartment, and the growth of algal cells is significantly reduced during oxidative stress, this was deemed an appropriate assumption.</p></td>
        </tr>

        <tr>
            <td>Enzyme Concentration</td>
            <td><p>Our experimental model involves the introduction of a plasmid to an organism for the express purpose of translating and producing more of each of the enzymes Gpx, GR and GshF. However, the transcription of these genes and translation to proteins is presumed to follow the quasi-steady state assumption (QSSA), meaning that the concentration of each enzyme will reach equilibrium in an insignificant time period compared with the modelled simulation, and hence can be assumed constant.</p></td>
        </tr>

        <tr>
            <td>No external redox control</td>
            <td><p>Our model assumes that the sole method of H<sub>2</sub>O<sub>2</sub> scavenging is through Gpx. In a normal algal cell, several different enzymes and antioxidants are involved in this process, notably, superoxide dismutases and thioredoxins. The team believes that incorporating the thioredoxin pathway would be a valuable addition to the model for future projects. Without this addition, the model is still able to describe the fluctuation of redox potential under oxidative stress, but any absolute conclusions about the speed and magnitude of response would be unwise.</p></td>
        </tr>

        <tr>
            <td>Constant glutathione pool</td>
            <td><p>This system assumes that no new GSH/GSSG is introduced or leaves the system. This is not entirely true, since GSH is also involved in a number of other reactions that occur under oxidative stress, such as S-glutathionylation, and can also be degraded. Unfortunately, data for these rates was comparatively scarce and would require further investigation. The production of GSH via GshF was encapsulated by QSSA. Hence, extra GSH produced by glutathione synthetase was modelled by increasing the initial concentration of GSH present, not by introducing a GSH production rate over the course of the simulation.</p></td>
        </tr>

        <tr>
            <td>One-off ROS load</td>
            <td><p>The system did not model continual H<sub>2</sub>O<sub>2</sub> production, as might occur in chloroplast under heat stress, because there was insufficient data around the rate at which this might occur. Instead, the H<sub>2</sub>O<sub>2</sub> load was simulated by an increased initial concentration of H<sub>2</sub>O<sub>2</sub>, comparable to the concentrations of H<sub>2</sub>O<sub>2</sub> used for in vitro experiments inducing oxidative stre​​ss (Ross et al., 2006).</p></td>
        </tr>

        <tr>
            <td>Constant NADPH/NADP+ pool and ratio</td>
            <td><p>NADPH flux is the only non-closed component of the system. NADPH is involved in a vast array of cellular processes as a reducing agent, and as such assuming NADPH levels would decrease at the rate of GR activity seemed unreasonable, particularly since nothing in the system acted to convert NADP+ back to NADPH, which would occur in a real cell. Some research suggests that cells are able to balance NADPH supply and demand network-wide in response to local fluctuations (Spaans et al., 2015). However, it was also noted by Moreno-Sánchez et. al. (2018) that the NADPH redox potential is altered under oxidative stress. From consultation with Prof. Ian Dawes, it seemed advisable to consider NADPH flux and even the introduction of an NADPH synthesis enzyme to the experimental system, but due to time and lab constraints this was (delegated to) future teams.</p></td>
        </tr>

    </table>

    <br />

    <h5>Kinetics of Glutathione Peroxidase and Glutathione Reductase</h5>
    <p>
        Previous computational models have been constructed to model (mammalian) glutathione redox systems. Aon et al. (2012) modelled a glutathione/thioredoxin system used to modulate mitochondrial H<sub>2</sub>O<sub>2</sub> emissions, and validated the model using data from heart mitochondria from mouse, rat, and guinea pig (Aon et al., 2012). Cortassa et al. modelled a ROS-dependent mitochondrial oscillator, which included modelling the kinetics of glutathione peroxidase and reductase (Cortassa et al., 2004). 
    </p>

    <p>
        For our simplified model, we used the velocity expression for glutathione reductase reported in both of the aforementioned models in literature. This expression represents the velocity of GR under a bi-bi (ping-pong) sequential pathway, with Michaelis Menten saturation kinetics:
        $$V_{GR} = \frac{k_{cat; GR}[GR][GSSG][NADPH]}{[GSSG][NADPH]+K_{M; GR, GSSG}[NADPH]+K_{M; GR, NADPH}[GSSG]+K_{M; GR, GSSG}K_{M; GR, NADPH}}$$
        <br />
    </p>

    <p>
        The kinetics of glutathione peroxidases are dependent on whether the enzyme is selenium or non-selenium containing. Previous kinetic studies have shown that selenium-containing Gpxs, the predominant form in vertebrates, do not follow saturation kinetics and consequently have infinite Michaelis Menten kinetic parameters (Km and kcat) (Toppo et al., 2009). Meanwhile, in non-selenium containing Gpxs, which represent the majority of non-vertebrate Gpxs, the selenocysteine residue at the active site is replaced by a cysteine residue and the enzyme follows Michaelis Menten saturation kinetics (Toppo et al., 2009).
    </p>

    <p>
        The mammalian redox systems modelled by Aon et al and Cortassa et al used Gpx velocity expressions corresponding with that of a selenium-containing Gpx. However, as the glutathione peroxidase chosen for the plasmid design was a non-selenium containing Gpx (<em>C. reinhardtii</em> Gpx5), we used a similar expression as in Eq 1, to represent ping-pong kinetics with substrate saturation:
        
        $$V_{Gpx} = \frac{k_{cat; Gpx}[Gpx][GSH][H_2O_2]}{[GSH][H_2O_2]+K_{M; Gpx, GSH}[H_2O_2]+K_{M; Gpx, H_2O_2}[GSH]+K_{M; Gpx, GSH}K_{M; Gpx, H_2O_2}}$$
        <br />
    </p>

    <h5>Ordinary Differential Equations</h5>
    <p>
        The biochemical equations modelled in the system are as follows:

        $$\begin{aligned} \ce{2GSH + H2O2 &->[Gpx] GSSG + 2H2O} \\ \ce{GSSG + NADPH &->[GR] 2GSH + NADP^+ + H^+} \end{aligned}$$
    </p>

    <p>Accordingly, and in line with the aforementioned assumptions, the differential equations used to model the system are then as follows:</p>
    $$\begin{aligned}
        \frac{d[GSH]}{dt} &= 2(V_{GR} - V_{Gpx}) \\ 
        \frac{d[GSSG]}{dt} &= -V_{GR} + V_{Gpx} \\
        \frac{d[H_2O_2]}{dt} &= -V_{Gpx}
    \end{aligned}$$

    <p>with the concentrations of GSH, GSSG, and H<sub>2</sub>O<sub>2</sub> for each system stated in <a href="#concentrations">Table 2</a> below.</p>
</div>

<div id="ensemble">
    <h2>Ensemble Modelling</h2>
    <br />

    <p>
        When we endeavoured to find the Michaelis Menten parameters for use in the kinetic modelling of the glutathione recycling system, we found the literature to be lacking in suitable parameters for the chosen genes (in particular for the glutathione peroxidase). We had initially considered approaching this issue by using the available parameters for the single glutathione reductase and glutathione peroxidase which had the highest similarity to the respective genes from <em>C. reinhardtii</em>, which were chosen for the plasmid design. 
    </p>

    <p>
        However, when we consulted Prof. Lars Nielsen about this issue, he advised us that “even when we have more than one measurement for the same organism, the values can vary many fold (Km) to several orders (kcat)”. He referred us to the use of ensemble modelling, which could provide us with a better sense of the system’s behaviour by considering the distributions of the simulations, rather than forming a prediction based on a single set of values. He referred us to the protocol ‘Defining informative priors for ensemble modeling in systems biology’ (Tsigkinopoulou et al., 2018), from which we followed the basic steps to produce log-normal distributions for each of the kcat and Km values.
    </p>

    <p>
        The protocol first involved collating various kinetic values from literature, and assigning each value a weight to represent their plausibility, based on the organism, enzyme and conditions under which the kinetic parameter was measured. Most values collected for ensemble modelling were taken from enzyme database BRENDA (Chang et al., 2021).
    </p>

    <p>The following table lists the values and weights used for ensemble modelling for each kinetic parameter:</p>

    <div>
        <a class="table-link" data-bs-toggle="modal" data-bs-target="#ensemble_modal">Table 1: Reported values of kinetic parameters for Glutathione Peroxidase and Glutathione Reductase in literature with plausibility weights</a>
    </div>
    <br />

    <p>
        As per the protocol, following the collection of values from literature, we calculated the mode and spread of the values, which were then used to estimate the mean μ and standard deviation σ of the log-normal distribution for each parameter. This was achieved using the Matlab scripts given in the supplementary software of the Tsigkinopoulou et al protocol. Download the scripts with the parameters used to model the glutathione enzyme recycling system <a href="/assets/glutathione_ensemble_modelling.zip" download>here</a>.
    </p>

    <p>Using the mean and standard deviation of each log-normal distribution, random samples of size n = 10000 were produced for each kinetic parameter of interest:</p>

    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Modelling/Glutathione/ensemble_modelling_dists.jpg" width="90%">
    </div>
    <div class="image-caption">Fig 2: Log-normal distributions for Glutathione Peroxidase (Gpx) and Glutathione Reductase (GR) kinetic constants, n = 10000</div>

    <br />

    <p>When studying the glutathione system, simulations were run 10000 times (iterating through the random sample of kinetic values collected). As can be seen in Fig. 2, several of the distributions have very long tails. To observe the central behaviour of the system only, the median substrate concentrations with their interquartile ranges were taken from each simulation run.</p>
    <br />
</div>

<div id="simulations">
    <h2>Simulations</h2>
    <br />

    <p>
        Together with the redox states of NADPH and thioredoxin, the half-cell reduction potential (\(E_{hc}\)) of the GSSG/2GSH couple is a key indicator of the cellular redox environment (Schafer and Buettner, 2001). As such, it acts as a cellular signal for oxidative stress and is involved in the regulation of cellular states such as proliferation or apoptosis. Schafer and Buettner (2001) proposed an approximate threshold of \(E_{hc} \geq -170 \text{mV}\)  is correlated with apoptosis, and at the other end of the spectrum, \(E_{hc} \geq -240 \text{mV}\) is indicative of proliferation.
    </p>

    <p>
        Hence, each of our simulations measured the changing concentration levels of GSH, GSSG and H<sub>2</sub>O<sub>2</sub> over time, and from these values, the \(E_{hc}\) was calculated using the Nernst equation.
    </p>

    <br />
    <p>Our first set of simulations aimed to determine the relative rates of reaction for Gpx and GR, and hence, which of the two enzymes should be more highly expressed. From these initial runs, we determined that GR was significantly more active, and the system was more efficient at scavenging ROS if Gpx concentration was higher than GR concentration. From this process, we decided to work with 2 μM Gpx and 0.05 μM GR in our subsequent simulations.</p>

    <p>Our second set of simulations used the enzyme concentrations obtained above, and instead varied substrate concentrations to model different conditions.</p>
    <ul>
        <li>First, the <b>basic system</b> aimed to determine the standard behaviour of our glutathione model.</li>
        <li>Then the <b>increased ROS load</b> simulated the conditions of heat stress with a higher initial concentration of H<sub>2</sub>O<sub>2</sub>.</li>
        <li>Next, the <b>increased GSH system</b> modelled how the behaviour of the system might change with more GSH available, produced by GshF introduced via our plasmid.</li>
        <li>An increased ROS load with <b>unaugmented Gpx/GR ratio</b> was also modelled to demonstrate the behaviour of a system that did not have higher Gpx concentration compared with GR, as would occur without introduction of our plasmid containing the enzymes in series.</li>
    </ul>

    <br />
    <table id="concentrations" class="table table-striped">
        <tr>
            <th rowspan="2">Component</th>
            <th colspan="4">Initial Concentration (μM)</th>
        </tr>

        <tr>
            <th>Basic System</th>
            <th>Increased ROS load</th>
            <th>Increased GSH</th>
            <th>Unaugmented Gpx/GR ratio</th>
        </tr>

        <tr style="border-top: 1px solid #003031;">
            <td>Gpx</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>0.2</td>
        </tr>
        <tr>
            <td>GR</td>
            <td>0.05</td>
            <td>0.05</td>
            <td>0.05</td>
            <td>0.2</td>
        </tr>
        <tr>
            <td>GSH</td>
            <td>2940</td>
            <td>2940</td>
            <td>4900</td>
            <td>2940</td>
        </tr>
        <tr>
            <td>GSSG</td>
            <td>30</td>
            <td>30</td>
            <td>50</td>
            <td>30</td>
        </tr>
        <tr>
            <td>H<sub>2</sub>O<sub>2</sub></td>
            <td>1</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
        </tr>
        <tr>
            <td>NADPH</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
        </tr>

    </table>
    <div class="image-caption"><b>Table 2:</b> Initial concentrations of system components</div>



    <br />

    <h5>Basic System</h5>
    <p>We show here the standard behaviour of the glutathione system under our simplified model. 
        It is worth noting that both GSSG and H<sub>2</sub>O<sub>2</sub> concentrations significantly decrease over time to 0 M. In a cell, equilibrium would be reached before these concentrations reached 0, because reactions with very low substrate concentrations do not follow convenience kinetics as simplified in the model. Hence, GSSG/GSH and E<sub>hc</sub> values significantly beyond 100 seconds (the time of H<sub>2</sub>O<sub>2</sub> depletion) are not to be considered accurate.
    </p>

    <p>However, we can conclude that the system acts to decrease H<sub>2</sub>O<sub>2</sub> concentration over time as expected. Fig. 3 and Fig. 4 are provided as a reference for comparison with variations on the system.</p>

    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Modelling/Glutathione/Basic System.jpg" width="80%">
    </div>
    <div class="image-caption">Fig. 3: GSH, GSSG and H<sub>2</sub>O<sub>2</sub> concentrations over time under the basic system</div>

    <br />

    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Modelling/Glutathione/Basic System_GSH_Ehc.jpg" width="40%">
    </div>
    <div class="image-caption">Fig. 4: Half cell redox potential for the GSH/GSSG couple over time, under the basic system</div>


    <br />
    <h5>Increased H<sub>2</sub>O<sub>2</sub> Load</h5>

    <p>This simulation characterises the behaviour of the system under oxidative stress. We can see that a high concentration of H<sub>2</sub>O<sub>2</sub> has a significant impact on GSH and GSSG levels as the GSH is oxidised to GSSG in order to reduce (‘scavenge’) H<sub>2</sub>O<sub>2</sub>. Once the H<sub>2</sub>O<sub>2</sub> has been scavenged, GSH and GSSG levels behave as they do in the basic system (Fig. 3), with GSSG depleting over time without additional formation of ROS.</p>
    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Modelling/Glutathione/Substrate concentration over time, with increased H$_2$O$_2$ load.jpg" width="80%">
    </div>
    <div class="image-caption">Fig. 5: GSH, GSSG and H<sub>2</sub>O<sub>2</sub> concentrations over time with increased initial H<sub>2</sub>O<sub>2</sub> load</div>

    <br />

    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Modelling/Glutathione/System: Increased H$_2$O$_2$ Load_GSH_Ehc.jpg" width="40%">
    </div>
    <div class="image-caption">Fig. 6: Half cell redox potential for the GSH/GSSG couple over time, with increased initial H<sub>2</sub>O<sub>2</sub> load</div>

    <br />
    <p>
        The initial stress on the system causes the E<sub>hc</sub> to rise above the reported threshold for apoptosis of -170 mV, reaching -166 mV, indicating that these conditions could lead to cell death. The length of time for which the cell can survive at this level of stress is not known, but it is clear that levels of H<sub>2</sub>O<sub>2</sub> at or above this concentration are detrimental to the cell. In a system constantly producing new ROS due to heat stress, this redox dyshomeostasis would be prolonged. As such, we aimed to investigate whether a larger glutathione pool could further aid in ensuring the cell’s survival.
    </p>


    <h5>Increased H<sub>2</sub>O<sub>2</sub> and Increased GSH</h5>
    <p>Accordingly, we repeated the previous simulation (glutathione system with increased initial H<sub>2</sub>O<sub>2</sub> load) with a higher glutathione pool of 5μM. This model follows a very similar pattern in response to oxidative stress as the previous simulation with lower GSH levels (Fig 5). However, unlike the system with standard glutathione content, the half cell redox potential under this system (Fig 6) remains comfortably below the apoptosis threshold of -170mV.</p>
    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Modelling/Glutathione/Substrate concentration over time, with increased H$_2$O$_2$ load and glutathione content.jpg" width="80%">
    </div>
    <div class="image-caption">Fig. 7: GSH, GSSG and H<sub>2</sub>O<sub>2</sub> concentrations over time with increased initial H<sub>2</sub>O<sub>2</sub> load and increased glutathione pool</div>

    <br />

    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Modelling/Glutathione/System: Increased H$_2$O$_2$ Load and GSH Content_GSH_Ehc.jpg" width="40%">
    </div>
    <div class="image-caption">Fig. 8: Half cell redox potential for the GSH/GSSG couple over time, with increased initial H<sub>2</sub>O<sub>2</sub> load and increased glutathione pool</div>

    <br />

    <p>This supports the use and intention of including the glutathione synthetase in the plasmid in order to boost the glutathione content in the cell. Provided the gshF gene can successfully induce the production of higher GSH levels in the target organism’s cells, the increased glutathione pool can increase the cell’s buffering capacity for oxidative stress.</p>

    <br />
    <h5>Unaugmented Gpx/GR Ratio</h5>
    <p>In previous simulations, the standard model involved a higher concentration of Gpx (2 μM) than that of GR (0.05 μM), following from our proposed order of genes in the plasmid. Here we simulate the scenario where [Gpx] = [GR] = 0.2μM and the system must still scavenge a higher initial concentration of ROS.</p>

    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Modelling/Glutathione/Substrate concentration over time, with increased H$_2$O$_2$ load and [Gpx] = [GR].jpg" width="80%">
    </div>
    <div class="image-caption">Fig. 9: GSH, GSSG and H<sub>2</sub>O<sub>2</sub> concentrations over time with increased initial H<sub>2</sub>O<sub>2</sub> load, where [Gpx] = [GR] = 0.2μM</div>

    <br />

    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Modelling/Glutathione/System: Increased H$_2$O$_2$ Load and [Gpx] = [GR]_GSH_Ehc.jpg" width="40%">
    </div>
    <div class="image-caption">Fig. 10: Half cell redox potential for the GSH/GSSG couple over time, with increased initial H<sub>2</sub>O<sub>2</sub> load, where [Gpx] = [GR] = 0.2μM</div>

    <br />
    <p>This simulation demonstrated that the glutathione peroxidase was less active than the reductase.</p>

    <p>When the two enzymes’ concentrations were equal, the GSSG levels were depleted more quickly than in the standard model, while the H<sub>2</sub>O<sub>2</sub> concentration decreased far more slowly than in the standard model.</p>

    <p>Consequently we advised Wet Lab, who were designing the plasmid to express the three enzymes involved in the glutathione system, to order the enzymes with glutathione peroxidase first and glutathione reductase last in the plasmid.</p>
    <br />

    <p>Download our Jupter Notebook <a href="/assets/glutathione_latest.ipynb.zip" download>here</a>.</p>
    <br />
</div>

<div id="discussion">
    <h2>Discussion</h2>
    <br />

    <h5>Informing our System</h5>
    <p>The data derived from these kinetic models of the glutathione redox pathway provide several insights into our proposed solution. </p>
    <p>Firstly, when comparing the reduction of GSSG to GSH by glutathione reductase and the oxidation of GSH to GSSG by glutathione peroxidase, the reaction catalyzed by glutathione reductase was more efficient. Therefore Gpx would be required in higher concentrations in relation to GR to efficiently alleviate oxidative stress within the system. For this reason we believe the most effective plasmid design should place Gpx closest to the promoter, where it has the highest probability of being fully transcribed by RNA polymerase, and GR furthest from the promoter, since high concentrations of GR appear to be less critical given its efficacy. These results were invalidated by the comparative testing of Gpx to GR in mice liver models. For this experiment, initial enzymatic activity of GR was higher than Gpx for up to 12 hours in response to the developmental stages of toxic hepatitis characterised by the increasing concentrations of lipoperoxides. This aspect was reflected in our model. However, as the system continued from 36 to 125 hours, Gpx activity increased significantly and reached a specific activity of 1.4, drawing a bell curve over the stable GR activity. This presents new considerations for our initial modelling, where our standard of time was not enough to see the increased efficacy of Gpx over GR. </p>
    <p>Second, the results indicate that high levels of oxidative stress critically disrupt the glutathione redox potential and could cause apoptosis. However, increasing the amount of GSH available to the system was able to moderate this response, reducing the severity of E<sub>hc</sub> disruption to notionally acceptable levels. This provides validation for the inclusion of glutathione synthetase, GshF, in the plasmid.</p>


    <h5>Our System in Context</h5>
    <p>Methods to alleviate heat stress in algae and coral is a field of ongoing research across the world.</p>
    <p>Experimental data by Fork, et al. 1987, proposed a correlation between heat-stress and photobleaching within algae. The study was underpinned by previous experimental data that showed marked inhibition of carbon dioxide fixation and oxygen evolution capabilities when algal chloroplasts were grown at temperatures 20-30 degrees above optimal growth temperatures. This interrupts electron transport through the photosystem II which is an important light harvesting apparatus for photosynthesis. Their findings also indicated a reduction in oxidative damage when temperatures were below the threshold at which electron transport is disrupted. Since ROS is normally produced during photosynthesis (Foyer, C.H. 2018), we believe the effect of temperature on electron transport has inhibited the reducing environment of the cell, where temperature of 27 degrees could induce mild heat stress responses (Lesser, M.P. 2006). This highlighted the importance of implementing an antioxidant system that could mitigate the negative charge imbalance caused by overexpression of ROS. </p>
    <p>Additionally, oxidative damage was demonstrated to increase significantly in response to increased temperature and light interaction experiences by coral reefs (Downs et al., 2002). ROS production was identified in chloroplasts and believed to be generated from photosystem I and II activity which supports the findings of Foyer (2018). This study also postulates that H<sub>2</sub>O<sub>2</sub> could diffuse into the cytoplasm where it will either be neutralized by the antioxidant pathway or convert into hydroxyl radicals and cause free radical damage to the cell. Downs (2002) mentions that “cellular damage, such as that induced by oxidative stress, often increases protein chaperone and protein turnover activity.” which is inline with the goals of our proposed solution as we would want expression of glutathione constituents to be made once the host cell is under heat stress. The paper also supports our approach by validating that higher chaperone and antioxidant activity correlate with better survival of the host cell. </p>
    <p>With the theoretical underpinnings of our solution validated by pre-existing literature, we had to define models that could properly test our objectives. For this, we decided to test our model with enzyme kinetic modelling as they provided better estimates for enzymatic activity. This is due to its basis on Michaelis-menten and first order kinetics which are closely associated with the catalytic reaction mechanism of enzymes (Boeckx et al., 2017). </p>

    <h5>Kinetic Values and Expressions</h5>
    <p>The modelling performed here made use of ensemble techniques because there was very little data available for the kinetic constants associated with GR and Gpx in our chassis and target species. Most information related to Gpx activity has been studied in <em>H. sapiens</em> or other mammals, and as such does not necessarily reflect the behaviour of redox systems in monocellular photosynthetic algae such as S. goreaui. Future work with access to the laboratory could include performing enzyme assays of GPX5 and GSHR1 from <em>C. reinhardtii</em> to determine Km and kcat values specifically pertaining to our specific system.</p>
    <p>As described by Flohé (2012), the speed of reactions within the enzyme-substrate complex for a Sec-Gpx are so fast that assumptions of Michaelis-Menten saturation-type kinetics are no longer viable, because in effect the enzyme cannot be saturated by substrate. This has lead to the use of alternate velocity equations which do not use the kinetic constants kcat and Km at all, instead depending on a different rate constant, Φ (Toppo et al., 2009). However, experimental measurements of Φ for Sec-Gpx are even more scarce than Km values, and as such we did not use these more accurate velocity equations.</p>
    <p>In addition, limited information was found on molecules that could inhibit these reactions. It has been found that high H<sub>2</sub>O<sub>2</sub> concentrations could cause increased degradation of redox regulatory enzymes, but exact figures were not determined. This would be a valuable addition to the model. If degradation rates were included, it might also be of benefit to determine the production rates of the enzymes present. QSSA was used in this iteration of the design to assume enzyme levels stayed constant, but further investigation of the induction of oxidative stress genes by ROS and how this might change enzyme concentrations would be of value.</p>


    <h5>GPX - a rose by any other name ...</h5>
    <p>As previously noted, Gpxs fall into two distinct categories, selenium-dependent Gpxs (Sec-Gpx) and non-selenium-dependant Gpxs (C-Gpx), which have a cysteine in place of the selenocysteine within the catalytic triad (Flohé, 2012). These two types of Gpx operate with distinctly different kinetics.</p>
    <ul>
        <li>Efficiency: Sec-Gpxs are vastly more efficient at reducing ROS. C-Gpx’s tend to have rate constants in the range 10<sup>3-6</sup> M/s, whereas Sec-Gpxs have rate constants in the range 10<sup>6-7</sup> M/s (Flohé, 2012). Toppo et. al. (2009) found that mutation of a Gpx to exchange the selenocysteine to cysteine at the catalytic site reduced the specific activity of the enzyme by two to three orders of magnitude. </li>
        <li>Substrate: In addition to the above, Sec-Gpxs and C-Gpxs are optimised for different substrates. While both have the name “glutathione peroxidase”, C-Gpxs actually use thioredoxin (Trx) rather than glutathione (GSH). Our team discovered this information only late in the piece, because the majority of literature on Gpx relates to Sec-Gpxs, which are more common in mammals. Sec-Gpxs are able to use Trx, and C-Gpxs GSH, but the rate of reaction is significantly decreased for the non-preferred substrate.</li>
    
    
    </ul>

    <p>This distinction has some implications for our model. GPX5 from <em>C. reinhardtii</em> is a C-Gpx, and as such, inclusion of thioredoxins as part of the system is far more relevant.</p>

    <h5>Beyond Glutathione</h5>
    <p>Hence, this project could be extended in the future by including some of the other molecules involved in maintaining redox homeostasis. Particular focus could be devoted to thioredoxins (and enzymes involved in its synthesis and redox pathways) and NADPH (with the enzymes involved in NADPH biosynthesis).  Prof. Ian Dawes (2021, personal communication) postulated that while the behaviour of the glutathione system is an important part of redox responses in cells, regulatory systems may play a vital role in antioxidant capacity of living organisms. In particular, he suggested further investigation of chaperones like YBP1 and transcription factors such as YAP1 could provide valuable insights. Future research into these aspects of antioxidant function and its regulation may prove useful for the increased thermotolerance of the Symbiodinium goreaui and its coral host.</p>
</div>



<div id="references">
    <h2>References</h2>
    <br />
    <p>Aon, M. A., Stanley, B. A., Sivakumaran, V., Kembro, J. M., O'Rourke, B., Paolocci, N., Cortassa, S. (2012). Glutathione/thioredoxin systems modulate mitochondrial H<sub>2</sub>O<sub>2</sub> emission: an experimental-computational study. The Journal of general physiology.139(6). pg 479–491. https://doi.org/10.1085/jgp.201210772</p>
    <p>Bayr, H. (2005) Reactive oxygen species. Critical Care medicine. 33(12). pg S498-S501. doi: 10.1097/01.CCM.0000186787.64500.12</p>
    <p>Boeckx, J., Hertog, M., Geeraerd, A., Nicolai, B. (2017). Kinetic modelling: an integrated approach to analyze enzyme activity assays. Plant methods. 13:69. https://doi.org/10.1186/s13007-017-0218-y</p>
    
    <p>Chang, A., Jeske, L., Ulbrich, S., Hofmann, J., Koblitz, J., Schomburg, I., Neumann-Schaal, M., Jahn, D., Schomburg, D. (2021). BRENDA, the ELIXIR core data resource in 2021: new developments and updates. Nucleic Acids Research. 49(D1). pg D498-D508. https://doi.org/10.1093/nar/gkaa1025</p>
    
    
    <p>Cortassa, S., Aon, M. A., Winslow, R. L., O'Rourke, B. (2004). A mitochondrial oscillator dependent on reactive oxygen species. Biophysical journal. 87(3). pg 2060–2073. https://doi.org/10.1529/biophysj.104.041749</p>
    <p>Dayer, R., Fischer, B. B., Eggen, R. I., Lemaire, S. D. (2008). The peroxiredoxin and glutathione peroxidase families in Chlamydomonas reinhardtii. Genetics. 179(1). pg 41–57. https://doi.org/10.1534/genetics.107.086041</p>
    <p>Downs, C.A., Fauth, J.E., Halas, J.C., Dustan, P., Bemiss, J., Woodley, C.M. (2002). Oxidative stress and seasonal coral bleaching. Free Radical Biology and Medicine. 33(4). pg 533-543. https://doi.org/10.1016/S0891-5849(02)00907-3</p>
    <p>Flohé Leopold and Brigelius-Flohé, R. (2012) “Selenoproteins of the Glutathione Peroxidase Family,” in Hatfield Dolph L. and Berry, M.J. and G.V.N. (ed.) Selenium: Its Molecular Biology and Role in Human Health. New York, NY: Springer New York, pp. 167–180. https://doi.org/10.1007/978-1-4614-1025-6_13.</p>
    
    <p>Fork, D.C., Sen, A., Williams, W.P. (1987). The relationship between heat-stress and photobleaching in green and blue-green algae. Photosynthesis Research. 11. pg 71-87. </p>
    <p>Foyer, C.H., (2018). Reactive oxygen species, oxidative signalling and the regulation of photosynthesis. Environmental and experimental botany. 154. pg 134-142. https://doi.org/10.1016/j.envexpbot.2018.05.003</p>
    
    <p>Iskusnykh, I.Y., Popova, T.N., Agarkov, A.A., A, M.A, de Carvalho, P., Rjevskiy, S.G. (2013). Expression of glutathione peroxidase and glutathione reductase and level of free radical processes under toxic hepatitis in rats. Journal of toxicology. https://doi.org/10.1155/2013/870628</p>
    <p>Lesser, M.P. (2006). Oxidative stress in marine environments: Biochemistry and physiological ecologyI. Annual Review of Physiology. 68(1). pg 253-78. DOI:10.1146/annurev.physiol.68.040104.110001</p>
    <p>Mallick, N., Mohn, F.H. (2000). Reactive oxygen species: response of algal cells. Journal of Plant Physiology. 157(2). pg 183-193.</p>

    <p>Miranda-Vizuete, A., Damdimopoulos, A. E., Spyrou, G. (2000). The mitochondrial thioredoxin system. Antioxid Redox Signal. 2(4). pg 801-10.</p>
    <p>Moreno-Sánchez, R., Marin-Hernandez, A.,Gallardo-Perez, J., Vazquez, C., Rodriguez-Enriquez, S., Saavedra, E. (2018). Control of the NADPH supply and GSH recycling for oxidative stress management in hepatoma and liver mitochondria. Biochimica et Biophysica Acta (BBA) - Bioenergetics. 1859(10). pg 1138-1150 doi:10.1016/j.bbabio.2018.07.008.</p>
    <p>Ohdate, T., Kita, K., Inoue, Y. (2010). Kinetics and redox regulation of Gpx1, an atypical 2-Cys peroxiredoxin, in Saccharomyces cerevisiae. FEMS Yeast Research. 10(6). pg 787–790, https://doi.org/10.1111/j.1567-1364.2010.00651.x</p>
    <p>Patel, R., Rinker, L., Peng, J., Chilean, W.M. (2017). Reactive oxygen species: the good and the bad. Chemistry. DOI:10.5772/INTECHOPEN.71547</p>
    <p>Pedrajas, J. R., Kosmidou, E., Miranda-Vizuete, A., Gustafsson, J. A., Wright, A. P., Spyrou, G. (1999). Identification and functional characterization of a novel mitochondrial thioredoxin system in Saccharomyces cerevisiae. J Biol Chem. 274(10). pg 6366-73.</p>
    <p>Pophaly, S. D., Singh, R., Pophaly, S. D., Kaushik, J. K., Tomar, S. K. (2012). Current status and emerging role of glutathione in food grade lactic acid bacteria. Microbial Cell Factories. 11(1). pg 114.</p>


    <p>Ross, C., Santiago-Vázquez, L., Paul, V. (2006). Toxin release in response to oxidative stress and programmed cell death in the cyanobacterium Microcystis aeruginosa. Aquatic Toxicology. 78(1). doi:10.1016/j.aquatox.2006.02.007.</p>
    <p>Shigeoka, S., Takeda, T., Hanaoka, T. (1991) Characterization and immunological properties of selenium-containing glutathione peroxidase induced by selenite in Chlamydomonas reinhardtii. Biochem J. 275 ( Pt 3). pg 623-7.doi: 10.1042/bj2750623. PMID: 2039442; PMCID: PMC1150100.</p>
    
    <p>Spaans, S.K., Weusthuis, R.A., Oost, J.V.D., Kengen, S.W.M. (2015). NADPH-generating systems in bacteria and archaea. Frontiers in Microbiology. 6. doi:10.3389/fmicb.2015.00742.</p>
    <p>Toppo, S., Flohé, L., Ursini, F., Vanin, S., Maiorino, M. (2009). Catalytic mechanisms and specificities of glutathione peroxidases: Variations of a basic scheme. Biochimica et Biophysica Acta (BBA) - General Subjects. 1790(11). pg 1486-1500. ISSN 0304-4165, https://doi.org/10.1016/j.bbagen.2009.04.007.</p>
    <p>Tsigkinopoulou, A., Hawari, A., Uttley, M., Breitling, R. (2018). Defining informative priors for ensemble modeling in systems biology. Nat Protoc. 13(11). pg 2643–2663. https://doi.org/10.1038/s41596-018-0056-z</p>

</div>




<div class="modal fade" id="ensemble_modal" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="ensemble modelling weights modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div style="padding: 1em;">
                        <h5 class="modal-title" style="font-weight: bold;">
                            Table 1: Reported values of kinetic parameters for Glutathione Peroxidase and Glutathione Reductase in literature with plausibility weights
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                {% include ensemble_model_weights.html %}
            </div>
        </div>
    </div>
</div>


<div id="ensembleModalBackdrop" class="modal-backdrop fade show"></div>
<script src="https://2021.igem.org/common/MathJax-2.5-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script>
    let modalBackdrop = document.getElementById("ensembleModalBackdrop")

    let modals = document.getElementsByClassName('modal');
    for (let m of modals) {
        m.addEventListener('show.bs.modal', function (event) {
        modalBackdrop.style.visibility = "visible";
        modalBackdrop.style.opacity = "1";
        })
        m.addEventListener('hide.bs.modal', function (event) {
        modalBackdrop.style.opacity = "0";
        modalBackdrop.style.visibility = "hidden"
        })
    }
</script>