<div class="timeline-wrapper blue-green">
    <div class="middle-line"></div>

    <!-- <div class="box box-top">
        <div class="circle-container">
            <div class="circle" onclick="showDescription(event, 'ac_first1_last1')"></div>
        </div>
        <div class="box-content">
            <p>First1 Last1</p>
            <p><em>Role Organisation</em></p>
        </div>
    </div> -->

    <div class="box box-top">
        <div class="circle-container">
            <div class="circle"  data-bs-toggle="modal" data-bs-target="#brendan_burns"></div>
        </div>
        <div class="box-content">
            <p>A/Prof. Brendan Burns</p>
            <!-- <p><em>Role Organisation</em></p> -->
        </div>
    </div>

    <div class="box box-bottom">
        <div class="circle-container">
            <div class="circle"  data-bs-toggle="modal" data-bs-target="#marc_wilkins"></div>
        </div>
        <div class="box-content">
            <p>Prof. Marc Wilkins</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>

    <div class="box box-top">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#lars_nielsen"></div>
        </div>
        <div class="box-content">
            <p>Prof. Lars Nielsen</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>

    <div class="box box-bottom">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#wallace_bridge"></div>
        </div>
        <div class="box-content">
            <p>A/Prof. Wallace Bridge</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>

    <div class="box box-top">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#ian_dawes"></div>
        </div>
        <div class="box-content">
            <p>Prof. Ian Dawes</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>

    <div class="box box-bottom">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#david_burt"></div>
        </div>
        <div class="box-content">
            <p>David Burt</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>
</div>


<div>
    <p>The application of a broad range of sciences is an integral part of any solution that discusses the implication of synthetic biology on the environment. Given the breadth of knowledge within science, consultations with experts from each field is a given for the generation of a working solution. By actively considering the perspectives and experiences of academics, our team could produce a theoretically well-informed solution that addresses the larger issues of coral bleaching. </p>
    <p>Since the role of devising and testing our solution is shared amongst the wet and dry lab groups, we’ve had to consult with a greater diversity of scientific experts. The wet lab team was focused on designing experiments that would test the efficacy of heat shock protein expression in E.coli and the generation of a plasmid that could introduce the glutathione system to a host. Preliminary testing conducted with the heat shock protein returned results that were not in line with the team’s expectation. They discussed these results during consultations with their mentors Joshua McCluskey and Gustave Severin, who provided key insights into the experimental design. These two also provided their opinions in the design of the glutathione plasmid, along with Ian Dawes and Wallace Bridge who prompted a necessity to focus on substrates within the cellular system that could affect glutathione regulation</p>
    <p>The importance of consulting with academic stakeholders was only further emphasised for the dry lab team due to the complexity of structural and mathematical modelling. Our initial stages for modelling produced rough results as we began looking into different modelling softwares. The depth of knowledge required for each simulation and the subsequent deciphering of our models became a tall task for our members. For this, Professors Marc Wilkins and Lars Nielsen assisted our team throughout the year in understanding these results whilst informing us of other considerations. Other notable academic stakeholders were Professors Brendan Burns, Wallace Bridge, and Ian Dawes who helped reinforce the theoretical underpinnings of our model and helped redefine the end objective of our project by proposing considerations for future modelling.</p>
    <p>The opinions and experiences of academic stakeholders for both the wet and dry lab team have only served to benefit our team by filling the gaps of knowledge that could not be learnt from literature. With these gaps filled in, our team could actively work on redesigning and deciphering the results gained from experiments, which is necessary to ensure the feasibility of our solution</p>

</div>


<!-- MODALS -->

<!-- Brendan Burns -->
<div class="modal fade" id="brendan_burns" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="pro dive modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/Brendan Burns.jpeg" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            A/Professor Brendan Burns
                        </h3>
                        <h5 class="modal-caption">
                            Researcher on the evolutionary and ecological significance of microbial ecosystems
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        We interviewed A/Professor Brendan Burns to gain insight into microbial interactions with the environment and the potential impacts of our projects on the indigenous ecosystem in the Great Barrier Reef. His expertise on the interactions of the environment and microbial systems would provide insight into interactions that could arise from our proposed implementation. Additionally, we hoped to gain some feedback on our controls systems.     
                    </p>
                </div>
                
                <div>
                    <h5>Perspective on proposed implementation</h5>
                    <p>
                        Brendan offered the insight that implementing a genetically modified system will always have impacts foreseen and unforeseen on the environment. Some of the potential risks discussed included the dangers of out competing native algal species, causing disease and decreasing biodiversity. 
                    </p>
                    <p>
                        He informed us that the increasing use of GMOs means a solution of this type has potential but careful testing is essential. It was discussed that we would need to go through several levels of testing with algae, the coral and other local species in varying levels of bioreactors. This multistage testing would help to observe as many possible effects the system could have before implementing into the environment. After placing it in the environment careful observation would remain essential to understand potential impacts and mediate risks.     
                    </p>
                </div>

                <div>
                    <h5>Perspective and guidance on project design</h5>
                    <p>
                        Brendan supported the control design of using a constitutive promoter in our system to help control the expression of our exogenous enzymes and proteins. We hope our system will decrease basal activity of the enzymes while protecting the coral during bleaching events as the systems will only be triggered by stress. Brendan agreed that this could help mediate the advantages a modified species could have over other algae and reduce the risk of the modified algae becoming the dominant species. However, it was also suggested that the system itself may fail or cause damage to the coral when exposed to different conditions other than heat stress. This further emphasised the need for integrated and rigorous testing of our system before release into the environment.     
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Wallace Bridge -->
<div class="modal fade" id="wallace_bridge" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="cairns tourist info centre modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/Wallace Bridge.jpeg" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            A/Professor Wallace Bridge
                        </h3>
                        <h5 class="modal-caption">
                            Academic with focus on R&D of Glutathione supplements    
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        Wallace Bridge has extensive experience in bioprocessing-based R&D. One of his major research focuses is on glutathione and the commercialisation of antioxidative products. We approached him as he had provided advice for the Phase I team and we would like to consult him about our revised glutathione system as well as to ask for some advice about the commercialisation aspect of our project.    
                    </p>
                </div>
                
                <div>
                    <h5>Perspective on proposed implementation</h5>
                    <p>
                        Professor Bridge informed us of the importance of maintaining homeostasis in <em>Symbiodinium</em>
                        as ROS contributes to the immunity of most organisms. He also suggested the possibility of directed evolution of algae to alter the glutathione pathway to fine-tune glutathione production, possibly using methods such as CRISPR-Cas9. 
                        We had considered the possibility of including glutathione peroxidase along with glutathione synthetase and reductase to our glutathione system. He confirmed that it is viable to include glutathione synthetase and reductase within the plasmid system. 
                        However, he expressed that it may not be necessary to include glutathione peroxidase as it should be present in microalgae and would be sufficient for the glutathione pathway.     
                    </p>
                </div>

                <div>
                    <h5>Perspective and guidance on project design</h5>
                    <p>
                        Professor Bridge advised us to consider the regulatory pathways of Glutathione in microalgae as they are essential to promoting homeostasis between antioxidant levels and ROS. He also suggested we investigate the presence of a nrf2 activator or equivalent in <em>Symbiodinium goreaui</em> responsible for regulating Glutathione activity, as it may act as a roadblock for the excess Glutathione to maintain homeostasis within the organism. He also suggested we conduct glutathione characterisation in yeast and recommended us to consult Professor Dawes for expression of glutathione in yeast.     
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Marc Wilkins -->
<div class="modal fade" id="marc_wilkins" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="cairns tourist info centre modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/Marc Wilkins.jpeg" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Professor Marc Wilkins
                        </h3>
                        <h5 class="modal-caption">
                            Professor of Systems Biology UNSW; Director, Ramaciotti Centre for Genomics; and Director, Systems Biology Initiative<br /><br />
                            Research area focus: The proteome and the dynamics of protein interaction networks    
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        We initially made contact with Prof. Marc Wilkins through standard university coursework. Given his extensive knowledge about proteins and interest in their regulation and networks, when questions arose around how heat-shock proteins fit in the overall cellular system it was natural to seek his advice.    
                    </p>
                </div>
                
                <div>
                    <h5>Guidance on project design</h5>
                    <p>
                        Marc was intrigued by our question concerning the process of protein localisation to organelles, and was able to provide us with a key article discussing the translocation of proteins across plastid membranes to clarify the role of the transit peptide motif. In a later discussion around structural modelling, he recommended the software Haddock as a docking tool that provided a larger array of input parameters to guide the predictive process.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Ian Dawes -->
<div class="modal fade" id="ian_dawes" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="cairns tourist info centre modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/Ian Dawes.jpeg" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Professor Ian W. Dawes
                        </h3>
                        <h5 class="modal-caption">
                            Emeritus Professor with research focus on oxidative stress responses in yeast  
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        Prof. Ian Dawes is a pioneer in the field of yeast responses to oxidative stress, and has a significant understanding of the regulation of gene expression under such conditions and the behaviour of glutathione metabolism. As we planned to model our system in yeast, a simple eukaryotic organism, we sought out his expertise on the design of our glutathione system plasmid.    
                    </p>
                </div>

                <div>
                    <h5>Perspective on proposed implementation</h5>
                    <p>
                        Prof. Ian Dawes agreed that glutathione is a key element of redox response in cells, and increasing the reduced glutathione available in a cellular environment is an appropriate measure to increase tolerance to oxidative stress. He further suggested that investigation of other reductive potentials inside the cell could assist the overall system. The NADPH pool and thioredoxin activity in particular act at different levels to maintain oxidative homeostasis: thioredoxins act quickly to reduce stress while glutathione would take longer to respond, but would produce a more long-term result.    
                    </p>
                    <p>
                        He also highlighted the photosynthetic activity of algae, compared with something like yeast, and suggested that in our system of interest yeast could work well as a model for coral, while a plant model could provide further insights for algae.
                    </p>
                </div>
                
                <div>
                    <h5>Guidance on project design</h5>
                    <p>
                        Ian gave us the names of several key genes and transcription factors involved in the yeast response to oxidative stress, and suggested we look for homologs in the algal genome to further understand the potential behaviour of our system in algae. He was also able to suggest some potential homologous proteins in plants that might be more related to photosynthetic algae. He also gave some suggestions about building our plasmid, expressing that a eukaryotic algal model with an algal promoter would be beneficial over further prokaryotic experimentation.   
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Lars Nielsen -->
<div class="modal fade" id="lars_nielsen" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="cairns tourist info centre modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/Lars Nielsen.png" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Professor Lars Nielsen
                        </h3>
                        <h5 class="modal-caption">
                            Senior Group Leader, Australian Institute for Bioengineering and Nanotechnology<br /><br />
                            R&D of tools for metabolic modelling and flux analysis.
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        Prof. Lars Nielsen at the University of Queensland has a wealth of experience and knowledge about the kinetic modelling of complex biological systems and metabolic engineering. We established contact with him after a recommendation from Prof. Marc Wilkins and he proved extremely helpful in suggesting approaches to kinetic modelling.    
                    </p>
                </div>
                <div>
                    <h5>Guidance on project design</h5>
                    <p>
                        Lars Nielsen provided guidance on how to define our <em>in silico</em> system, and what kind of assumptions might be helpful to simplify the model. He also suggested several key resources for further reading, and noted some databases that would be useful as we searched for kinetic parameters. When we had difficulty obtaining specific kinetic values for our organism of interest, he was able to direct us to an ensemble modelling approach.    
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- David Burt -->
<div class="modal fade" id="david_burt" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="cairns tourist info centre modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/David Burt.jpeg" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            David Burt
                        </h3>
                        <h5 class="modal-caption">
                            Head of Entrepreneurship - UNSW
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        Our team considered the possibility of broadening our horizons and wanted to explore the possibility of commercialisation as a means to move forward with our project. David Burt is the Director of Entrepreneurship at UNSW, and Through the Founders Program, specialises in helping those affiliated with UNSW turn ideas into startups. Our intentions when we approached David was to decide whether the commercialisation of our solution is a feasible means of funding our research.
                    </p>
                </div>
                <div>
                    <h5></h5>
                </div>
                <div>
                    <h5>Perspective on commercialising our solution</h5>
                    <p>
                        From our conversation with David Burt, we were able to better understand the advantages and disadvantages of commercialisation, and were able to better assess whether our project is fit for commercialisation or if it was more suited to alternative sources of funding. He said that first, we needed to determine whether our project has commercial desirability (i.e. does anyone want it?), feasibility (i.e. can we prove that we can make it?) and viability (i.e. Does the money that comes out of desirability stack up against the cost that comes out of feasibility?). David encouraged us to ask ourselves some key questions regarding the commercialisation of our project: Who are the humans involved? Who is getting paid?  Who will own it? And who is commercially motivated to invest money into our solution? 
                    </p>
                    <p>
                        Although in the end, we decided that we no longer wanted to take our project down the commercialisation route, David provided us with some highly valuable advice for the continuation of our project's development. He suggested to us that we flesh out a timeline of the next steps we will need to take to eventually work towards implementing our solution. This would involve a rough estimation of all the time and cost involved and ways that we plan to overcome the various hurdles along the way. This advice was initially given to us for the purpose of providing evidence of feasibility to potential investors for our commercialised solution, however, this advice nonetheless has proven to be useful for our proposed implementation to our desired end users. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>