<div class="timeline-wrapper yellow">
    <div class="middle-line"></div>

    <div class="box box-top">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#pro_dive_modal"></div>
        </div>
        <div class="box-content">
            <p>Pro Dive Cairns</p>
            <!-- <p><em>Role Organisation</em></p> -->
        </div>
    </div>

    <div class="box box-bottom">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#cairns_tourist_info_modal"></div>
        </div>
        <div class="box-content">
            <p>Cairns Tourist Information Centre</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>
    <div class="box box-top">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#cairns_visitor_centre_modal"></div>
        </div>
        <div class="box-content">
            <p>Cairns Visitor Centre</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>
    <!-- <div class="box box-bottom">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#mike_ball_dive_modal"></div>
        </div>
        <div class="box-content">
            <p>Mike Ball Dive Expeditions</p> -->
            <!-- <p><em>Role</em></p> -->
        <!-- </div>
    </div> -->
</div>

<div>
    <p>In our 2021 vision for Human Practices, we desired to extend the scope of values considered to add extra depth to our project. This was the basis for contacting local businesses in North Queensland to understand from their perspective:</p>
    <ol>
        <li>What are the current and future impacts posed by coral bleaching on business operations?</li>
        <li>What is the perspective of the tourism industry towards synthetic biology?</li>
    </ol>

    <p>We found these insights to be invaluable in learning more about economic values. Hearing from local businesses such as dive operators and tourism centers, helped us understand their concerns and ideas for their future so we could create an appropriate solution. As the GBR is critical for Australia's tourism industry and contributes over $6.5 million annually to our GDP. It is important we consider the opinions of local businesses and gain acceptance from the public, and ensure that the solution is aligned to their needs and can support their livelihoods.</p>
    <br />
</div>


<!-- MODALS -->

<!-- Pro Dive Cairns -->
<div class="modal fade" id="pro_dive_modal" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="pro dive modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <!-- <div class="modal-photo">
                        <img src="/assets/img/Collaborations/usyd.png" height="100%" width="100%">
                    </div> -->
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Pro Dive Cairns
                        </h3>
                        <h5 class="modal-caption">
                            Scuba diving and liveaboard dive trip operator on the outer Great Barrier Reef
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        Local tourism providers interact on a daily basis with the Great Barrier Reef, depending on it for an income and to support their livelihoods. These businesses play a key role in driving the economic growth of GBR tourism. We contacted a dive shop to understand from an economic perspective how local businesses are affected by coral bleaching and their attitudes towards synthetic biology. 
                    </p>
                </div>
                
                <div>
                    <h5>Perspective on coral bleaching</h5>
                    <p>
                        “When people think about coral bleaching, everyone is thinking of white colourless coral.”
                    </p>
                    <p>
                        Consumers have a lot of misconceptions about the Great Barrier Reef before visiting. There is a prominent belief that the reef is “decimated”. I think these misconceptions can be attributed to negative media publicity about the impacts of coral bleaching on the GBR. Prior to the lockdown, from this publicity we were noticing a decline in the numbers of international customers. Coral bleaching is only really being discussed by international customers and not domestic tourists when booking the GBR trips.
                    </p>
                    <p>
                        We have not changed our dive sites over the years and our customers often surprisingly remark on the healthy appearance of the coral. People need to visit the GBR and see that the coral is colourful and alive in order to change their opinions. We depend a lot on this positive word of mouth to drive our business.
                    </p>
                </div>

                <div>
                    <h5>Perspective on synthetic biology</h5>
                    <p>
                        In my opinion, the most sustainable solution to coral bleaching in the GBR is coral transplantation. Corals are surviving in warmer temperatures near the Equator. We could transplant this coral to the GBR to help it survive.
                    </p>
                    <p>
                        The proposed synthetic biology solution could be met with resistance and fear about changing the reef ecosystem. I think consumers would still keep coming to the reef, genetically modified or not as they desire adventure.    
                    </p>
                </div>

                <div>
                    <h5>How will environmental issues change the tourism industry?</h5>
                    <p>
                        There is fear from local businesses that coral bleaching will significantly change the industry if the coral is no longer interesting for consumers to visit. Reduced tourist levels will likely have wider impacts on the whole supply chain connected to dive operators such as food providers, cleaners and accomodation in Cairns etc. Tourism providers and supporting industries will either downsize or disappear resulting in job losses and the economy suffering.    
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Cairns Tourist Information Centre -->
<div class="modal fade" id="cairns_tourist_info_modal" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="cairns tourist info centre modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/Cairns Tourist Information Centre.png" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Cairns Tourist Information Centre 
                        </h3>
                        <h5 class="modal-caption">
                            Local tourism provider based in Cairns with over 25 years of experience organising tours to the Great Barrier Reef. 
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        Local tourism providers interact on a daily basis with the Great Barrier Reef, depending on it for an income and to support their livelihoods. These businesses play a key role in driving the economic growth of GBR tourism. We contacted a tourist information centre in Cairns to understand from an economic perspective how local businesses are affected by coral bleaching and their attitudes towards synthetic biology. 
                    </p>
                </div>
                
                <div>
                    <h5>Perspective on coral bleaching</h5>
                    <p>
                        Coral bleaching is likely to impact future operations only if we continue to experience major bleaching events. Otherwise, the reef is a favoured tourist destination. Domestic Australian tourists do not ask much about coral bleaching. Coral bleaching seems to be a big topic for international tourists and they often ask questions about the health of the reef.
                    </p>
                    <p>
                        Some people have negative thoughts about coral bleaching significantly changing the tourism industry. In my opinion, the Great Barrier Reef will continue to be a “drawcard” for many years. Currently due to COVID and reduced tourism numbers to the GBR, many tourist operators and divers are saying the reef is looking healthy.     
                    </p>
                </div>

                <div>
                    <h5>Perspective on synthetic biology</h5>
                    <p>
                        I think any solution would be good to try reducing coral bleaching in the GBR. “Any solution tried is a step in the right direction”. Synthetic biology would not affect consumer opinions about the GBR as “tourists just like to see amazing biodiversity.”
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Cairns Visitor Centre -->
<div class="modal fade" id="cairns_visitor_centre_modal" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="cairns tourist info centre modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/Cairns Visitor Centre.png" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Cairns Visitor Centre
                        </h3>
                        <h5 class="modal-caption">
                            Locally owned tour booking agency based in Cairns. Since 1995, the centre has been organising Great Barrier Reef tours for tourists. 
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        Local tourism providers interact on a daily basis with the Great Barrier Reef, depending on it for an income and to support their livelihoods. These businesses play a key role in driving the economic growth of GBR tourism. We contacted a tourist information centre in Cairns to understand from an economic perspective how local businesses are affected by coral bleaching and their attitudes towards synthetic biology.     
                    </p>
                    <p style="color: #0a7c80;">
                        On their website - our team “have lived, breathed and worked in the tourism industry in Cairns for many years.”
                    </p>
                </div>
                
                <div>
                    <h5>Perspective on coral bleaching</h5>
                    <p>
                        “Coral bleaching has a destructive environmental impact on the GBR and globally.”
                    </p>
                    <p>
                        There are issues alongside coral bleaching that are destroying the GBR. Operators are visiting the same sites applying pressure on the reefs, tourists are standing on the shallow coral and applying sunscreen right before entering the reef. Along with the cruise ship industry being major polluters on the reefs, these events are regularly occurring and poisoning the GBR ecosystem. These are based on my firsthand experiences of working in the travel industry for many years and operating a local tourism centre.
                    </p>
                    <p>
                        Usually, international customers will ask about coral bleaching when booking. This is often because of media publicity spreading the image of the reef being dead such as documentaries produced by David Attenborough. International customers are mistaken about coral bleaching, they think the reef is dead which is not completely true, there are sections still alive. The best solution for addressing this environmental issue is to get society better informed. People need to wonder and visit the reef firsthand to see its natural beauty in order to be willing to fix it.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- Mike Ball Dive Expeditions  -->
<div class="modal fade" id="mike_ball_dive_modal" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="cairns tourist info centre modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/Mike Ball Dive.jpeg" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Mike Ball Dive Expeditions 
                        </h3>
                        <h5 class="modal-caption">
                            Known for providing world class diving and liveaboards on the Great Barrier Reef and in the Coral Sea since 1969. 
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>Local tourism providers interact on a daily basis with the Great Barrier Reef, depending on it for an income and to support their livelihoods. These businesses play a key role in driving the economic growth of GBR tourism. We contacted a dive provider to understand from an economic perspective how local businesses are affected by coral bleaching and their attitudes towards synthetic biology. Mike Ball is known as Australia’s leading dive liveaboard exploring the Ribbon Reefs, and has long supported scientific research in marine biology. </p>

                </div>
                
                <div>
                    <h5>Perspective on coral bleaching</h5>
                    <p>
                        “Everything about the GBR is iconic, beautiful… it desperately needs the highest possible protection available.”
                    </p>
                    <p>
                        Mass bleaching events in 16/17 had a marked impact on business operations. Mike Ball faced a difficult time with a reduction in booking numbers and income. The dive company has since invested time and resources into shifting the narrative of the GBR, advising that while the reef is in “trouble” it is “not dead and gone” as perpetuated by the media. Evidently, the company highlighted there was a clear disconnect between media coverage of the GBR and the true nature of bleaching occurring on the reefs. As such, there is a constant need to inform and educate customers in the public on the current state of the reef, with Mike Ball signifying “education is now simply part of our marketing.”
                    </p>
                    <p>There is fear that the intervals of mass bleaching events will increase and pose a more prominent threat to future operations. Mike Ball discussed if the reef is not given sufficient time to recover from bleaching, he expects to “see the demise of our industry.” Therefore, highlighting the urgent need to take action and spread awareness of coral bleaching to the wider public while sharing the experiences of locals on the GBR. Importantly, Mike Ball highlighted their raft of procedures to operate sustainably, such as being listed by GBRMPA as a ‘high standard’ tour operator and being recognised as an ‘Advanced Eco Tour Operator’. </p>
                </div>
                
                <div>
                    <h5>What is an appropriate solution?</h5>
                    <p>In terms of the most appropriate solution to coral bleaching in the GBR, Mike Ball indicated the best approach would be to reduce emissions globally. When asked if synthetic biology was suitable, the response was mostly negative and the technology was called futile and unlikely to ever be introduced. He was apprehensive of using genetic engineering techniques, citing it would be difficult to change the massive natural landscape of the GBR. </p>

                </div>
            </div>
        </div>
    </div>
</div>