<div class="timeline-wrapper yellow">
    <div class="middle-line"></div>

    <div class="box box-top">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#pro_dive_modal"></div>
        </div>
        <div class="box-content">
            <p>Pro Dive Cairns</p>
            <!-- <p><em>Role Organisation</em></p> -->
        </div>
    </div>

    <div class="box box-bottom">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#cairns_tourist_info_modal"></div>
        </div>
        <div class="box-content">
            <p>Cairns Tourist Information Centre</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>
    <div class="box box-top">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#cairns_visitor_centre_modal"></div>
        </div>
        <div class="box-content">
            <p>Cairns Visitor Centre</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>
</div>


<!-- MODALS -->

<!-- Pro Dive Cairns -->
<div class="modal fade" id="pro_dive_modal" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="pro dive modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Collaborations/usyd.png" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Pro Dive Cairns
                        </h3>
                        <h5 class="modal-caption">
                            Scuba diving and liveaboard dive trip operator on the outer Great Barrier Reef
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        Local tourism providers interact on a daily basis with the Great Barrier Reef, depending on it for an income and to support their livelihoods. These businesses play a key role in driving the economic growth of GBR tourism. We contacted a dive shop to understand from an economic perspective how local businesses are affected by coral bleaching and their attitudes towards synthetic biology. 
                    </p>
                </div>
                
                <div>
                    <h5>Perspective on coral bleaching</h5>
                    <p>
                        “When people think about coral bleaching, everyone is thinking of white colourless coral.”
                    </p>
                    <p>
                        Consumers have a lot of misconceptions about the Great Barrier Reef before visiting. There is a prominent belief that the reef is “decimated”. I think these misconceptions can be attributed to negative media publicity about the impacts of coral bleaching on the GBR. Prior to the lockdown, from this publicity we were noticing a decline in the numbers of international customers. Coral bleaching is only really being discussed by international customers and not domestic tourists when booking the GBR trips.
                    </p>
                    <p>
                        We have not changed our dive sites over the years and our customers often surprisingly remark on the healthy appearance of the coral. People need to visit the GBR and see that the coral is colourful and alive in order to change their opinions. We depend a lot on this positive word of mouth to drive our business.
                    </p>
                </div>

                <div>
                    <h5>Perspective on synthetic biology</h5>
                    <p>
                        In my opinion, the most sustainable solution to coral bleaching in the GBR is coral transplantation. Corals are surviving in warmer temperatures near the Equator. We could transplant this coral to the GBR to help it survive.
                    </p>
                    <p>
                        The proposed synthetic biology solution could be met with resistance and fear about changing the reef ecosystem. I think consumers would still keep coming to the reef, genetically modified or not as they desire adventure.    
                    </p>
                </div>

                <div>
                    <h5>How will environmental issues change the tourism industry?</h5>
                    <p>
                        There is fear from local businesses that coral bleaching will significantly change the industry if the coral is no longer interesting for consumers to visit. Reduced tourist levels will likely have wider impacts on the whole supply chain connected to dive operators such as food providers, cleaners and accomodation in Cairns etc. Tourism providers and supporting industries will either downsize or disappear resulting in job losses and the economy suffering.    
                    </p>
                </div>

                <div>
                    <h5>Key takeaways</h5>
                    <ul>
                        <li>Media is creating misconceptions in society about reef health</li>
                        <li>Negative media publicity is impacting the numbers of international tourists visiting the GBR</li>
                        <li>People should visit the GBR to see the natural beauty of the reefs and become more informed</li>
                        <li>Synthetic biology approaches could be meet with resistance</li>
                        <li>Fears about coral bleaching significantly changing the tourism industry in the future - widespread job losses and the economy suffering </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cairns Tourist Information Centre -->
<div class="modal fade" id="cairns_tourist_info_modal" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="cairns tourist info centre modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Collaborations/usyd.png" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Cairns Tourist Information Centre 
                        </h3>
                        <h5 class="modal-caption">
                            Local tourism provider based in Cairns with over 25 years of experience organising tours to the Great Barrier Reef. 
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        Local tourism providers interact on a daily basis with the Great Barrier Reef, depending on it for an income and to support their livelihoods. These businesses play a key role in driving the economic growth of GBR tourism. We contacted a tourist information centre in Cairns to understand from an economic perspective how local businesses are affected by coral bleaching and their attitudes towards synthetic biology. 
                    </p>
                </div>
                
                <div>
                    <h5>Perspective on coral bleaching</h5>
                    <p>
                        Coral bleaching is likely to impact future operations only if we continue to experience major bleaching events. Otherwise, the reef is a favoured tourist destination. Domestic Australian tourists do not ask much about coral bleaching. Coral bleaching seems to be a big topic for international tourists and they often ask questions about the health of the reef.
                    </p>
                    <p>
                        Some people have negative thoughts about coral bleaching significantly changing the tourism industry. In my opinion, the Great Barrier Reef will continue to be a “drawcard” for many years. Currently due to COVID and reduced tourism numbers to the GBR, many tourist operators and divers are saying the reef is looking healthy.     
                    </p>
                </div>

                <div>
                    <h5>Perspective on synthetic biology</h5>
                    <p>
                        I think any solution would be good to try reducing coral bleaching in the GBR. “Any solution tried is a step in the right direction”. Synthetic biology would not affect consumer opinions about the GBR as “tourists just like to see amazing biodiversity.”
                    </p>
                </div>

                <div>
                    <h5>Key takeaways</h5>
                    <ul>
                        <li>Coral bleaching is only a problem if mass bleaching events occur in the GBR</li>
                        <li>Only international customers inquire about coral bleaching</li>
                        <li>The GBR will continue to thrive for many years and there isn’t much fear about these environmental issues impacting business operations</li>
                        <li>Any solution is good, including synthetic biology</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cairns Visitor Centre -->
<div class="modal fade" id="cairns_visitor_centre_modal" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="cairns tourist info centre modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Collaborations/usyd.png" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Cairns Visitor Centre
                        </h3>
                        <h5 class="modal-caption">
                            Locally owned tour booking agency based in Cairns. Since 1995, the centre has been organising Great Barrier Reef tours for tourists. 
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Significance</h5>
                    <p>
                        Local tourism providers interact on a daily basis with the Great Barrier Reef, depending on it for an income and to support their livelihoods. These businesses play a key role in driving the economic growth of GBR tourism. We contacted a tourist information centre in Cairns to understand from an economic perspective how local businesses are affected by coral bleaching and their attitudes towards synthetic biology.     
                    </p>
                    <p style="color: #0a7c80;">
                        On their website - our team “have lived, breathed and worked in the tourism industry in Cairns for many years.”
                    </p>
                </div>
                
                <div>
                    <h5>Perspective on coral bleaching</h5>
                    <p>
                        “Coral bleaching has a destructive environmental impact on the GBR and globally.”
                    </p>
                    <p>
                        There are issues alongside coral bleaching that are destroying the GBR. Operators are visiting the same sites applying pressure on the reefs, tourists are standing on the shallow coral and applying sunscreen right before entering the reef. Along with the cruise ship industry being major polluters on the reefs, these events are regularly occurring and poisoning the GBR ecosystem. These are based on my firsthand experiences of working in the travel industry for many years and operating a local tourism centre.
                    </p>
                    <p>
                        Usually, international customers will ask about coral bleaching when booking. This is often because of media publicity spreading the image of the reef being dead such as documentaries produced by David Attenborough. International customers are mistaken about coral bleaching, they think the reef is dead which is not completely true, there are sections still alive. The best solution for addressing this environmental issue is to get society better informed. People need to wonder and visit the reef firsthand to see its natural beauty in order to be willing to fix it.
                    </p>
                </div>

                <div>
                    <h5>Key takeaways</h5>
                    <ul>
                        <li>Mass tourism is contributing to the decline of the GBR</li>
                        <li>Only international customers inquire about coral bleaching</li>
                        <li>Negative publicity is shared by the media about coral bleaching</li>
                        <li>Best solution is to raise awareness in the public and to visit the GBR firsthand</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>