<div class="timeline-wrapper dark-green">
    <div class="middle-line"></div>

    <div class="box box-top">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#david_wachenfeld"></div>
        </div>
        <div class="box-content">
            <p>David Wachenfeld</p>
            <!-- <p><em>Role Organisation</em></p> -->
        </div>
    </div>

    <div class="box box-bottom">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#will_howard"></div>
        </div>
        <div class="box-content">
            <p>Will Howard</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>

    <div class="box box-top">
        <div class="circle-container">
            <div class="circle" data-bs-toggle="modal" data-bs-target="#kevin_gale"></div>
        </div>
        <div class="box-content">
            <p>Kevin Gale</p>
            <!-- <p><em>Role</em></p> -->
        </div>
    </div>
</div>

<div>
    <p>Now that the UNSW iGEM team has entered the second phase of our project, the prospect of implementing our solution has become increasingly viable. As one of our proposed end-users, our relation with government bodies is necessary for the future funding and implementation of our solution. As emphasised in our conversation with Will Howard, “science and research is about giving society as many policy options as possible”. Considering that our project is still in the very early stages, our goal for interacting with government organisations was to learn how to best communicate our project to demonstrate its value and feasibility. Our second goal has been to better understand the public perspective of our solution, and how we can better communicate our values to the public. The government is accountable for the people connected to the GBR, with motivations secured by legislation to act in the best interest of the environment and the surrounding communities.</p>
</div>


<!-- MODALS -->

<!-- David Wachenfeld -->
<div class="modal fade" id="david_wachenfeld" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="pro dive modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/David-Wachenfeld-200x200.jpeg" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            David Wachenfeld
                        </h3>
                        <h5 class="modal-caption">
                            Chief Scientist for the Great Barrier Reef Marine Park Authority
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Summary of role</h5>
                    <p>
                        David is the Chief scientist for the Great Barrier Reef Marine Park Authority (GBRMPA), which is the lead management agency for the GBR, responsible food the protection and care of the reef. The GBRMPA works with a variety of partners, supporters and advisors to manage and conserve the reed for future generations
                    </p>
                </div>

                <div>
                    <h5>Significance</h5>
                    <p>
                        The GBRMPA works with a variety of partners including the government, traditional owners, community organisations, and industry to protect and manage the reef. From his extensive career working for the GBRMPA as a former director and as the current chief scientist, David Wachenfeld has a unique and significant understanding of reef conservation and management.     
                    </p>
                </div>
                
                <div>
                    <h5>Perspective on coral bleaching</h5>
                    <p>
                        With reference to the 2019 Barrier Reef Outlook Report, David acknowledged that significant global efforts to address climate change are critical to slowing the deterioration of the Great Barrier Reef’s ecosystem, supporting its recovery. He fears that the current efforts to protect the GBR are only delaying the inevitable if the ocean temperatures continue to rise at its current trajectory. David believes that mitigation is key to protecting the reefs so that there can be room for adaptation. 
                    </p>
                </div>

                <div>
                    <h5>Perspective on synthetic biology</h5>
                    <p>
                        In our conversation with David, we spoke about there is already a great resistance against the manipulation of genetics in industrial and agricultural settings, and how proposing to use genetic manipulation in the natural environment posed even greater social and ethical challenges. He explained that in his experience, people who are against manipulating the genetics of the environment hold these moral standpoints because it is seen as meddling with nature and “playing God”, as he described it. However, David also pointed out that each time there is a major coral bleaching event, an enormous slice of genetic information is lost forever. He said “We are already manipulating the genetics of the coral reef, it's just by climate change”. He offered us an alternative perspective that “Climate change is already people playing God” - we can either choose to be passive or do something about it.
                    </p>
                </div>

                <div>
                    <h5>Guidance on project design</h5>
                    <p>
                        David pointed out that in order to prove our solution as feasible, we need to consider the complexity of the marine ecosystem in the Great Barrier Reef. David talked about the highly interconnected nature of the marine ecosystem on the GBR and how this complexity would make it a great challenge for us to control the impact of our solution -  We need to consider how the changes we make to the algal species would affect other microorganisms in the coral holobiont, keeping in mind that there is so much complexity in the ocean that is still not fully understood, and how the function of all the microorganisms in the holobiont are not known. He emphasized that the hardest part for us won’t be what we are accomplishing in the lab, but the part that deals with the complexity of live coral. Hence, David directed us to seek out access to a sea simulator that can model the complexities of a living reef. 
                    </p>
                    <p>
                        David also talked to us about the interconnectedness of the coral reefs. He explained it using an analogy that compares reefs to airports: some airports are connected to many other airports, while others may be only connected to one. Thus, certain airports have a higher impact than others to the surrounding ports. David urged us to consider this analogy as we began to consider the implementation of the project; since we cannot implant our solution to all corals in the GBR, we should aim to target the ‘hub of reefs’, in places in which the coral spawns are most likely to end up on other reefs by action of the current, thereby maximising our impact.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Kevin Gale -->
<div class="modal fade" id="kevin_gale" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="pro dive modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/Kevin Gale.png" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Kevin Gale
                        </h3>
                        <h5 class="modal-caption">
                            Assistant Director of the Reef Branch, in the Department of Agriculture, Water and the Environment.
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Summary of role</h5>
                    <p>
                        Kevin Gale has had an extensive career working in a Science-centric, government role. Since 2006, he has been involved in designing and managing projects that protect the Great Barrier Reef, most notably, in controlling crowthorne starfish control. 
                    </p>
                    <p>
                        In addition to this, he has been instrumental in fortifying the relationship that exists between research in the Great Barrier Reef and the design implementation of these programmes.
                    </p>
                </div>

                <div>
                    <h5>Significance</h5>
                    <p>
                        The duality between Kevin Gale’s highly technical background in Biochemistry and Molecular Biology and his first-hand experience working in the Reef Trust task force flagged him as the ideal candidate to discuss the recent mass coral bleaching events. In addition to this, our team was interested to scope out where the Australian Government ranks coral bleaching as a level of priority, and scoping their attitudes towards introducing a genetically modified product into the natural environment.
                    </p>
                </div>
                
                <div>
                    <h5>Perspective on coral bleaching</h5>
                    <p>
                        The Great Barrier Reef Outlook report recognises that by far,  climate change is the most significant factor that puts the Great Barrier Reef in jeopardy. 
                    </p>
                    <p>
                        Most entities including the Marine Park Authority and researchers conducting on-ground work are placing a large emphasis on ameliorating the resilience of the reef, so that it can still thrive during thermal duress. There is also a strong focus on recovering those corals affected by thermal stress and preventing phage shifts from coral-dominated to micro-algal dominated system, over preventing the occurrence of coral bleaching.
                    </p>
                </div>

                <div>
                    <h5>Perspective on synthetic biology</h5>
                    <p>
                        In terms of low and no-regret options, I don’t think there have been any options that have been implemented as of yet. It is always easier to use a less invasive and controversial option to solve an issue as such, such as natural selection or selective breeding. 
                    </p>
                    <p>
                        However, in our current climate, the temperatures of the water seems to only be escalating and there hasn’t been a viable option that has proven to reverse or halt the effects of the rising temperatures - which is where the use of a genetically modified organism could prove to be beneficial. An introduction of an organism as such would have to undergo thorough testing and check its impact on its neighbouring species, before being released.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Will Howard -->
<div class="modal fade" id="will_howard" tabindex="-1" data-bs-backdrop="true"
  aria-labelledby="pro dive modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div class="modal-photo">
                        <img src="/assets/img/Human_Practices/Stakeholders/Will Howard.jpeg" height="100%" width="100%">
                    </div>
                    <div style="padding: 2em;">
                        <h3 class="modal-title">
                            Will Howard
                        </h3>
                        <h5 class="modal-caption">
                            Climate Science and Adaptation Department at the Department of Agriculture, Water and the Environment
                        </h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
            </div>
            <div class="modal-body">

                <div>
                    <h5>Significance</h5>
                    <p>
                        Will Howard works at the Australian Government Department of Agriculture, water and the Environment. He provides climate science advice across climate science, climate adaptation, negative emissions, Great Barrier Reef policy and other issues. He is currently continuing research on marine climate change, with a particular emphasis on ocean acidification and its impacts on the ocean, through affiliation with ANU. We contacted Will for advice regarding the ethical, legal and social considerations required to support the development of synthetic biology solutions to climate problems.     
                    </p>
                </div>

                <div>
                    <h5>Perspective on synthetic biology</h5>
                    <p>"To me, science and research is about giving society as many policy options as possible". Will Howard explained that he thinks the science perspective is extremely valuable, even if we never use the technology that we create.  To him, the value of research does not only come from the potential success of the solution but the fact that we are inadvertently broadening our pool of knowledge. Hence, it is important that the government fund projects like ours that work towards protecting the GBR.</p>
                </div>

                <div>
                    <h5>Guidance on project design</h5>
                    <p>Our conversation with Will Howard emphasised the many reasons why using an artificial reef simulator is crucial to implementing our solution. His perspectives improved our understanding of the environmental risks our genetically engineered solution could pose and our responsibility to be proactive and consider all the potential scenarios. </p>
                    <p>Will highlighted that humans had made severe mistakes in the past that still have continual effects on the environment. He referred to the introduction of Cane Toads in Australia as a means of pest control, which led to devastating environmental consequences that still affect the ecosystem today. He also noted that the potential harm we could cause might be difficult to predict with the limited information of our current science. For example, the invention of the automobile is among the most significant in human history. However, the effects on the environment many years down the track were not perceivable at the time of its invention. This conversation facilitated our understanding that future impacts on the environment are challenging to foresee. Will encouraged us to use this understanding to be more proactive when considering our responsibilities to the environment as we look towards implementing our solution.</p>
                    <p>During our discussion, Will emphasised that the natural environment is highly complex with constantly changing environmental variables. Will suggested that we explore using the Australian Institute of Marine Science's National Sea Simulator (SeaSim), which is a world-class marine research aquarium facility in which scientists provide fine control over environmental variables.</p>
                    <p>During our discussion, Will also explained that most biochemical capabilities come with metabolic costs. Hence, we should consider whether having a genetic mechanism to increase thermal tolerance would result in metabolic costs that affect our organism under normal conditions. This is, again, something that should be addressed in an ecosystem-level experiment in a sea simulator such as SeaSim.</p>
                </div>
            </div>
        </div>
    </div>
</div>