<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab-survey" role="tablist">
        <button class="nav-link active" id="nav-survey-overview-tab" data-bs-toggle="tab" data-bs-target="#survey_overview" type="button" role="tab">Overview</button>
        <button class="nav-link blue-green" id="nav-survey-genetic-eng-tab" data-bs-toggle="tab" data-bs-target="#survey_genetic_engineering" type="button" role="tab">Genetic engineering to restore coral reefs</button>
        <button class="nav-link red" id="nav-survey-safety-tab" data-bs-toggle="tab" data-bs-target="#survey_safety" type="button" role="tab">Safety concerns</button>
        <button class="nav-link yellow" id="nav-survey-engagement-tab" data-bs-toggle="tab" data-bs-target="#survey_engagement" type="button" role="tab">Public engagement</button>
        <button class="nav-link dark-green" id="nav-survey-demographics-tab" data-bs-toggle="tab" data-bs-target="#survey_demographics" type="button" role="tab">Demographic data</button>
    </div>
</nav>



<div class="tab-content">

    <!-- OVERVIEW -->
    <div class="tab-pane fade show active" id="survey_overview" role="tabpanel">
        <br />
        <h5>What does the public think about using genetic engineering to target the issue of coral bleaching?</h5>
        <p>Designing a solution that is responsible and good for the world requires understanding the opinions and values of wider society. Integral to our solution was incorporating a people-centric approach, including a diversity of perspectives from the public to help inform the development of our project. </p>
        <p>Our online survey was sent to the public and we received 260 responses. We asked for their opinions on using synthetic biology to restore our reefs and target coral bleaching.</p>
    
        There are 4 sections in our survey:
        <ol>
            <li>Public perceptions towards using genetic engineering to restore coral reefs </li>
            <li>Public perspective on safety concerns associated with genetic engineering techniques </li>
            <li>Public engagement</li>
            <li>Demographic data</li>
        </ol>
    
        <p>
            Our survey was significantly shaped by a CSIRO report on ‘Public perceptions of using synthetic biology to restore the Great Barrier Reef’. The CSIRO report can be found in the references (CSIRO, 2020). For a detailed view of the questions we asked to the public, our survey design can be downloaded <a href="/assets/HP survey design.pdf" download>here</a>.  
        </p>
    </div>



    <!-- GENETIC ENGINEERING PERCEPTIONS -->
    <div class="tab-pane fade" id="survey_genetic_engineering" role="tabpanel">
        <br />
        <h3>Public perceptions towards using genetic engineering to restore coral reefs </h3>
        <br />
        <h6>Knowledge of coral bleaching</h6>
        <p>Our survey found the majority of the public <b>(94%)</b> know about coral bleaching. Only <b>48%</b> of participants indicated they were able to <b>understand and describe the issue</b>. This showed to us there was a knowledge gap in the public and a need to educate others about coral bleaching beyond a surface level of recognition. </p>
        
        <div style="display: flex; width: 100%; justify-content: center;">
            <img src="/assets/img/Human_Practices/Survey/HP survey_Figure 1.png" width="60%">
        </div>
        <br />

        <p>Most of the public <b>(63%)</b> gathered their knowledge of coral bleaching from <b>social media</b>. The most common sources of information for hearing about coral bleaching included social media, school/university, TV and websites. This helped us understand the public was digesting information mostly from the media and in turn, our project should seek to increase their access to accurate information. </p>
    
        <div style="display: flex; width: 100%; justify-content: center;">
            <img src="/assets/img/Human_Practices/Survey/HP survey_Figure 2.png" width="60%">
        </div>
        <br />


        <h6>Attitudes towards coral bleaching</h6>

        <!-- floated -->
        <div style="width: 30%; float: right; padding-left: 1em;">
            <img src="/assets/img/Human_Practices/Survey/HP survey_Figure 3.png" width="100%">
        </div>
        <!--  -->

        <p><b>96%</b> of the public either <b>strongly agree or agree</b> that coral bleaching is a significant threat to our environment. </p>
    
        <h6>Impressions of genetic engineering</h6>
        <p>Our research found the majority of individuals <b>(75%) strongly agree or agree</b> with supporting the use of genetic engineering to restore coral reefs. </p>
    
        <p>To understand the emotional impact of genetic engineering, we asked participants to select three emotions that best described their feelings towards this technology. The overwhelming majority were <b>Curious and Interested (82%)</b> and <b>Hopeful (77%)</b>. On the other side of the spectrum, the emotions of feeling <b>Nervous (15%)</b> and <b>Fearful (5%)</b> were only selected by a minority of the public. This signified to us the psychological impact of our proposed technology was mostly positive and the public was interested to learn more about the future of synthetic biology.</p>

        <h6>Risk management</h6>
        <p>
            When asked if there were more benefits than risks of using genetic engineering, the most common response was <b>Neutral (46%)</b>, indicating there was apprehension from the public about the risks vs benefits of the proposed technology. This hesitant attitude was further highlighted when participants were asked if genetic engineering is harmful for the environment. <b>57%</b> of the public held a <b>Neutral</b> opinion about the technology being harmful and only <b>33% disagreed</b> with the statement. These public perspectives are vital for our research team to know, as insights gathered from the public’s understanding of the risks and benefits of genetic engineering can help shape the development of our project. 
        </p>

        <h6>Regulation and trust</h6>
        <p>
            Only <b>40% strongly agree-agree</b> that the government can be trusted to approve and regulate the technology to ensure it is safe to use. Most of the public <b>(38%)</b> had a <b>neutral</b> opinion about the government being able to regulate this technology responsibly. Evidently, we recognised a pain point in the implementation of our project would be establishing trust between society and government bodies. 
        </p>
        <p>
            Most individuals <b>(73%) strongly agree-agree</b> that scientists can be trusted to develop this technology responsibility. We found people were supportive of scientific processes and trusted researchers to develop a socially responsible technology. 
        </p>

        <div style="display: flex; width: 100%; justify-content: center;">
            <img src="/assets/img/Human_Practices/Survey/HP survey_Figure4.png" width="70%">
        </div>
        <br />
    </div>

    <!-- SAFETY CONCERNS -->
    <div class="tab-pane fade" id="survey_safety" role="tabpanel">
        <br />
        <h3>Public perspective on safety concerns associated with genetic engineering techniques </h3>
        <br />
        
        <p>Many individuals <b>(57%) agreed</b> they were concerned about the potential long-term risks of genetic engineering. Our survey aimed to understand the risks associated with the technology from the wider perspective of the public. When asked to detail the perceived safety concerns of our solution, we found the public feedback focused on <b>5 core concerns</b> detailed below:</p>

        <div style="display: flex; width: 100%; justify-content: center;">
            <img src="/assets/img/Human_Practices/Survey/HP survey safety concerns.png" width="50%">
        </div>
        <br />

        <ol>
            <b><li>Adverse impact on the marine environment
                <ul style="font-weight: normal;">
                    <li>We need to focus on how our solution could impact ecosystem dynamics, as the public cited a reduction in genetic diversity, flow on effects in the food chain and overpopulation of bio-engineered species as key concerns.</li>
                    <li><em>“Since coral is also a food source for some marine species, could the potential genetic engineering cause harm to any other species?”</em></li>
                    <li><em>“Would there be issues where the coral becomes uncontrollable?”</em></li>
                </ul>
            </li></b>

            <b><li>Long term or unforeseen risks of genetic engineering
                <ul style="font-weight: normal;">
                    <li>A long term mindsight is required to ensure we have the proper risk management in place and an understanding of how this technology may alter the environment.</li>
                    <li><em>“Potential long term issues, where the coral may not last as long or the behaviour of coral is irregular due to having new genes that could affect the life of coral, compared to the normal.”</em></li>
                </ul>
            </li></b>

            <b><li>Rigorous testing prior to implementation
                <ul style="font-weight: normal;">
                    <li>Many in the public were worried about the irreversible impacts of the technology if released early, referring to the cane toad example. The public desires long term testing to prevent short sighted decisions being made.</li>
                    <li><em>“It would require long term testing to really know the risk to the environment. Society has a history of making short sighted quick decisions. For instance, introducing cane toads to Queensland. There's no real way of knowing what modified coral will do to the delicate ecosystem.”</em></li>
                </ul>
            </li></b>

            <b><li>Unsure of regulations
                <ul style="font-weight: normal;">
                    <li>Uncertainty over who controls this technology and the regulations governing its use in society. </li>
                    <li><em>“It’s still such a new technology, unsure about what regulations there are”</em></li>
                    <li><em>“Who will have access to this technology?”</em></li>
                </ul>
            </li></b>

            <b><li>Small scale, band aid solution
                <ul style="font-weight: normal;">
                    <li>The public may view this solution as a temporary fix to the larger problem of climate change impacting ecosystems</li>
                    <li><em>“May be only a small scale, temporary solution, & therefore maybe will fail.”</em></li>
                </ul>
            </li></b>
        </ol>
    </div>

    <!-- PUBLIC ENGAGEMENT -->
    <div class="tab-pane fade" id="survey_engagement" role="tabpanel">
        <br />
        <h3>Public perspective on safety concerns associated with genetic engineering techniques </h3>
        <br />
        <p>The public showed a high level of interest with learning more about our solution, with <b>73%</b> of individuals indicating they were curious to stay engaged with our project. </p>
    
        <div style="display: flex; width: 100%; justify-content: center;">
            <img src="/assets/img/Human_Practices/Survey/HP survey_Figure 5.png" width="35%">
        </div>
        <br />

        <p>We wanted to understand what questions the public had about our project, in order to improve our solution and better address the needs of the wider community. We found 50% of the public wanted to provide feedback which signified there was great interest in learning about synthetic biology. We identified <b>8 key themes</b> as shown below.</p>
    
        <div style="display: flex; width: 100%; justify-content: center;">
            <img src="/assets/img/Human_Practices/Survey/HP survey engagement.png" width="50%">
        </div>
        <br />

        <p>By thematically analysing the responses from the public, we determined these to be the most important themes and in doing so, we aim to reflect the voices of the public in our HP section:</p>

        <ol>
            <b><li>Risks of genetic engineering (55%):
                <ul style="font-weight: normal;">
                    <li>Significant desire to learn more about the potential risks of this technology such as unintended mutations and how these risks will be mitigated.</li>
                    <li><em>“Are there any risks of implementing this in a large environment where not all factors can be controlled?”</em></li>
                </ul>
            </li></b>

            <b><li>Impact on the environment (50%):
                <ul style="font-weight: normal;">
                    <li>The public strongly wants to preserve coral reefs and not impact the existing marine environment in a negative way </li>
                    <li><em>“Will this affect the other species around the Great Barrier Reef?”</em></li>   
                </ul>
            </li></b>

            <b><li>Scientific techniques and experimental design (46%):
                <ul style="font-weight: normal;">
                    <li>Most of the public is unfamiliar with genetic engineering and find the terminology confusing or foreign so there is a need to better explain the scientific techniques we are applying in our solution. Essentially, we should answer, “how does it work in the lab” to the public.</li>
                    <li>“How is it done? Which genes are used and if applicable, from what organism?” </li>
                    <li>“Forecasting techniques you're using to simulate how your solution will work in the real-world environment”</li>
                </ul>
            </li></b>

            <b><li>Ethics (25%):
                <ul style="font-weight: normal;">
                    <li>We should focus on discussing ethical values in our project and how we devised a solution to meet ethical frameworks. </li>
                    <li>“I don’t know enough about the potential risks and ethics associated so that would be interesting to know”</li>
                </ul>
            </li></b>

            <b><li>Proposed Implementation (18%)
                <ul style="font-weight: normal;">
                    <li>Importantly, we found the public wants to know how we will bring our solution to the market? Central to our proposed implementation is addressing the scope, timelines and scale of our project, to be reflective of this feedback. </li>
                    <li><em>“The scope of the solution and rollout strategy in a timeline”</em></li>
                    <li><em>“the timeline of development and implementation…the ability for government decisions to consider scientific and environmental advice instead of economic advice”</em></li>
                </ul>
            </li></b>
        </ol>

        <br />

        <p>
            In the future, most of the public would like to be engaged in the discussion about our project through an infographic summarising our key findings <b>(67%)</b> or social media posts <b>(60%)</b>. In turn, we’ve actively sought out to use more visuals and easy to read, bite size pieces of information to engage with our public in this year’s project. As well as consistently posting on our social media channels about our project updates to align with this valuable feedback. Our team hopes to in the future seek new ways of engaging with the public in order to better meet their needs. 
        </p>

        <div style="display: flex; width: 100%; justify-content: center;">
            <img src="/assets/img/Human_Practices/Survey/HP survey_Figure 6.png" width="50%">
        </div>
        <br />
    </div>

    <!-- DEMOGRAPHICS -->
    <div class="tab-pane fade" id="survey_demographics" role="tabpanel">

        <br />
        <h3>Demographic data</h3>
        <br />

        <div style="width: 15%; float: right; padding-left: 1em;">
            <img src="/assets/img/Human_Practices/Survey/demographics 1.png" width="100%">
        </div>
        <p>Our survey was conducted using an online Microsoft Forms and the survey link was then distributed to interested parties. The survey was completed by 260 individuals between the 21st of July – 13th of October 2021. The majority of individuals (80%) were located in Australia and 20% were International. Most of the participants (66%) were aged 19-24, owing to our close ties to a university demographic. Thus, 62% indicated they were currently studying at university. There was a diverse range of employment statuses, with full-time, part-time and unemployed being the 3 most common responses. Out of 260 respondents, the majority selected high school as the highest level of education completed (n=120), followed by a bachelor’s degree (n=104). </p>
    
        <p>A few key limitations of our survey demographic that should be noted:</p>
        <ul>
            <li>0.01% identified as Aboriginal and/or Torres Strait Islander</li>
            <li>72% of participants were located in NSW (the location of our university)</li>
            <li>The gender was skewed towards Females (69.2%)</li>
            <li>The representation rates of age groups outside of the 19-24 bracket could be improved</li>
        </ul>

        <p>
            In the future, when considering the demographics of our survey, we hope to be more reflective of the broader Australian population. Given the restraints of lockdown and an inability to engage with the public in person, we still find these insights valuable in providing an indication of societal opinions towards using genetic engineering to restore coral reefs. 
        </p>
        <div style="display: flex; width: 100%; justify-content: center;">
            <img src="/assets/img/Human_Practices/Survey/Demographic 2.png" width="60%">
        </div>
        <br />
    </div>
</div>