<div class="timeline-wrapper red">
    <div class="middle-line"></div>

    <div class="box box-top">
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="box-content">
            <p>First Last</p>
            <p><em>Role</em></p>
        </div>
    </div>

    <div class="box box-bottom">
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="box-content">
            <p>First Last</p>
            <p><em>Role</em></p>
        </div>
    </div>
    <div class="box box-top">
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="box-content">
            <p>First Last</p>
            <p><em>Role</em></p>
        </div>
    </div>
    <div class="box box-bottom">
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="box-content">
            <p>First Last</p>
            <p><em>Role</em></p>
        </div>
    </div>
</div>
