<br />

<div class="modal-content" style="background-color: inherit;">
    <div class="modal-header" style="border-color: #dae5e4;">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div class="modal-photo">
                <img src="/assets/img/Human_Practices/Stakeholders/Traceylee Manuwuri.jpeg" height="100%" width="100%">
            </div>
            <div style="padding: 2em;">
                <h3 class="modal-title">
                    Traceylee Manuwuri Forester
                </h3>
                <h5 class="modal-caption">
                    Indigenous Partnerships Coordinator at Australian Institute of Marine Sciences (AIMS)
                </h5>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div>
            <h5>Summary of role</h5>
            <p>The intersection between Traceylee Manuwuri Forester’s personal experiences as a Lama Lama and Nywaygi woman and her passion for seeing more Traditional Owner representation in organisations involved in the handling of research in Sea Country, had lead to her extensive career in bringing about social change in the structures of these organisations. </p>
            <p>As the Indigenous Partnerships Coordinator at AIMS, Manuwuri’s main role is to act as a bridge between researchers and Traditional Owners of Country, and to help facilitate the back-and-forth conversation between the two.</p>
        </div>
        <div>
            <h5>Significance</h5>
            <p>Initially, we approached Manururi as we believed that her nuanced background - attributed to her background as a Traditional Owner, involvement in AIMS and the government system that is emerging from the Great Barrier Reef space for Traditional Owners, would provide us with a deeper understanding on how to best blend the knowledge of the first scientists in this vast nation of Australia, with modern Science.</p>
        </div>
        
        <div>
            <h5>Perspective on coral bleaching</h5>
            <p>During our conversation, Manuwuri highlighted that historically, certain Indigenous communities believe that at a particular point in time, the coral reefs used to exist above sea level and their ancestors' resided on these seafloors. The strong relationship of these communities to this land is reinforced by the connection to the past and the knowledge passed down by each generation regarding this time’s practices.</p>
            <p>Despite incidences of dispossession and displacement, Aboriginal and Torres Strait Islander people have still maintained their connection to Sea Country and continue to perform certain practices to try and counteract the milenia worth of stress caused by the influx of Western practices that were enacted from the time of settlement (Great Barrier Reef Marine Park Authority, n.d.). </p>
            <p>Given her involvement with an organisation such as AIMS, Manuwuri admits that she has more of an understanding than most individuals in Indigenous communities do. However, the wider population has a base-level understanding that the recent mass coral bleaching events have been driven by climate change. The first-hand experience of Indigenous communities situated above the latitude of Cairns has been far worse than those located elsewhere along the coastal regions. With communities located South of the Great Barrier region being unaware of these coral bleaching events, there is an ignorance of the devastation caused by these coral bleaching events. </p>
        </div>

        <div>
            <h5>Perspective on synthetic biology</h5>
            <p>It is important that the introduction of a Genetically Modified Product does not end up like the Cane Toad issue we are currently facing. With an issue as such, there has been a rightful displacement of trust in the Science realm and it has been a steep learning for this community.</p>
            <p>Historically at AIMS, it has been easier to convey to Traditional Owners regarding non-invasive alternatives as it was interpreted as not being outside of natural order and taking place in a laboratory instead. With the projects that were involved with Genetically Modified Organisms, it was important to the organisation to hone in on the terminology, which can aid in the assimilation of this information, and comprehensively explain the various stages in this pipeline of producing a synthetic biology product.</p>
            <p>In the context of our project, she advised to proactively involve Indigenous perspectives from the grassroots stage of our project. “Quite simply put, the science is better”, Manuwuri says, about blending the perspectives of Traditional Owners and Western scientific principles. This can be attributed to the communities’ in-depth knowledge about Country and their keen observation skills of the environmental changes leading up till now. Traditional Owners could point scientists in the right direction, and allow for the research to be more fruitful.</p>
        </div>
    </div>
</div>
<br />


<p>First Nation people are widely-recognised as the first scientists, not only in Australia but around the world. Over time, the practices followed by this community have shown great adaptability and efficacy but the application of these practices in a contemporary setting has only been explored relatively recently (Narragunnawali Reconciliation in Schools and Early Learning, n.d.). </p>
<p>For this year’s Phase II project, we wanted to continue engaging with our Traditional Owner counterparts and explore the narrative of why the Great Barrier Reef is so important to these communities and how we can best serve this community. On the advice of A/Prof Daniel Robinson, we tried to follow the Talanoa research methodology, established by Pasifika social science researchers, which is equivalent to narrative interviews that reflect on the lived realities of the individual instead (Fa’avae, Jones and Manu’atu, 2016).In addition to this, we formulated the below-listed questions in a semi-structured interview format, which is a form of participatory research.</p>
<ol>
    <li>Where did the totemic relationship existing between the Great Barrier Reef and Traditional Owner communities develop from, and how would coral bleaching impact this relationship?</li>
    <li>What is the perspective of the Traditional Owner communities towards synthetic biology?</li>
</ol>

<p>Manuwuri was incredibly accommodating to our rudimentary understanding of the connection between Traditional Owners and the Great Barrier Reef. She reinforced the need to acquire informed consent from those in the community during the early stages of developing our GMO product. Her invaluable advice regarding maintaining communication with Aboriginal and Torres Strait Islanders from the dawn of our project was also monumental in shaping the future direction of our project. </p>
<br />



