<br />

<div class="modal-content" style="background-color: inherit;">
    <div class="modal-header" style="border-color: #dae5e4;">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div class="modal-photo">
                <img src="/assets/img/Human_Practices/Stakeholders/Traceylee Manuwuri.jpeg" height="100%" width="100%">
            </div>
            <div style="padding: 2em;">
                <h3 class="modal-title">
                    Traceylee Manuwuri Forester
                </h3>
                <h5 class="modal-caption">
                    Indigenous Partnerships Coordinator at Australian Institute of Marine Sciences (AIMS)
                </h5>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div>
            <h5>Role</h5>
            <p>
                The intersection between Traceylee Manuwuri Forester’s personal experiences as a Lama Lama and Nywaygi woman and her passion for seeing more Traditional Owner representation in organisations involved in the handling of research in Sea Country, had lead to her extensive career in bringing about social change in the structures of these organisations. 
            </p>
            <p>
                As the Indigenous Partnerships Coordinator at AIMS, Manuwuri’s main role is to act as a bridge between researchers and Traditional Owners of Country, and to help facilitate the back-and-forth conversation between the two.
            </p>
        </div>
        <div>
            <h5>Significance</h5>
            <p>
                Initially, we approached Manururi as we believed that her nuanced background - attributed to her background as a Traditional Owner, involvement in AIMS and the government system that is emerging from the Great Barrier Reef space for Traditional Owners, would provide us with a deeper understanding on how to best blend the knowledge of the first scientists in this vast nation of Australia, with modern Science.    
            </p>
        </div>
        
        <div>
            <h5>Perspective on coral bleaching</h5>
            <p>
                Given my involvement with an organisation such as AIMS, I have more of an understanding than most Indigenous people do. However, the wider population understands that the recent mass coral bleaching events have been driven by climate change.
            </p>
            <p>
                The first-hand experience of Indigenous communities situated above the latitude of Cairns has been far worse than those located elsewhere along the coastal regions. During one of the first few cases of coral bleaching, the communities located near Crocodile Island were bemused by the occurrence of coral bleaching and thought it was snow.
            </p>
        </div>

        <div>
            <h5>Perspective on synthetic biology</h5>
            <p>
                It is important that the introduction of a Genetically Modified Product does not end up like the Cane Toad issue we are currently facing. With an issue as such, there has been a rightful displacement of trust in the Science realm and it has been a steep learning for this community.
            </p>
            <p>
                Historically at AIMS, it has been easier to convey to Traditional Owners regarding non-invasive alternatives as it was interpreted as not being outside of natural order and taking place in a laboratory instead. With the projects that were involved with Genetically Modified Organisms, it was important to us to hone in on the terminology, which can aid in the assimilation of this information, and comprehensively explain the various stages in this pipeline of producing a synthetic biology product.
            </p>
        </div>

        <div>
            <h5>Key takeaways</h5>
            <ul>
                <li>It is crucial to foster honest and open communication with Indigenous communities and blend the voices of Indigenous people and Western Science from the grassroots stage of a Scientific discovery.</li>
                <li>Using the term “stakeholder” to describe any Indigenous community is a point of contention as it ties in deeply with colonial practices.</li>
            </ul>
        </div>
    </div>
</div>