---
layout: content.liquid
title: Human Practices
headings: 
    - 
        id: introduction
        title: Introduction
        icon: /assets/img/icon.png
    - 
        id: framework
        title: Framework
        icon: /assets/img/icon.png
    - 
        id: ihp
        title: Integrated Human Practices
        icon: /assets/img/icon.png
---
<head>
    <link rel="stylesheet" href="/css/HP.css" type="text/css">
</head>

<div id="introduction">
    <h2>Introduction</h2>

    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
    <br /><br />
    Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
    <br /><br />
</div>

<div id="framework">
    <h2>Framework</h2>
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
    <br /><br />
    Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
    <br /><br />
    Pellentesque vel risus odio. Phasellus blandit massa iaculis dolor porttitor mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin vel felis cursus, eleifend augue vitae, ullamcorper mi. Proin quis leo luctus, iaculis turpis vitae, posuere nunc. Sed in arcu consequat, venenatis erat ac, consectetur enim. Aliquam finibus malesuada interdum. Sed et semper lorem, eu tempor diam. Duis facilisis finibus dapibus. Vestibulum nisi ex, tincidunt a dapibus in, facilisis ac quam. Phasellus a leo risus. Sed eu egestas leo, eget porta leo. Fusce at tincidunt quam.
    <br /><br />
</div>

<div id="ihp">
    <h2>Integrated Human Practices</h2>
    <br />
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab-ihp" role="tablist">
            <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#ihp_overview" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Overview</button>
            <button class="nav-link blue-green" id="nav-academics-tab" data-bs-toggle="tab" data-bs-target="#academics" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Academics</button>
            <button class="nav-link red" id="nav-TO-tab" data-bs-toggle="tab" data-bs-target="#traditional_custodians" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Traditional Custodians</button>
            <button class="nav-link dark-green" id="nav-government-tab" data-bs-toggle="tab" data-bs-target="#government" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Government</button>
            <button class="nav-link yellow" id="nav-business-tab" data-bs-toggle="tab" data-bs-target="#business" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Business</button>
            <button class="nav-link" id="nav-survey-tab" data-bs-toggle="tab" data-bs-target="#public_survey" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Public Survey</button>
        </div>
    </nav>



    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ihp_overview" role="tabpanel" aria-labelledby="overview-tab">
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
            <br /><br />
            Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
            <br /><br />
            Pellentesque vel risus odio. Phasellus blandit massa iaculis dolor porttitor mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin vel felis cursus, eleifend augue vitae, ullamcorper mi. Proin quis leo luctus, iaculis turpis vitae, posuere nunc. Sed in arcu consequat, venenatis erat ac, consectetur enim. Aliquam finibus malesuada interdum. Sed et semper lorem, eu tempor diam. Duis facilisis finibus dapibus. Vestibulum nisi ex, tincidunt a dapibus in, facilisis ac quam. Phasellus a leo risus. Sed eu egestas leo, eget porta leo. Fusce at tincidunt quam.

        </div>



        <!-- ACADEMICS -->
        <div class="tab-pane fade" id="academics" role="tabpanel" aria-labelledby="academics-tab">
            {% include HP/academics.html %}
        </div>

        <!-- TRADITIONAL OWNERS -->
        <div class="tab-pane fade" id="traditional_custodians" role="tabpanel" aria-labelledby="traditional-owners-tab">
            {% include HP/traditional_owners.html %}
        </div>

        <!-- GOVERNMENT -->
        <div class="tab-pane fade" id="government" role="tabpanel" aria-labelledby="government-tab">
            {% include HP/government.html %}
        </div>

        <!-- BUSINESS -->
        <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
            {% include HP/business.html %}
        </div>

        <!-- SURVEY -->
        <div class="tab-pane fade" id="public_survey" role="tabpanel" aria-labelledby="survey-tab">
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
            <br /><br />
            Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
            <br /><br />
            Pellentesque vel risus odio. Phasellus blandit massa iaculis dolor porttitor mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin vel felis cursus, eleifend augue vitae, ullamcorper mi. Proin quis leo luctus, iaculis turpis vitae, posuere nunc. Sed in arcu consequat, venenatis erat ac, consectetur enim. Aliquam finibus malesuada interdum. Sed et semper lorem, eu tempor diam. Duis facilisis finibus dapibus. Vestibulum nisi ex, tincidunt a dapibus in, facilisis ac quam. Phasellus a leo risus. Sed eu egestas leo, eget porta leo. Fusce at tincidunt quam.

        </div>
    </div>
</div>


<script>
    function showDescription(event, div_id) {

        // remove current active circle styling
        let currActiveCircle = document.getElementsByClassName("circle active")[0];
        if (currActiveCircle) {
            currActiveCircle.classList.remove("active");
        }

        let currActive = document.getElementsByClassName("description active")[0];
        if (currActive) {
            currActive.classList.remove("active");
            if (currActive.id === div_id) return;
        } 
        
        // active circle styling
        if (event.currentTarget) {
            event.currentTarget.classList.add("active");
        }

        // show content
        let newActive = document.getElementById(div_id);
        if (newActive) {
            newActive.classList.add("active");
        }
    }
</script>
