---
layout: content.liquid
title: Human Practices
headings: 
    - 
        id: overview
        title: Overview
        icon: /assets/icon/Human_Practices/layer-group-solid.svg
    - 
        id: ihp
        title: Integrated Human Practices
    - 
        id: synbio
        title: Synthetic Biology
        icon: /assets/icon/Human_Practices/seedling-solid.svg
    - 
        id: stakeholders
        title: Stakeholders
        icon: /assets/icon/Human_Practices/user-friends-solid.svg
    - 
        id: survey
        title: Survey
        icon: /assets/icon/Human_Practices/poll-solid.svg
    - 
        id: values
        title: Reiterating Our Values
        icon: /assets/icon/Human_Practices/balance-scale-solid.svg
    - 
        id: loop
        title: Closing the Loop
        icon: /assets/icon/Human_Practices/redo-solid.svg
    - 
        id: future
        title: The Future
        icon: /assets/icon/Human_Practices/map-signs-solid.svg
---
<head>
    <link rel="stylesheet" href="/css/HP.css" type="text/css">
</head>


<div id="overview">
    <h2>Overview</h2>
    <br />
    <h5>Understanding the Issue</h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
    <br /><br />

    <h5>Designing our Integrated Human Practices Framework</h5>
    Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
    <br /><br />

    Pellentesque vel risus odio. Phasellus blandit massa iaculis dolor porttitor mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin vel felis cursus, eleifend augue vitae, ullamcorper mi. Proin quis leo luctus, iaculis turpis vitae, posuere nunc. Sed in arcu consequat, venenatis erat ac, consectetur enim. Aliquam finibus malesuada interdum. Sed et semper lorem, eu tempor diam. Duis facilisis finibus dapibus. Vestibulum nisi ex, tincidunt a dapibus in, facilisis ac quam. Phasellus a leo risus. Sed eu egestas leo, eget porta leo. Fusce at tincidunt quam.
    <br /><br />

    <h5>Ethics: Delving into Social Sciences</h5>
    Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
    <br /><br />

    <h5>Our Values</h5>
    Pellentesque vel risus odio. Phasellus blandit massa iaculis dolor porttitor mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin vel felis cursus, eleifend augue vitae, ullamcorper mi. Proin quis leo luctus, iaculis turpis vitae, posuere nunc. Sed in arcu consequat, venenatis erat ac, consectetur enim. Aliquam finibus malesuada interdum. Sed et semper lorem, eu tempor diam. Duis facilisis finibus dapibus. Vestibulum nisi ex, tincidunt a dapibus in, facilisis ac quam. Phasellus a leo risus. Sed eu egestas leo, eget porta leo. Fusce at tincidunt quam.
    <br /><br />
</div>

<h1 id="ihp" style="text-align: left; font-size: 2.5em;">Integrated Human Practices</h1>
<br />

<div id="synbio">
    <h2>Synthetic Biology as a Solution</h2>
    <br />
    <h5>Through the Looking Glass of Synthetic Biology</h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
    <br /><br />
    <h5>Existing Alternatives</h5>
    Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
    <br /><br />
    <h5>Our Competitive Advantage</h5>
    Pellentesque vel risus odio. Phasellus blandit massa iaculis dolor porttitor mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin vel felis cursus, eleifend augue vitae, ullamcorper mi. Proin quis leo luctus, iaculis turpis vitae, posuere nunc. Sed in arcu consequat, venenatis erat ac, consectetur enim. Aliquam finibus malesuada interdum. Sed et semper lorem, eu tempor diam. Duis facilisis finibus dapibus. Vestibulum nisi ex, tincidunt a dapibus in, facilisis ac quam. Phasellus a leo risus. Sed eu egestas leo, eget porta leo. Fusce at tincidunt quam.
    <br /><br />
</div>


<div id="stakeholders">
    <h2>Stakeholders</h2>
    <br />
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab-ihp" role="tablist">
            <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#ihp_overview" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Overview</button>
            <button class="nav-link blue-green" id="nav-academics-tab" data-bs-toggle="tab" data-bs-target="#academics" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Academics</button>
            <button class="nav-link red" id="nav-TO-tab" data-bs-toggle="tab" data-bs-target="#traditional_owners" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Traditional Owners</button>
            <button class="nav-link dark-green" id="nav-government-tab" data-bs-toggle="tab" data-bs-target="#government" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Government Bodies</button>
            <button class="nav-link yellow" id="nav-business-tab" data-bs-toggle="tab" data-bs-target="#business" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Business</button>
            <!-- <button class="nav-link" id="nav-survey-tab" data-bs-toggle="tab" data-bs-target="#public_survey" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Public Survey</button> -->
        </div>
    </nav>



    <div class="tab-content">
        <div class="tab-pane fade show active" id="ihp_overview" role="tabpanel" aria-labelledby="overview-tab">
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
            <br /><br />
            Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
            <br /><br />
            Pellentesque vel risus odio. Phasellus blandit massa iaculis dolor porttitor mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin vel felis cursus, eleifend augue vitae, ullamcorper mi. Proin quis leo luctus, iaculis turpis vitae, posuere nunc. Sed in arcu consequat, venenatis erat ac, consectetur enim. Aliquam finibus malesuada interdum. Sed et semper lorem, eu tempor diam. Duis facilisis finibus dapibus. Vestibulum nisi ex, tincidunt a dapibus in, facilisis ac quam. Phasellus a leo risus. Sed eu egestas leo, eget porta leo. Fusce at tincidunt quam.

        </div>



        <!-- ACADEMICS -->
        <div class="tab-pane fade" id="academics" role="tabpanel" aria-labelledby="academics-tab">
            {% include HP/academics.html %}
        </div>

        <!-- TRADITIONAL OWNERS -->
        <div class="tab-pane fade" id="traditional_owners" role="tabpanel" aria-labelledby="traditional-owners-tab">
            {% include HP/traditional_owners.html %}
        </div>

        <!-- GOVERNMENT -->
        <div class="tab-pane fade" id="government" role="tabpanel" aria-labelledby="government-tab">
            {% include HP/government.html %}
        </div>

        <!-- BUSINESS -->
        <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
            {% include HP/business.html %}
        </div>

        <!-- SURVEY -->
        <!-- <div class="tab-pane fade" id="public_survey" role="tabpanel" aria-labelledby="survey-tab">
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
            <br /><br />
            Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
            <br /><br />
            Pellentesque vel risus odio. Phasellus blandit massa iaculis dolor porttitor mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin vel felis cursus, eleifend augue vitae, ullamcorper mi. Proin quis leo luctus, iaculis turpis vitae, posuere nunc. Sed in arcu consequat, venenatis erat ac, consectetur enim. Aliquam finibus malesuada interdum. Sed et semper lorem, eu tempor diam. Duis facilisis finibus dapibus. Vestibulum nisi ex, tincidunt a dapibus in, facilisis ac quam. Phasellus a leo risus. Sed eu egestas leo, eget porta leo. Fusce at tincidunt quam.

        </div> -->
    </div>
</div>

<br /><br />
<div id="survey">
    <h2>Survey</h2>
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
    <br /><br />
    Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
    <br /><br />
    Pellentesque vel risus odio. Phasellus blandit massa iaculis dolor porttitor mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin vel felis cursus, eleifend augue vitae, ullamcorper mi. Proin quis leo luctus, iaculis turpis vitae, posuere nunc. Sed in arcu consequat, venenatis erat ac, consectetur enim. Aliquam finibus malesuada interdum. Sed et semper lorem, eu tempor diam. Duis facilisis finibus dapibus. Vestibulum nisi ex, tincidunt a dapibus in, facilisis ac quam. Phasellus a leo risus. Sed eu egestas leo, eget porta leo. Fusce at tincidunt quam.
    <br /><br />
</div>

<br /><br />
<div id="values">
    <h2>Reiterating Our Values</h2>
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
    <br /><br />
    Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
</div>

<br /><br />
<div id="loop">
    <h2>Closing the Loop</h2>
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
    <br /><br />
    Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.
</div>

<br /><br />
<div id="future">
    <h2>The Future of PROTECC Coral</h2>
    <br />
    <h5>Fostering Social Narratives around GMOs</h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia hendrerit nisl vitae aliquam. Nulla risus ligula, tempus id mauris quis, porttitor laoreet elit. Quisque convallis lobortis orci a aliquam. Sed vitae mauris scelerisque metus lacinia feugiat sit amet nec quam. Quisque quis lectus non massa maximus ornare ac non leo. Nulla turpis eros, porta vulputate tempor at, consectetur ut lectus. Aliquam eleifend ante ante, mollis gravida ante ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, purus in accumsan egestas, turpis magna tristique risus, id euismod erat elit eu ante. Duis lobortis gravida velit, vel molestie nunc rhoncus at. Nullam tempus tincidunt turpis, ac eleifend ante pharetra vel. Vestibulum ullamcorper tortor nec ornare vehicula. Integer hendrerit risus non nisi sagittis gravida. Nulla nibh augue, dictum non consequat at, elementum eget nulla.
    
    <br /><br />
    <h5>Our Impact</h5>
    Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.

    <br /><br />
    <h5>Proposed Implementation</h5>
    Aliquam erat volutpat. Sed dapibus, enim sit amet posuere facilisis, lectus ipsum sollicitudin mauris, ut tempus nulla ex vitae mauris. Aenean accumsan malesuada ultricies. Quisque mattis enim in nisi lobortis, rutrum viverra ligula sodales. Maecenas elementum, dui et cursus gravida, dui tellus consequat purus, eget dapibus odio eros vitae ipsum. Integer mollis faucibus nibh. Quisque vel ipsum eget leo molestie sollicitudin. Duis dignissim vel magna non cursus. Pellentesque porttitor elementum scelerisque. Maecenas varius in est eu condimentum. Aliquam erat volutpat. Ut vitae pulvinar mauris.

</div>


<!-- <script>
    function showDescription(event, div_id) {

        // remove current active circle styling
        let currActiveCircle = document.getElementsByClassName("circle active")[0];
        if (currActiveCircle) {
            currActiveCircle.classList.remove("active");
        }

        let currActive = document.getElementsByClassName("description active")[0];
        if (currActive) {
            currActive.classList.remove("active");
            if (currActive.id === div_id) return;
        } 
        
        // active circle styling
        if (event.currentTarget) {
            event.currentTarget.classList.add("active");
        }

        // show content
        let newActive = document.getElementById(div_id);
        if (newActive) {
            newActive.classList.add("active");
        }
    }
</script> -->


<div id="hpModalBackdrop" class="modal-backdrop fade show"></div>

<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script>
    let modalBackdrop = document.getElementById("hpModalBackdrop")

    let modals = document.getElementsByClassName('modal');
    for (let m of modals) {
        m.addEventListener('show.bs.modal', function (event) {
        modalBackdrop.style.visibility = "visible";
        modalBackdrop.style.opacity = "1";
        })
        m.addEventListener('hide.bs.modal', function (event) {
        modalBackdrop.style.opacity = "0";
        modalBackdrop.style.visibility = "hidden"
        })
    }
</script>