---
layout: content.liquid
title: Human Practices
headings: 
    - 
        id: issue
        title: Understanding the Issue
        icon: /assets/icon/Human_Practices/exclamation-triangle-solid.svg
    - 
        id: framework
        title: Designing Our Framework
        icon: /assets/icon/Human_Practices/project-diagram-solid.svg
    - 
        id: ihp
        title: Integrated Human Practices
    - 
        id: introduction
        title: Introduction
        icon: /assets/icon/Human_Practices/layer-group-solid.svg
    - 
        id: synbio
        title: Synthetic Biology
        icon: /assets/icon/Human_Practices/seedling-solid.svg
    - 
        id: stakeholders
        title: Stakeholders
        icon: /assets/icon/Human_Practices/user-friends-solid.svg
    - 
        id: survey
        title: Survey
        icon: /assets/icon/Human_Practices/poll-solid.svg
    - 
        id: values
        title: Reiterating Our Values
        icon: /assets/icon/Human_Practices/balance-scale-solid.svg
    - 
        id: future
        title: The Future
        icon: /assets/icon/Human_Practices/map-signs-solid.svg
    - 
        id: references
        title: References
        icon: /assets/icon/bars-solid.svg
---
<head>
    <link rel="stylesheet" href="/css/HP.css" type="text/css">
</head>


<div id="issue">
    <h2>Understanding the Issue</h2>
    <br />

    <div style="display: flex; width: 50%; justify-content: center; float: right; padding-left: 1em;">
        <img src="/assets/img/Human_Practices/Overview GBR photo.jpeg" width="100%">
    </div>
    <p>
        Coral bleaching is a worldwide issue affecting the health of our coral reefs. This bleaching phenomenon has accelerated as a result of climate change increasing ocean temperatures.
    </p>

    <p>Our team is based in Australia, the home of the world’s largest coral reef system, the Great Barrier Reef (GBR). The GBR is known as a natural wonder, the traditional home of the Aboriginal and Torres Strait Islander people for over 60,000 years and a beloved tourist site. Sir David Attenborough has declared our Great Barrier Reef to be “one of the greatest and most splendid natural treasures that the world possesses.” Having visited the GBR firsthand on a diving trip this year, I can personally testify to the sheer beauty and significant value of the reef described by Attenborough. The GBR is a core part of Australia’s cultural DNA and crucial to the identity of Australia’s Traditional Owners (Deloitte Access Economics, 2017).</p>

    <p>However, recent mass bleaching events have accelerated the decline of the GBR. In 2020, 60% of the reefs aerially surveyed by scientists had either moderate or severe bleaching (Great Barrier Reef Marine Park Authority, 2020). Climate change presents the single greatest challenge to the survival of the GBR for future generations (Great Barrier Reef Marine Park Authority, 2020).</p>


    <br />

    <h5 style="text-align: center;">Who will be impacted?</h5>
    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Human_Practices/HP Key concerns table.jpeg" width="60%">
    </div>
    <br />
</div>

<div id="framework">
    <h2>Designing our Integrated Human Practices Framework</h2>
    <br />

    <p>We desired to incorporate the attitudes and values of as many affected stakeholders, in order to build a meaningful user-centric solution. We chose to use a lean, human-centred design framework for developing our sustainable, synthetic biology solution. Human-centred design revolves around building deep empathy and addressing the core needs of those experiencing the issue of coral bleaching (Institute of Design at Stanford, 2021). </p>

    <p>Ultimately, this framework helped us to be mindful of diverse perspectives as we created a project that was well-considered, responsible and good for the world. </p>

    <h5>Our Human-Centred Approach</h5>
    <p>Our IHP framework followed the Double Diamond design process, created by the UK Design Council. It uses a simple schematic to describe the steps taken in an innovative project. This design approach is a universally accepted and widely adopted design tool (Ball, 2021). As such, it follows a simple and easy format, which made it an ideal fit for our solution. We have provided a short overview of the design thinking process below and how it formed the basis of the development of our synthetic biology solution.</p>

    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Human_Practices/Overview Double Diamond image.png" width="60%">
    </div>
    <br />
    <p>There are 5 key stages: </p>
    <ol>
        <b><li>Discover: <span style="font-weight: normal;">To deeply understand the underlying issues that are contributing to coral bleaching. Our key goal was to emphasise and place ourselves in the shoes of those affected by coral bleaching. We discovered coral bleaching to be a global problem and as such, sought to understand the environmental issue from both a local lens and a broader international perspective. In our search to understand, we created a survey for the public to enhance our knowledge of societal opinions towards coral bleaching and our proposed synthetic biology solution. We conducted in-depth interviews and email exchanges with a diverse range of expert stakeholder groups: Academics, Traditional Custodians, Government Bodies and Businesses. These consultations used a mixture of structured and unstructured questions, allowing us to connect with stakeholders and emphasise their needs.</span><br /><br /></li></b>
        <b><li>Define: <span style="font-weight: normal;">To focus on the key takeaways from each of the conversations and carefully analyse the input we received from stakeholders. This stage helped us understand and prioritise stakeholders needs. We were able to decide on which advice to incorporate in and shape our solution. This decision-making process was facilitated by discussions with the lab and science communication teams to ensure we all had visibility of the insights from stakeholders, in order to decide how each team could best integrate these values into our overall project.</span><br /><br /></li></b>
        <b><li>Develop: <span style="font-weight: normal;">This phase focuses on developing and testing the solution. Literature reviews are undertaken to understand current progress with developing a genetically engineered algae species. The wet and dry lab teams begin searching for a viable solution and a feasible way to develop heat-tolerant algae in the lab. Our human practices team focused on consulting academics in the research area to discuss their feedback on our scientific progress and ways to technically improve our project. We were also mindful to research the ethics and morality surrounding synthetic biology to guide the development of a feasible and socially responsible solution.</span><br /><br /></li></b>
        <b><li>Deliver: <span style="font-weight: normal;">We created a prototype of our solution based on the experimentation of the wet and dry lab teams. This prototype was tested using scientific modelling to check if the genetically engineered algae could withstand higher ocean temperatures. Further, testing is conducted with the wider public to understand if our solution meets their needs. In this stage, we are assessing if our prototype will deliver the greatest benefit to stakeholders and society. Importantly, our human practices team was engaging with stakeholders on an ongoing basis, enabling us to quickly iterate the prototype to reflect their feedback and ensure it was meaningful.</span><br /><br /></li></b>
        <b><li>Evolve: <span style="font-weight: normal;">This involves selecting our final solution and preparing it for launch. We consider the proposed implementation side of human practices, seeking out stakeholders that are knowledgeable in the commercialisation of synthetic biology. Beyond assessing ways for our solution to enter the market, we consider the perceived risks of our solution and ways to mitigate these risks, in order to gain public acceptance. Continuous improvement based on stakeholder feedback is imperative in the evolving phase. Thus, we created a next steps section to delve deeper into how we can implement our project in the future.</span><br /><br /></li></b>
    
    </ol>
</div>

<h1 id="ihp" style="text-align: left; font-size: 2.5em;">Integrated Human Practices</h1>
<br />

<div id="introduction">
    <h2>Introduction</h2>
    <br />
    <div>
        <h5>Our Values</h5>

        <div style="float: right; width: 45%; padding-left: 1em;">
            <img src="/assets/img/Human_Practices/coral tree.png" width="100%">
            <br />
        </div>

        <p>During the first leg of our journey, our understanding was strictly limited to the amalgamation of figures and facts that we had gathered from our initial reconnaissance on coral bleaching and its environmental and socio-economic impacts. To further delve past this face-level comprehension, we approached the Phase I Human Practices team to ask them about their process and how they managed to navigate and balance the complexities of this multifaceted issue.</p>
        <p>This meeting had been incredibly insightful and was monumental in shaping the direction of the beginning stages of our project. Following from the conversation, we saw value in maintaining a human-centered approach which rested its shoulders on the pillars of being <b>reflective, responsive and responsible</b> - the three facets that the competition emphasises on, all of which lending themselves to a compelling case that stresses the importance of why our project is feasible and counteract the coral bleaching phenomenon. </p>
        <p>In response to the first aspect, <b>“Reflective”</b>, we decided to give thought to the values we wanted to prioritise, especially in the context of what is required in a feasible solution for the revival of the Great Barrier Reef. In doing so, we formulated the following values based on our initial research into this issue:</p>

        <ul>
            <li>Creating an adaptive solution that protects the coral reefs from climate change.</li>
            <li>Being inclusive of those impacted by coral bleaching and the implementation of our solution.</li>
            <li>Can be easily integrated into the natural environment, and causes minimal to no impact on its surrounding ecosystem.</li>
            <li>An alternative that is financially-conservative and can be replicated on a larger scale.</li>
        </ul>

        <p>
            These values constituted the foundation on which we would build our reasoning that our solution is responsible and good for the world. However, upon further self-reflection, the team had come to the realisation that these values were driven by our self-interest and had not been verified to be . Thus, the logical next step was to be <b>“Responsive”</b> and consult social scientists and our relevant stakeholders, who have been affected by this issue first-hand, or have a wealth of knowledge regarding this topic. 
        </p>
    </div>
    <br />

    <div>
        <h5>Delving into Social Sciences</h5>

        <p>In any scientific research conducted, social sciences is akin to being the North Star of the project - it informs scientists regarding the impact of their research on the wider population, either on a social, political, geographical or economic scale.</p>

        <p>Although the primary reason of us broaching our solution of coral bleaching to social scientists was to verify the need for our product in this current climate and listen to their opinions on the use of synthetic biology, more questions cropped up as we were developing our five-step framework:</p>

        <p style="text-align: center;"><em>How do we best integrate the perspective of the public into our project? Do we use different frameworks whilst engaging with different stakeholder categories? How do we do right by communities that are severely underrepresented in the Scientific realm? </em></p>

        <p>Our conversation with A/Professor Daniel Robinson aided in indirectly answering these questions and helped us develop the structure that we followed whilst engaging with our stakeholders, further down the line.</p>

        <h6 style="text-decoration: underline;">Associate Professor Daniel Robinson</h6>
        
        <div style="float: left; width: 15%; padding-right: 1em;">
            <img src="/assets/img/Human_Practices/Daniel Robinson.jpeg" width="100%">
            <br />
        </div>
        
        <p>Part of the Faculty of Arts, Design and Architecture at The University of New South Wales, <b>A/Prof Daniel Robinson’s</b> research explores the sustainable use and of biodiversity by researchers and/or companies, and has a special interest in analysing the involvement of Indigenous communities during these processes. The main thrust of <b>A/Prof Robinson’s</b> work is at The Nagoya Protocol of Access and Benefit Sharing to the Convention of Biological Diversity, whose main focus involves the fair and equitable sharing of the benefits arising from the use of genetic resources (Department of Agriculture, Water and the Environment, 2021).</p>

        <p>In retrospect, the conversation with <b>A/Prof Robinson</b> regarding the use of an genetically engineered organism issued a rounded approach, as he managed to cover the pros and cons of both sides of the coin. With IPCC projecting a decrease of 45% in carbon emissions to maintain the world’s average temperature under 1.5 degrees celsius by 2030, it seems unlikely for us to achieve this feat as it is unlikely for us to undo centuries’ worth of harm in the span of less than a decade. Thus, it was important for us to create a solution that is adaptive to these rising changes rather than alleviate climate change in itself (McFall-Johnsen, 2019). <b>A/Prof Robinson</b> echoed these sentiments and talked about an increased investment observed in “ecological renovation” techniques such as genetic intervention. Findings have shown that this type of conservation action is ranked 16th out of 23 intervention types in terms of the number of studies conducted, which shows us the scope of this untapped source (Prober et al., 2019). </p>

        <p>During this conversation, <b>A/Prof Robinson</b> also touched upon the fear of the unknown that drives public discourse about synthetic biology. This feeling of fear stems from two different places - culturally and ethically. Those with deep, cultural roots are afraid of the introduction of  genetic engineering due to their core belief systems, whereas ethical concerns are born out of the uncertainty of genetic engineering and its usage. To tackle this fear at the root of the problem, A/Prof Robinson’s advice was to always assume that the public is genuinely interested to know more about the project and to provide more details in a manner that is easily understood by most. Knowing that this fear also varies across the board of stakeholders we were engaging with, we thought it would be best to explicitly ask our stakeholders regarding their opinions on synthetic biology, as it would allow for us to address any of these negative consequences later into our Integrated Human Practices journey and hopefully, proselytise these pre-existing notions of those with the same worries.</p>

        <p>In regards to using different frameworks whilst engaging with our stakeholders, he suggested to be open to input of all stakeholders and to tackle the dilemma of prioritising certain values by perhaps using a Consequentialist framework, which asks stakeholders what outcomes are desirable in a given situation, and consider ethical conduct to be whatever will achieve the best consequences (Bonde and Firenze, 2013). Whilst engaging with members of the Indigenous community, he advised us to adhere and implement the following general principles, which shaped our future conversations:</p>

        <ul>
            <li>Acknowledge the different kinship relations, customs and connections, and respect their totemic relationship with nature.</li>
            <li>Refer to the Australian Institute of Aboriginal and Torres Strait Islander Studies, to read through modules that specifically details how to respectfully engage with these communities.</li>
        </ul>

        <p>The questions that we had leaving said discussion was a hint at continuing this conversation with those who are directly affected by this issue, and the advice dispatched by <b>A/Prof Robinson</b> was influential and contributed to shaping the conversations we had with our line-up of stakeholders. Prior to this, however, we wanted to perform a deep dive into synthetic biology, current alternatives available and why the option of genetic engineering is a better suited option in these circumstances. Not only would this enhance our understanding of our own solution, but we would be able to better convey the reason for our choice to our stakeholders.</p>
        <br />
    </div>
</div>

<div id="synbio">
    <h2>Synthetic Biology as a Solution</h2>
    <br />
    <h5>Through the Looking Glass of Synthetic Biology</h5>

    <p>The transdisciplinary field of synthetic biology has been on the up and up, and has seen increased traction in the last two decades and is forecasted to be a $27 billion industry in Australia alone (Brookes, 2021). The application of this technique is one out of many that have been explored in the context of ecological restoration of our coral reefs.</p>

    <div style="display: flex; width: 100%; justify-content: center;">
        <img src="/assets/img/Human_Practices/SynBio As a Solution_ Fig 1.png" width="60%">
    </div>
    <div class="image-caption">Figure 1: Typography of options presented on axes that are divided by their ability to facilitate persistence or adaptation of biodiversity and ecosystems in a changing climate. Figure adapted from (Prober et al., 2019).</div>
    <br />

    <p>In a review paper released in 2019 by Prober et. al, the researchers had sieved through 473 papers to identify 23 intervention techniques that are currently being used. This information was then plotted on a graph that was arranged according to the dominant ecological mechanisms on one axis, “ameliorate changing conditions” or “build adaptive capacity”, and the tools used to manipulate these mechanisms on the other, “low regrets” or “climate targeted”. This graph is visualised in Figure 1, and we see that our solution matches solution 5D, which promotes in situ genetic adaptations using genetic interventions (Prober et al., 2019).</p>

    <p>The ratios of published papers according to each of these intervention options were analysed, and it was noted that there was a large discrepancy between low-regret options that are focused on building adaptive capacity and climate-targeted approaches. With our hurtling ascent towards climate change, Prober has suggested that we shift the paradigm to a climate-targeted approach instead. A table synthesised by Prober had also delved into the options ability to support climate-adapted nature conservation, and 5D was shown to fairly support optimising ecological functions, strongly support the ability to maintain evolutionary potential and strongly supports the minimisation of native species lost  (Prober et al., 2019).</p>

    <p>This study provided strong evidence that pursuing this adaptation technique would be beneficial and reaffirmed that this would be a feasible and responsible solution to this issue. With this reassurance, we decided to engage with our stakeholders to listen to their feedback regarding the use of this alternative over existing ones.</p>

    <br />
</div>


<div id="stakeholders">
    <h2>Stakeholders</h2>
    <br />
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab-ihp" role="tablist">
            <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#ihp_overview" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Overview</button>
            <button class="nav-link blue-green" id="nav-academics-tab" data-bs-toggle="tab" data-bs-target="#academics" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Academics</button>
            <button class="nav-link red" id="nav-TO-tab" data-bs-toggle="tab" data-bs-target="#traditional_owners" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Traditional Owners</button>
            <button class="nav-link dark-green" id="nav-government-tab" data-bs-toggle="tab" data-bs-target="#government" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Government Bodies</button>
            <button class="nav-link yellow" id="nav-business-tab" data-bs-toggle="tab" data-bs-target="#business" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Business Owners</button>
        </div>
    </nav>



    <div class="tab-content">
        <div class="tab-pane fade show active" id="ihp_overview" role="tabpanel" aria-labelledby="overview-tab">

            <br />
            <h5>Introduction</h5>
            <br />
            <p>From the conception of our idea, we knew that it simply wouldn’t be enough to put our idea out in the social landscape without considering the perspectives of our stakeholders. Although Phase I of PROTECC Coral provided us with a concise, foundational understanding of the main stakeholders affected by this issue, the Phase II team workshopped these subgroups to incorporate those who didn’t quite fit into the Traditional Owners, Biodiversity, Bioprospecting, Coastal Protection, and Tourism & Commercial and Recreational Fishing domain.</p>
        
            <p>In the hopes to be more inclusive, we developed our novel stakeholder subgroups - Academics, Traditional Owners, Businesses and Government Bodies. One of the main reasons we developed a human-centered approach was due to these consortia of voices who have been deeply impacted by the events at the Great Barrier Reef, and would be affected by our solution, as well.</p>
        
            <p>To view more information regarding why we chose these specific stakeholder groups, their perspectives on the coral bleaching, what they thought would be an appropriate solution to this issue, and their guidance on the project design, click on the tabs located to the right of the “Overview” tab.</p>
        
            <p>The information under each tab summarises the information from each of these sections, and expands on how we were informed by our stakeholders’ advice and how it helped shape our project at different stages.</p>    
        </div>



        <!-- ACADEMICS -->
        <div class="tab-pane fade" id="academics" role="tabpanel" aria-labelledby="academics-tab">
            {% include HP/academics.html %}
        </div>

        <!-- TRADITIONAL OWNERS -->
        <div class="tab-pane fade" id="traditional_owners" role="tabpanel" aria-labelledby="traditional-owners-tab">
            {% include HP/traditional_owners.html %}
        </div>

        <!-- GOVERNMENT -->
        <div class="tab-pane fade" id="government" role="tabpanel" aria-labelledby="government-tab">
            {% include HP/government.html %}
        </div>

        <!-- BUSINESS -->
        <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
            {% include HP/business.html %}
        </div>
    </div>

    <hr />

    <h5>Integrating Advice from Academics</h5>
    <h6 style="font-weight: normal;">Brendan Burns</h6>
    <p>Brendan provided guidance on the several considerations regarding propped implementation and project design. Brendan suggested that in future testing of our systems in algae it is vital to consider the interaction between the coral and other species in the environment. Wet lab took this into consideration when assessing our proposed implementation. Additionally, Brendan provided positive feedback on the expression control mechanism, using OxyR, stating it could help mediate the competitive advantage the modified algae had over other species. This supported wet lab’s ongoing research into applying a ROS inducible system to the project as additional control measures. </p>


    <h6 style="font-weight: normal;">Wallace Bridge</h6>
    <p>Professor Bridge strongly emphasised the importance of maintaining homeostasis between glutathione and ROS in our experimental chassis and Symbiodinium. He suggested we investigate the master transcription factor from Symbiodinium involved in regulating glutathione homeostasis as it may hinder the performance of overexpressed glutathione. We have taken this into consideration and will perform further research in this direction when our experiments do not produce expected results. He also advised us to characterize glutathione activity in a eukaryotic chassis and we have since made modifications to our proposed glutathione experimental design to also be performed using yeast vectors. In addition, he proposed the idea of performing directed evolution experiments on algae as an alternative to genetic engineering. His input added a new perspective to our design solutions and possible points of investigation when troubleshooting and fine-tuning our experimental design. </p>


    <h6 style="font-weight: normal;">Ian Dawes</h6>
    <p>Professor Dawes suggested we use eukaryotic proteins for the glutathione system, particularly glutathione reductase and glutathione peroxidase, while keeping our ultimate goal of expressing the system in Symbiodinium sp in mind. He recommended the use of eukaryotic genes for glutathione peroxidase and reductase over bacterial genes. From his recommendation, we decided to use genes from Chlamydomonas reinhardtii as opposed to our initial plan of using Streptococcus thermophilus. </p>

    <h6 style="font-weight: normal;">Marc Wilkins</h6>
    <p>Professor Wilkins advised us that the transit peptide of most proteins that localise to plasmids is cleaved off during membrane transport, which we took into account when determining the sequence from which to structurally model our heat shock protein of interest. We also incorporated his guidance around using docking platform Haddock, which can specify more precise restraints when information is known about the reliability of subunit structure, using this to refine our modelling of the heat shock protein’s oligomeric structure.
    </p>

    <h6 style="font-weight: normal;">Lars Nielsen</h6>
    <p>Professor Nielsen’s advice surrounding kinetic modelling was incorporated into developing insights into the performance of our proposed glutathione system. He advised us to consider what remains constant in the system, such as whether the NADPH ratio and pool are likely to be in significant flux, or to be balanced by external systems. We considered his advice when formulating the key assumptions for our kinetic model. Professor Nielsen also introduced us to the idea of ensemble modelling to address issues surrounding the broad spectrum of data available for enzyme kinetic constants. </p>


    <h6 style="font-weight: normal;">David Burt</h6>
    <p>Our conversation with David Burt encouraged us to reevaluate how we wanted to go about implementing our project, and decide what types of funding was most appropriate for us to seek out in order to continue the development of our project. Upon reevaluation, we have decided that our solution is not suited for commercialisation. Instead, we have decided that the end users of our project will be government and non-government organisations who are focused on protecting the coral reefs, rather than gaining profit from our solution. </p>

    <h5>Integrating Advice from Traditional Owners</h5>
    <h6 style="font-weight: normal;">Traceylee Manuwuri Forester</h6>
    <p>During our conversation with Traceylee Manuwuri Forester, she emphasised on the importance of fostering honest and open communication with Indigenous communities and blend the voices of Indigenous people and Western Science from the grassroots stage of a Scientific discovery - whether that may be in the Wet & Dry Lab setting or in our ethics framework.</p>
    <p>To further the understanding of those who aren’t familiar with this intrinsic bond between the Traditional Owner communities and this Heritage listed site, the iGEM team have decided to place Traditional Owner perspectives at the forefront at each stage of our developmental process. This is reflected in the pipeline we have developed for the forthcoming years, which we hope to adhere to during the developmental stages of the PROTECC Coral project. </p>
    <p>Unfortunately, due to the COVID-19 restrictions, we haven’t been able to conduct our own field research and engage with Elders in the community regarding our project. However, we fully intend to see through this opportunity in the following stages of our project.</p>


    <h5>Integrating Advice from Government Bodies</h5>
    <h6 style="font-weight: normal;">Kevin Gale</h6>
    <p>The meeting with Kevin Gale reaffirmed our decision of using an adaptive approach by enhancing the capacity of the species to withstand varying environmental conditions, instead of developing strategies to address these varying conditions, instead. This is attributed to the ever-rising sea temperatures and our society’s inability to curb this change before it causes significant damage on the Great Barrier Reef. In addition to this, the overlap between the reefs playing an integral role in supporting Australia’s economy and the threat of being placed on the World Heritage Commitee’s endangered list would be one of the main drivers for the Government to invest in novel technologies that can improve these circumstances.</p>
    <p>However, Kevin highlighted that one of the largest impediments before/during its implementation could be the public’s hesitation to accept this solution to the coral bleaching events. This could be attributed to the mistrust in Science based on previous experiences, lack of understanding of the genetically engineered algae symbiont’s mechanism or the potential lack of transparency on our end. </p>
    <p>To diminish the disconnect between the general public and science, we developed a survey that analysed the public’s perception of Genetically Modified Organisms (GMOs) and their perspectives on our proposed solution, and the feedback provided reiterated the need to maintain transparency from our end. Amassing over an astounding 260 responses, we enacted this response by creating a comprehensive risk assessment that provides solutions to mitigate any foreseeable risks from the implementation of our product.</p>
    
    
    <h6 style="font-weight: normal;">David Wachenfeld</h6>
    <p>David informed us that in order to prove our solution is feasible, we need to consider the vest complexity of the marine ecosystem on the Great Barrier Reef. He pointed out how the complex nature of the marine ecosystem and the coral holobiont would make it an even greater challenge to control the impact of our solution than we initially perceived. David also provided us with valuable information regarding the final stages of our proposed implementation. He informed us about the interconnected nature of the coral reefs, and how the spawn of certain reefs are more likely to end up on other reefs by action of the ocean current. This prompted us to consider where we will transfer our symbiodinium-coral system for the in-situ release of our solution. He advised us that we should aim to target the ‘hub of reefs’, in places where the coral spawns can reach the maximum amount of reefs and hence maximise the impact of our solution.</p>


    <h6 style="font-weight: normal;">Will Howard</h6>
    <p>Our conversation with Will Howard highlighted the many reasons why using an artificial reed simulator is crucial for the Proposed Implementation of our project. He offered us a better understanding of the government and ethical concerns regarding the use of genetically modified species into the environment, explaining that humans have made devastating errors with the environment already in the past. He also motivated us to become more proactive when considering all the risks involved with our Proposed Implementation, emphasising how the effects that we cause on the environment in the future can be very difficult to foresee until it is already too late. </p>

    <!-- <br> -->

    <h5>Integrating Advice from Business Owners</h5>
    <p>Our consultations with business owners highlighted a unanimous concern. A significant disconnect exists between the information being shared by the media about coral bleaching and the true extent of the issue encountered by local tourism providers. Many people in the public are under the impression the whole Great Barrier Reef is “dead” following news coverage of mass bleaching events. Negative publicity about the GBR is particularly being spread on global news outlets, as tourism providers noticed a decline from international customers. If the current rate of mass bleaching events continues to occur, there is fear that the tourism industry could be significantly altered in the future.</p>
    <p>To target the disconnect, we decided there was a need to educate the public about coral bleaching. We developed a public survey to understand their current level of knowledge about coral bleaching and we discovered the majority of people could not describe the issue. This reflected the feedback from tourism providers, who have now shifted their business activities to educating the public in order to receive business. In turn, we also focused our efforts in science communications, by developing a gamulation and outreach efforts that would effectively allow us to engage with the public and act as a learning opportunity to bridge the knowledge gap. These materials can be viewed in the Science Communication tab. </p>
    <p>Moreover, we noticed there was a lack of understanding about the potential of synthetic biology for restoring coral reefs. Most businesses expressed fear and apprehension about the proposed solution. This highlighted that we need to more extensively consult local communities and increase knowledge of genetic engineering techniques, which we have aimed to do in our science communications. In the future, we believe that economic values can be integrated into the solution by involving more local businesses and creating open dialogue about the reef with tourism providers. </p>
</div>

<br />
<div id="survey">
    <h2>Survey</h2>
    <br />
    <!-- <div> -->
        {% include HP/survey.html %}
    <!-- </div> -->


    <hr />
    <h5>How did the opinions and feedback of the public shape our project?</h5>

    <h6>1. Risk Management</h6>
    <p>We discovered the majority of the general public were worried about the potential risks of implementing our genetically engineered solution into nature. Many individuals in the survey <b>(57%)</b> agreed they were concerned about the potential long-term risks of genetic engineering. They desired to learn more about the risks associated with our scientific design and then, how we would plan to mitigate them. It is human nature for people to be afraid of the unknown and we as scientists should seek to educate the public and address their concerns.The first step our team undertook was to acknowledge the many risks posed by foreign, introduced species especially with GMOs. Marine ecosystems are highly dynamic and interconnected, where the functions of many species are still unknown. </p>
    <p>To ensure our solution is safe for the environment and we meet the public needs for security and transparent information, we devised a risk management strategy. In our strategy, we intend to extensively study our solution in a simulated marine environment so the complexities of the coral holobionts and the diverse marine ecosystem can be fully considered. This small scale testing will ensure we meet the public’s need for safety and we can implement our solution on a larger scale with the acceptance of society. Further information on the marine stimulation can be found in the Proposed Implementation section.</p>

    <br />
    <h6>2. Safety Concerns</h6>
    <p>In our survey feedback, there was a lot of fear and concern about the unintended invasion of GMOs outside of its intended environment, with many remembering the invasive cane toad example in Australian history. The majority of people were curious to learn if there would be an adverse impact on the marine environment such as an overpopulation of bio-engineered species and chain effects on other marine species. So we concentrated our efforts on exploring a kill switch option, to align our project with the needs of the public and in doing so, better integrate biosafety considerations. The proposed kill switch would result in cell death upon exposure to particular environmental conditions such as change in pH which would stop our algae species integrating into other species. </p>
    

    <br />
    <h6>3. Proposed Implementation</h6>
    <p>The public wanted to learn more about how we will bring our solution to the market and the timeline of our project. When asked what information they would like to see in our project, common responses included the “timeline of development”, “government approval processes” and “rollout strategy.” Our Proposed Implementation section goes into detail with describing our proposed entry into the market to be mindful of this feedback. We contacted the Head of Entrepreneurship at UNSW, David Burt to gain a professional opinion about whether it was viable to commercialise our idea and to understand the timeline of implementing our solution. These insights were valuable in addressing key questions from the public and helped us to decide which route of commercialisation to undertake.</p>

    <br />
    <h6>4. Future Engagement</h6>
    <p>Importantly, we desired to learn the best medium for engaging with the public to ensure we could facilitate a valuable learning experience. In the future, most of the public would like to be engaged in the discussion about our project through a visual infographic summarising our key findings <b>(67%)</b> or social media posts <b>(60%)</b>. These insights were highly useful for our science communications team as they were deciding the best ways of reaching the public. We’ve actively sought out ways to use more interactive visual mediums and created an introductory short video to explain our project in simple English to our audience. By continuing our engagement with posts on our social media channels and the development of a gamulation, we hope to communicate our project in an easily accessible way to the public that doesn’t take away from explaining the fundamental science. This approach is centered on increasing access to the often confusing terminology surrounding synthetic biology and being mindful of incorporating simple, easy to read pieces of information to keep the public engaged. Our team hopes in the future we can seek new ways of engaging with the public in order to continue meeting their needs.</p>

</div>

<br /><br />
<div id="values">
    <h2>Reiterating Our Values</h2>
    <br />

    <p>From the feedback provided by the stakeholders and responses obtained from our survey, we felt as though our initial values did not truly reflect the ethos of our project at this particular stage. Using this newfound information, we alter our values and prioritise them according to the Consequentialist framework that we had touched upon earlier.</p>

    <ul>
        <li>Creating an adaptive solution that protects the coral reefs from climate change.</li>
        <li>Continuously engaging with those impacted by coral bleaching and the implementation of our solution</li>
        <li>Staying <b>“Responsible”</b> and communicating with the wider population regarding the impact of our solution, at different stages.</li>
        <li>Can be easily integrated into the natural environment, and causes minimal to no impact on its surrounding ecosystem.</li>
        <li>Maintain the diverse landscape of the coral reefs.</li>
        <li>An alternative that is financially-conservative and can be replicated on a larger scale</li>
    </ul>

    <p>Revisiting and altering our values after communicating with our stakeholders is a demonstration of closing the loop between what was initially designed and what was desired at the end. The reason for this change was so that the values that shaped our solution matched up to the needs of our stakeholders. In the section below, we will summarise how these values informed our decisions at different stages of the project:</p>

    <h5>Creating an adaptive solution that protects the coral reefs from climate change.</h5>
    <p>This value has remained unchanged from the beginning of our research, as the research that was conducted on our part has stressed on the need to develop adaptive alternatives instead due to the rapidly changing nature of climate change.</p>
    <p>We needed to create a project that revolved around this principle, thus we genetically engineered our <em>Symbiodinium</em> to be capable of neutralising toxic ROS, which enables it to be thermostable despite the ocean’s rising temperatures. We understand that this does not directly affect the problem of climate change, but it is important to this issue from all angles - whether that be through low-regret solutions, climate-targeted solutions or by ameliorating the conditions of the ocean water.</p>


    <br />
    <h5>Maintaining continuous, respectful engagement with those impacted by coral bleaching and the implementation of our solution.</h5>
    <p>This value has been slightly changed from “Being inclusive of those impacted by coral bleaching and the implementation of our solution”. The substitution to <b>“Maintaining continuous, respectful engagement”</b> encompasses being inclusive of our stakeholders and maintaining this bond throughout the different phases of our experiment.</p>
    <p>As a result of COVID-19, our resources were limited and meeting a member from one of the communities impacted we were unable to meet members of the community and engage with these communities regarding the current status of the coral bleaching events and our proposed solution. However, we found that our conversation with Traceylee Manuwuri Forester was the right, first step we needed to take to understand how to approach the community, the language to be used whilst engaging with these individuals and how to broach the topic of introducing our genetically engineered solution into the appropriate zones. Our continued hope for the Phase III team is to use this advice before approaching Traditional Owner communities, and continue using the Talanoa methodology, which will reflect on the lived realities of the individual instead.</p>

    <br />
    <h5>Staying “Responsible” and communicating with the wider population regarding the impact of our solution, at different stages.</h5>
    <p>The introduction of this value was in response to the third and final aspect of the pillar - <b>“Responsible”</b>. The conversations we had with our different stakeholder subgroups provided us with a rounded understanding regarding the positives and risks that we might face with the introduction of this product. Whilst assessing the feedback using the Consequentialist framework, we felt as though the pros had far outweighed the cons of introducing a genetically modified organism and this was a significant indicator that our solution, for the most part, was responsible and good for the world.</p>
    <p>In addition to this, we wanted to prioritise solving the disconnect between the public and science by communicating the afore-mentioned impact of our solution, in an open and honest way. Thus, we developed a risk assessment table in our “Proposed Implementation” stage which highlighted certain foreseeable risks, and how we would mitigate these issues. We hope that this is only the beginning of serving the humans in our human-centred approach and hope to continue with initiatives as such in the future.</p>


    <br />
    <h5>Can be easily integrated into the natural environment, and causes minimal to no impact on its surrounding ecosystem.</h5>
    <p>In light of safety concerns addressed in our “Proposed Implementation” section, we have also designed a kill switch that could act as a biocontainment system in our engineered Symbiodinium. When exposed to certain environmental conditions, our kill switch triggers cell death within the algae, preventing integration into any other species. In Phase III of our project, we would like to explore the viability of the kill switch in a laboratory setting in light of biodiversity and microbial interactions, with the aim to produce a solution that is both safe for the surrounding ecosystem of the GBR, as well as people who depend on it.  In addition to this, an ‘adaptive’ solution to coral bleaching creates space for learning, risk management and staged implementation; processes that can help safeguard our solution.</p>

    <br />
    <h5>Maintain the diverse landscape of the coral reefs.</h5>
    <p>When engaging with our Business stakeholders, each stakeholder stressed that the proposed solution should not interfere with the appearance of the reefs as this is one of the most significant reasons for tourists visiting this region. Therefore, it was important for us to create a solution that would not disturb this appearance, and thus the livelihoods of our stakeholders.</p>
    <p>PROTECC Coral’s synthetic biology solution is to engineer a naturally occurring microalgae Symbiodinium, which will potentially alleviate the issues of coral bleaching and the consequential impacts, but also maintain the reef’s outward appearance. By engineering a natural species of coral that currently exists, we can maintain the appearance of the naturality of the reef.</p>


    <br />
    <h5>An alternative that is financially-conservative and can be replicated on a larger scale.</h5>
    <p>We believe it is important in determining whether a solution can be realistically applied to the real world to make a positive impact. Throughout our project, we made decisions to keep our solution low in cost, which, in turn, increases its potential scalability. For example, by working with E. coli for the majority of our designing, building and testing phases of our project, we saved both time and costs. If we had begun experimenting on Symbiodinium earlier in our project, we would have increased costs dramatically, and the progress required for our solution would not have been financially viable.</p>
    <p>We hope to work alongside government-affiliated organisations such as the Australian Institute of Marine Science to replicate this experiment on a larger scale. This access to shared resources would allow for our solution to be practical, financially.</p>


</div>


<br /><br />
<div id="future">
    <h2>The Future of PROTECC Coral</h2>
    <br />
    <h5>Fostering Social Narratives around GMOs</h5>
    <p>Our survey marked the first step in resolving the disconnect between the general public and science. We found ourselves reflecting with numerous stakeholders, from Kevin Gale to local business owners about the lack of two way conversation about GMOs in the context of targeting coral bleaching. We recognised this disconnect could pose a significant issue to the public acceptance of our proposed solution. The key way to target this concern would be to first and foremost increase the awareness of GMOs in the public and spread accurate, well informed materials. </p>
    <p>But would the public be interested in being engaged in our discussions? To better understand the needs of the public, we asked this question in our survey and discovered 73% of people were interested in learning more about our solution. Given the high interest levels of the public, we should continue to foster their innate curiosity towards science and encourage open communication. This would help us foster an inclusive social narrative of GMOs in the public.</p>
    <p>In future phases of our project, we would like to explore new and exciting ways to build awareness of GMOs and receive feedback from the public. This could be in the form of polls on social media, Q&A forums and school presentations for younger audiences. We would aim to have a prototype developed and presented in the storyboard to receive more feedback and iterate our final design. </p>
    <p>Further, we hope to expand the reach of our survey and have a more representative demographic makeup. We would like to continue the conversation about GMOs in local communities in QLD surrounding the GB. The majority (72%) of our responses were from NSW and from a predominantly university background. By seeking to create a more widely inclusive survey, we can ensure we create a solution that is ethical and socially responsible. </p>

    <br /><br />
    <h5>Our Impact</h5>
    <p>The Great Barrier Reef is the largest coral reef in the world and a hallmark of Australia’s global identity. The GBR contains over 600 coral species, accounting for three-quarters of the world's coral population. The biodiversity along the reef’s expanse is immense and the interconnectedness of species and habitats make the GBR and surrounding marine ecosystem one of the most complex natural systems on earth. Maintaining a healthy and diverse ecosystem on the GBR is essential to facilitate the recovery and adapt to the impacts of climate stress. A healthy reef environment provides the essential resources that support many industries and local businesses. The GBR also represents a deep connection between humans and the land, with sacred connections of Traditional owners to the reef dating back tens of thousands of years (Peixoto et al., 2017).</p>
    <p>Our research’s value goes beyond our contribution to protecting the coral reefs from the impacts of climate change. As we discussed in our conversation with Will Howard, the value of synthetic biology research is not only derived from the potential success of the solution, but the fact that we are inadvertently broadening the pool of knowledge surrounding algal symbiotes and the mechanisms of thermal tolerance. Another important point from our conversations with Will Howard is that “science and research is about giving society as many policy options as possible”. By designing our solution and our proposed implementation, we are furthering the available options for the government to take action against climate change and simultaneously, demonstrating the significance of the GBR to our stakeholders.</p>

    <br />
    <h5>Proposed Implementation</h5>
    <p>Being in the second phase of our project, our team has had plenty of time to consider the potential implementation of our solution. Last year, our team integrated the perspectives and advice from our stakeholders to devise a three-step proposed implementation that ensures the ‘safest’ possible delivery of our solution. </p>

    <ol>
        <li>Ex-Situ Testing: Long-term observation of modified Symbiodinium impacts on the coral and greater biodiversity, within a controlled and contained environment simulating ocean conditions.</li>
        <br />
        <li>In-Situ Testing In Multiple Areas of Low Biodiversity: Long-term observation of modified Symbiodinium impacts on coral in a natural yet depleted coral environment. This reduces the risk of negative impacts on other coral species and surrounding biodiversity.</li>
        <br />
        <li>In-Situ Release In Area of Normal Biodiversity: If both previous stages are successful, then the genetically modified Symbiodinium-coral system may be released in the natural environment with standard biodiversity conditions. Continual observation of the environment would be necessary.</li>
    
    </ol>

    <p>The devastating impacts of climate change, particularly to our marine ecosystems have seen a shift in public attitudes towards a greater acceptance of synthetic biology solutions. This has been evident in our responses to our survey, in which 75% of respondents agreed with the statement that “I would support genetic engineering to save the coral reefs”. Nonetheless, the implementation of a genetically modified solution into the environment comes with many challenges that must be addressed in order for us to implement such solutions. Hence, it is important for our team that when approaching our <a href="/Implementation">Proposed Implementation</a>, we take careful consideration of the technical, safety, ethical and socio-cultural considerations. These considerations have been addressed in our Proposed Implementation section of Human Practices.</p>
</div>

<div id="references">
    <h2>References</h2>
    <br />

    <p>Ball, J. 2021. The Double Diamond: A universally accepted depiction of the design process. [online] Available from: https://www.designcouncil.org.uk/news-opinion/double-diamond-universally-accepted-depiction-design-process (accessed 17 October 2021).</p>
    <p>Bonde, S. and Firenze, P., 2013. A Framework for Making Ethical Decisions | Science and Technology Studies. [online] Brown University. Available from: https://www.brown.edu/academics/science-and-technology-studies/framework-making-ethical-decisions#:~:text=In%20the%20Consequentialist%20framework%2C%20we. [Accessed 17 October 2021].</p>
    <p>Brookes, J., 2021. Synthetic biology a $27b opportunity: CSIRO. [online] InnovationAus. Available from: https://www.innovationaus.com/synthetic-biology-a-27b-opportunity-csiro/. [Accessed 18 October 2021].</p>
    <p>Climate Council. 2017. Media Release Great Barrier Reef: Bleaching could cost Queensland $1 billion annually. [online] Available from: https://www.climatecouncil.org.au/resources/media-release-great-barrier-grief-bleaching-could-cost-queensland-1-billion-annually/ [Accessed 17 October 2021].</p>
    <p>Convention on Biological Diversity:. 2021. Introduction to access and benefit-sharing. [online] Available from: https://www.cbd.int/abs/infokit/brochure-en.pdf [Accessed 18 October 2021].</p>
    <p>CSIRO. 2020. Public perceptions of using synthetic biology to restore the Great Barrier Reef. [online] Available from: https://research.csiro.au/synthetic-biology-fsp/wp-content/uploads/sites/140/2020/12/20-00137_LW_SynBioSurveyResults_Reef_WEB_201113.pdf (accessed 1 October 2021).</p>
    <p>Deloitte Access Economics. 2017. At what price? The economic, social and icon value of the Great Barrier Reef. [online] Available from: https://www2.deloitte.com/content/dam/Deloitte/au/Documents/Economics/deloitte-au-economics-great-barrier-reef-230617.pdf [Accessed 17 October 2021].</p>
    <p>Department of Agriculture, Water and the Environment. 2021. Managing and protecting the Great Barrier Reef. [online] Available from: https://www.awe.gov.au/parks-heritage/great-barrier-reef/protecting-the-reef [Accessed 17 October 2021].</p>
    <p>Department of Agriculture, Water and the Environment. 2021. The Nagoya Protocol - Convention on Biological Diversity. [online] Available from: https://www.awe.gov.au/science-research/australias-biological-resources/nagoya-protocol-convention-biological [Accessed 18 October 2021].</p>
    <p>Fa'avae, D., Jones, A. and Manu'atu, L., 2016. Talanoa'i ‘A e Talanoa—Talking about Talanoa: Some dilemmas of a novice researcher. AlterNative: An International Journal of Indigenous Peoples, [online] 12(2), pp.138-150. Available from: https://journals.sagepub.com/doi/10.20507/AlterNative.2016.12.2.3  [Accessed 18 October 2021].</p>
    <p>Great Barrier Reef Foundation. 2021. The Value of the Reef. [online] Available from: https://www.barrierreef.org/the-reef/the-value [Accessed 17 October 2021].</p>
    <p>Great Barrier Reef Marine Park Authority. 2021. Coral bleaching 101. [online] Available from: https://www.gbrmpa.gov.au/the-reef/reef-health/coral-bleaching-101 [Accessed 17 October 2021].</p>
    <p>Great Barrier Reef Marine Park Authority. 2019. Outlook Report 2019. [online] Available from: https://www.gbrmpa.gov.au/our-work/outlook-report-2019 [Accessed 17 October 2021].</p>
    <p>Great Barrier Reef Marine Park Authority. n.d. Traditional Owners of the Great Barrier Reef. [online] Available from: https://www.gbrmpa.gov.au/our-partners/traditional-owners/traditional-owners-of-the-great-barrier-reef  [Accessed 18 October 2021].</p>
    <p>Institute of Design at Stanford. 2021. 5 Stages in the Design Thinking Process. [online] Available from: https://web.stanford.edu/~mshanks/MichaelShanks/files/509554.pdf (accessed 17 October 2021).</p>
    <p>McFall-Johnsen, M., 2019. Painfully slow hurricanes, deadly heat, and cities without water: What the climate crisis will look like in the next 10 years, according to experts. [online] Business Insider Australia. Available from: https://www.businessinsider.com.au/climate-change-in-the-next-decade-2019-11?r=US&IR=T  [Accessed 18 October 2021].</p>
    <p>Narragunnawali Reconciliation in Schools and Early Leaning. n.d. Science. [online] Available from: https://www.narragunnawali.org.au/storage/media/professional-learning/science-resource-guide-725f400019.pdf [Accessed 19 October 2021].</p>
    <p>Peixoto, R., Rosado, P., Leite, D., Rosado, A. and Bourne, D., 2017. Beneficial Microorganisms for Corals (BMC): Proposed Mechanisms for Coral Health and Resilience. Frontiers in Microbiology, 8. [Accessed 19 October 2021].</p>
    <p>Prober, S., Doerr, V., Broadhurst, L., Williams, K. and Dickson, F., 2019. Shifting the conservation paradigm: a synthesis of options for renovating nature under climate change. Ecological Monographs, [online] 89(1), p.e01333. Available from: https://esajournals.onlinelibrary.wiley.com/doi/full/10.1002/ecm.1333  [Accessed 19 October 2021].</p>
    <p>United Nations. 2021. Great Barrier Reef in danger, UN World Heritage Committee draft report finds [online] Available from: https://news.un.org/en/story/2021/06/1094512 [Accessed 17 October 2021].</p>
    <p>World Wildlife Fund Inc. 2021. Everything You Need to Know about Coral Bleaching—And How We Can Stop It. [online] Available from: https://www.worldwildlife.org/pages/everything-you-need-to-know-about-coral-bleaching-and-how-we-can-stop-it [Accessed 17 October 2021].</p>


</div>


<!-- <script>
    function showDescription(event, div_id) {

        // remove current active circle styling
        let currActiveCircle = document.getElementsByClassName("circle active")[0];
        if (currActiveCircle) {
            currActiveCircle.classList.remove("active");
        }

        let currActive = document.getElementsByClassName("description active")[0];
        if (currActive) {
            currActive.classList.remove("active");
            if (currActive.id === div_id) return;
        } 
        
        // active circle styling
        if (event.currentTarget) {
            event.currentTarget.classList.add("active");
        }

        // show content
        let newActive = document.getElementById(div_id);
        if (newActive) {
            newActive.classList.add("active");
        }
    }
</script> -->


<div id="hpModalBackdrop" class="modal-backdrop fade show"></div>

<!-- <script src="/js/bootstrap/bootstrap.bundle.min.js"></script> -->
<script>
    let modalBackdrop = document.getElementById("hpModalBackdrop")

    let modals = document.getElementsByClassName('modal');
    for (let m of modals) {
        m.addEventListener('show.bs.modal', function (event) {
        modalBackdrop.style.visibility = "visible";
        modalBackdrop.style.opacity = "1";
        })
        m.addEventListener('hide.bs.modal', function (event) {
        modalBackdrop.style.opacity = "0";
        modalBackdrop.style.visibility = "hidden"
        })
    }
</script>