---
layout: page.liquid
---

<head>
    <link rel="stylesheet" href="/css/main_wiki.css">
    <!-- <link rel="stylesheet" href="/css/lab.css"> -->
    <!-- <link rel="stylesheet" href="/css/sidenav.css"> -->
</head>
<body>

    <div class="banner">
        <img src="/assets/img/working_header.png" class="banner_pic" alt="Decorative Coral" width="100%">
        <h1 class="banner_title">{{ title }}</h1>
    </div>

    <div class="content">
        {{ content }}
    </div>
    
</body>
</html>