<table id="ensemble_modelling_weights" class="table table-striped">

    <!-- Km Gpx GSH -->
    <tr>
        <th rowspan="2">Parameter Name</th>
        <th rowspan="2">Reported Value</th>
        <th colspan="3">Partial Weights</th>
        <th rowspan="2">Total Weight</th>
        <th rowspan="2">Source</th>
    </tr>

    <tr class="table-subheader">
        <th>Organism (4 same/2 related/1 unrelated)</th>
        <th>Enzyme (4 same/2 related/1 unrelated)</th>
        <th>Conditions (pH and temperature) (4 same/2 related or unknown/1 unrelated)</th>
    </tr>

    <tr></tr>
    <tr style="border-top: 1px solid #003031;">
        <td rowspan="4">K<sub>m</sub> Gpx, substrate GSH</td>
        <td>3200</td>
        <td>2 Aloe Vera</td>
        <td>4</td>
        <td>2</td>
        <td>16</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>316</td>
        <td>1 Lateolabrax japonicus</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>3700</td>
        <td>4 Chlamydonas Reinhardtii</td>
        <td>4</td>
        <td>2</td>
        <td>32</td>
        <td>(Shigeoka et al, 1991)</td>
    </tr>
    <tr>
        <td>2100</td>
        <td>1 Saccharomyces cerevisiae</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>


    <tr></tr>
    <!-- Km Gpx H2O2 -->
    <tr style="border-top: 1px solid #003031;">
        <td rowspan="8">K<sub>m</sub> Gpx, substrate H2O2</td>
        <td>3</td>
        <td>1 Lateolabrax japonicus</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>12</td>
        <td>1 Thunnus maccoyii</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>141</td>
        <td>1 Saccharomyces cerevisiae</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>(Ohdate et al., 2010)</td>
    </tr>
    <tr>
        <td>170</td>
        <td>1 Saccharomyces cerevisiae</td>
        <td>2</td>
        <td>2</td>
        <td>4</td>
        <td>(Ohdate et al., 2010)</td>
    </tr>
    <tr>
        <td>2.29</td>
        <td>1 Haemophilus influenzae</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>240</td>
        <td>4 Chlamydonas Reinhardtii</td>
        <td>4</td>
        <td>2</td>
        <td>32</td>
        <td>(Shigeoka et al, 1991)</td>
    </tr>
    <tr>
        <td>260</td>
        <td>1 Lucilia cuprina</td>
        <td>2</td>
        <td>2</td>
        <td>4</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>204</td>
        <td>2 Oryza sativa</td>
        <td>4</td>
        <td>4</td>
        <td>32</td>
        <td>BRENDA</td>
    </tr>

    <tr></tr>
    <!-- Kcat Gpx -->
    <tr style="border-top: 1px solid #003031;">
        <td rowspan="3">k<sub>cat</sub> Gpx</td>
        <td>44.03</td>
        <td>1 Lucilia cuprina</td>
        <td>2</td>
        <td>2</td>
        <td>4</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>670</td>
        <td>1 Homo Sapiens</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>221.7</td>
        <td>1 Homo Sapiens</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>


    <!-- GR -->


    <tr></tr>
    <!-- Km GR GSSG -->
    <tr style="border-top: 1px solid #003031;">
        <td rowspan="6">K<sub>m</sub> GR, substrate GSSG</td>
        <td>50</td>
        <td>4 Chlamydonas Reinhardtii</td>
        <td>4</td>
        <td>2</td>
        <td>32</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>54</td>
        <td>4 Chlamydonas Reinhardtii</td>
        <td>4 (GR2)</td>
        <td>2</td>
        <td>16</td>
        <td>BRENDA</td>
    </tr>

    <tr>
        <td>54</td>
        <td>2 Euglene Gracilis</td>
        <td>4</td>
        <td>2</td>
        <td>16</td>
        <td>BRENDA</td>
    </tr>

    <tr>
        <td>55</td>
        <td>1 Saccharomyces cerevisiae</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>74.6</td>
        <td>1 Saccharomyces cerevisiae</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>101</td>
        <td>1 Hemicentrotus pulcherrimus</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>


    <tr></tr>
    <!-- Km GR NADPH -->
    <tr style="border-top: 1px solid #003031;">
        <td rowspan="6">K<sub>m</sub> GR, substrate NADPH</td>
        <td>5</td>
        <td>1 Hemicentrotus pulcherrimus</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>9</td>
        <td>1 Anabaena sp.</td>
        <td>4</td>
        <td>1</td>
        <td>4</td>
        <td>BRENDA</td>
    </tr>

    <tr>
        <td>10.6</td>
        <td>4 Chlamydonas Reinhardtii</td>
        <td>4</td>
        <td>2</td>
        <td>32</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>7</td>
        <td>4 Chlamydonas Reinhardtii</td>
        <td>4</td>
        <td>2</td>
        <td>32</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>28</td>
        <td>4 Chlamydonas Reinhardtii</td>
        <td>4 (GR2)</td>
        <td>2</td>
        <td>16</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>3.8</td>
        <td>1 Saccharomyces cerevisiae</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>

    <tr></tr>
    <!-- Kcat GR -->
    <tr style="border-top: 1px solid #003031;">
        <td rowspan="3">k<sub>cat</sub> GR</td>
        <td>317</td>
        <td>2 Euglene Gracilis</td>
        <td>4</td>
        <td>2</td>
        <td>16</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>50.14</td>
        <td>1 Ipomoea batatas</td>
        <td>4</td>
        <td>2</td>
        <td>8</td>
        <td>BRENDA</td>
    </tr>
    <tr>
        <td>463.3</td>
        <td>1 Saccharomyces cerevisiae</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>BRENDA</td>
    </tr>
</table>