<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>iGEM UNSW - Virtual Exhibition</title>
<link rel="stylesheet" href="/css/igem_reset.css" type="text/css">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/fonts.css" type="text/css">
<link rel="stylesheet" href="/css/main.css" type="text/css">
<link rel="stylesheet" href="/css/Exhibition.css" type="text/css">
<link rel="preload" as="font" href="/assets/fonts/MPLUSRounded1c-Bold.ttf" type="font/ttf" crossorigin="anonymous">
<link rel="preload" as="font" href="/assets/fonts/MPLUSRounded1c-Regular.ttf" type="font/ttf" crossorigin="anonymous">
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

<div id="igem-unsw-content">
    <div id="header">
        <div style="width: 4em;">
            <a href="/">
                <img src="/assets/img/UNSW_iGEM_logo_white.png" alt="UNSW iGEM Logo" width="100%">
            </a>
        </div>
        <div id="artist_dot_row">
            <div>
                <a href="/Exhibition/">
                    <img src="/assets/img/Exhibition/coral b1.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">About</div>
            </div>
            <div>
                <a href="/Exhibition/Betty_Sykes/">
                    <img src="/assets/img/Exhibition/Betty Sykes/icon.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">Betty Sykes</div>
            </div>
            <div>
                <a href="/Exhibition/Erub_Arts_Collaboration/">
                    <img src="/assets/img/Exhibition/Erub Arts Collaboration/icon.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">Erub Arts Collaboration</div>
            </div>
            <div>
                <a href="/Exhibition/Erub_Ladies_Collaboration/">
                    <img src="/assets/img/Exhibition/Erub Ladies Collaboration/icon.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">Erub Ladies Collaboration</div>
            </div>
            <div>
                <a href="/Exhibition/James_Unsworth/">
                    <img src="/assets/img/Exhibition/James Unsworth/icon.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">James Unsworth</div>
            </div>
            <div>
                <a href="/Exhibition/Josie_Olbar/">
                    <img src="/assets/img/Exhibition/Josie Olbar/icon.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">Josie Olbar</div>
            </div>
            <div>
                <a href="/Exhibition/Kris_Casey/">
                    <img src="/assets/img/Exhibition/Kris Casey/icon.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">Kris Casey</div>
            </div> 
            <div>
                <a href="/Exhibition/Kurun_Warun/">
                    <img src="/assets/img/Exhibition/Kurun Warun/icon.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">Kurun Warun</div>
            </div>
            <div>
                <a href="/Exhibition/Petra_Meikle_de_Vlas/">
                    <img src="/assets/img/Exhibition/Petra Meikle de Vlas/icon.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">Petra Meikle de Vlas</div>
            </div>
            <div>
                <a href="/Exhibition/Pormpuraaw_Art_Centre/">
                    <img src="/assets/img/Exhibition/Simon Norman/icon.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">Pormpuraaw Art Centre</div>
            </div>
            <div>
                <a href="/Exhibition/Wayne_Quilliam/">
                    <img src="/assets/img/Exhibition/Wayne Quilliam/icon.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">Wayne Quilliam</div>
            </div>
            <div>
                <a href="/Exhibition/Giveaway/">
                    <img src="/assets/img/Exhibition/coral b2.png" class="artist-dot">
                </a>
                <div class="artist-dot-name">Giveaway</div>
            </div>
        </div>
        <div style="min-width: 4em;"></div> 
    </div>

    <div id="main" class="row gx-0 gy-4 gy-lg-0">
        {{ content }}
    </div>

    {% include footer.html %}
</div>