<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iGEM UNSW - Virtual Exhibition</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Exhibition.css">
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div id="igem-unsw-content">
    <div id="header">
        <div style="width: 4em;">
            <a href="../">
                <img src="/img/UNSW_IGEM_logo_white.png" alt="UNSW iGEM Logo" width="100%">
            </a>
        </div>
        <div id="artist_dot_row">
            <div>
                <a href="/Exhibition/">
                    <img src="/img/logo.png" alt="" class="artist-dot">
                </a>
                <div class="artist-dot-name">About</div>
            </div>

            <div>
                <a href="/Exhibition/Betty_Sykes/">
                    <img src="/img/Exhibition/Betty Skyes/Karrangkal - Coral Reef.JPG" alt="" class="artist-dot">
                </a>
                <div class="artist-dot-name">Betty Sykes</div>
            </div>
            <div>
                <a href="/Exhibition/James_Unsworth/">
                    <img src="/img/Exhibition/James Unsworth/icon.png" alt="" class="artist-dot">
                </a>
                <div class="artist-dot-name">James Unsworth</div>
            </div>
            <div>
                <a href="/Exhibition/Josie_Olbar/">
                    <img src="/img/Exhibition/Josie Olbar/Mili, stinging jellyfish.jpg" alt="" class="artist-dot">
                </a>
                <div class="artist-dot-name">Josie Olbar</div>
            </div>
            <div>
                <a href="/Exhibition/Kris_Casey/">
                    <img src="/img/Exhibition/Kris Casey/Kris.Casey.Turtle.wave.jpg" alt="" class="artist-dot">
                </a>
                <div class="artist-dot-name">Kris Casey</div>
            </div> 
            <div>
                <a href="/Exhibition/Simon_Norman/">
                    <img src="/img/Exhibition/Simon Norman/Ghost Net_1.jpg" alt="" class="artist-dot">
                </a>
                <div class="artist-dot-name">Simon Norman</div>
            </div>
            <div>
                <a href="/Exhibition/Petra_Meikle_de_Vlas/">
                    <img src="/img/Exhibition/Petra Meikle de Vlas/icon.png" alt="" class="artist-dot">
                </a>
                <div class="artist-dot-name">Petra Meikle de Vlas</div>
            </div>
            <div>
                <a href="/Exhibition/Wayne_Quilliam/">
                    <img src="/img/Exhibition/Wayne Quilliam/waynequilliam2021REEF (6).jpeg" alt="" class="artist-dot">
                </a>
                <div class="artist-dot-name">Wayne Quilliam</div>
            </div>
        </div>
        <div style="min-width: 4em;"></div> 
    </div>

    <div id="main">
        {{ content }}
    </div>

    {% include footer.html %}
</div>

</body>
</html>