<footer id="footer">
    <!-- sponsor logos -->
    <div class="sponsor-logo-container" style="font-size: 12px; display: flex; flex-direction: column; justify-content: center;">
        <em>With thanks to our sponsors: </em>
    </div>
    <div class="sponsor-logo-container" style="height: 7vh;">
        <img src="/img/sponsor_logos/unsw-babs-white.png">
    </div>

    <div class="sponsor-logo-container">
        <img src="/img/sponsor_logos/OSCE logo white.png">
    </div>

    <div class="sponsor-logo-container">
        <img src="/img/sponsor_logos/NEB.png">
    </div>

    <div class="sponsor-logo-container" style="height: 7vh;">
        <img src="/img/sponsor_logos/IDT.png">
    </div>

    <div class="sponsor-logo-container">
        <img src="/img/sponsor_logos/frederick.png">
    </div>
    
</footer>