<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<div class="navbar sticky-top navbar-expand" id="header">
    <a class="navbar-brand" href="/" id="home_button">
        <img src="/assets/img/UNSW_iGEM_logo.png" alt="UNSW iGEM Logo" height="100%">
    </a>
    <div class="navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link" href="/">Project Description</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Engineering</a></li>
                    <!-- <li><a class="dropdown-item" href="/">Parts</a></li> -->
                    <li><a class="dropdown-item" href="/">Contribution</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/">Experiments</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Heat Shock Protein</a></li>
                    <li><a class="dropdown-item" href="/">Glutathione System</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/">Notebook</a></li>
                    <li><a class="dropdown-item" href="/">Protocols & Safety</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Model/">Modelling</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Model/Hsp/">Heat Shock Protein</a></li>
                    <li><a class="dropdown-item" href="/Model/Glutathione/">Glutathione System</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Human_Practices/">Human Practices</a>
                <ul class="dropdown-menu">
                    <!-- <li><a class="dropdown-item" href="/">Integrated Human Practices</a></li> -->
                    <li><a class="dropdown-item" href="/">Proposed Implementation</a></li>
                    <li><a class="dropdown-item" href="/">Inclusivity</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/">Science Communication</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Educational Package</a></li>
                    <li><a class="dropdown-item" href="/">Outreach</a></li>
                    <li><a class="dropdown-item" href="/">Collaboration</a></li>
                    <li><a class="dropdown-item" href="/">About the Exhibition</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/">Team</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Attributions</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <a class="nav-link" href="/Exhibition/">Virtual Exhibition</a>
</div>