<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<div class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="header">
    <a class="navbar-brand" href="/" id="home_button">
        <img src="/assets/img/UNSW_iGEM_logo.png" alt="UNSW iGEM Logo" height="100%">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-header" role="button" data-bs-toggle="dropdown">Project</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Description">Description</a></li>
                    <li><a class="dropdown-item" href="/Engineering">Engineering</a></li>
                    <li><a class="dropdown-item" href="/Parts">Parts</a></li>
                    <li><a class="dropdown-item" href="/Contribution">Contribution</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-header" role="button" data-bs-toggle="dropdown">Experiments</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Experiments">Overview</a></li>
                    <li><a class="dropdown-item" href="/Experiments/Heat_Shock_Protein">Heat Shock Protein</a></li>
                    <li><a class="dropdown-item" href="/Experiments/Glutathione_System">Glutathione System</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/Notebook">Notebook</a></li>
                    <li><a class="dropdown-item" href="/Protocols_Safety">Protocols & Safety</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-header" role="button" data-bs-toggle="dropdown">Modelling</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Model">Our Approach</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/Model/Heat_Shock_Protein/">Heat Shock Protein</a></li>
                    <li><a class="dropdown-item" href="/Model/Glutathione_System/">Glutathione System</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-header" role="button" data-bs-toggle="dropdown">Human Practices</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Human_Practices">Our Approach</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/Implementation">Proposed Implementation</a></li>
                    <li><a class="dropdown-item" href="/Inclusivity">Inclusivity</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-header" role="button" data-bs-toggle="dropdown">Science Communication</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Communication">Communication</a></li>
                    <li><a class="dropdown-item" href="/Education">Educational Package</a></li>
                    <li><a class="dropdown-item" href="/Education/Board_Game">Board Game</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/Collaborations">Collaborations</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-header" role="button" data-bs-toggle="dropdown">Team</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Team/">Members</a></li>
                    <li><a class="dropdown-item" href="/Attributions/">Attributions</a></li>
                </ul>
            </li>

        </ul>
        <a class="nav-link outside" href="/Judging">Judging</a>
        <a class="nav-link outside" href="/Exhibition/">Virtual Exhibition</a>
    </div>
</div>