<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<div class="navbar sticky-top navbar-expand" id="header">
    <a class="navbar-brand" href="/" id="home_button">
        <img src="/assets/img/UNSW_iGEM_logo.png" alt="UNSW iGEM Logo" height="100%">
    </a>
    <div class="navbar-collapse">
        <ul class="navbar-nav" style="align-items: center;">
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Description/">Project Description</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Engineering">Engineering</a></li>
                    <!-- <li><a class="dropdown-item" href="/">Parts</a></li> -->
                    <li><a class="dropdown-item" href="/Contribution">Contribution</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Experiments">Experiments</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Experiments/Heat_Shock_Protein">Heat Shock Protein</a></li>
                    <li><a class="dropdown-item" href="/Experiments/Glutathione_System">Glutathione System</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/Notebook">Notebook</a></li>
                    <li><a class="dropdown-item" href="/Protocols_Safety">Protocols & Safety</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Model/">Modelling</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Model/Hsp/">Heat Shock Protein</a></li>
                    <li><a class="dropdown-item" href="/Model/Glutathione/">Glutathione System</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Human_Practices/">Human Practices</a>
                <ul class="dropdown-menu">
                    <!-- <li><a class="dropdown-item" href="/">Integrated Human Practices</a></li> -->
                    <li><a class="dropdown-item" href="/Implementation">Proposed Implementation</a></li>
                    <li><a class="dropdown-item" href="/Inclusivity">Inclusivity</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Communication">Science Communication</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Communication/Educational_Package">Educational Package</a></li>
                    <li><a class="dropdown-item" href="/Communication/Outreach">Outreach</a></li>
                    <li><a class="dropdown-item" href="/Collaborations">Collaboration</a></li>
                    <li><a class="dropdown-item" href="/Exhibition_About">About the Exhibition</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Team">Team</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Attributions/">Attributions</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Judging">Judging</a>
            </li>
        </ul>
    </div>
    <a class="nav-link" href="/Exhibition/">Virtual Exhibition</a>
</div>