<div class="col-2 sidenav">
    <nav id="nav-example" class="navbar navbar-light flex-column align-items-stretch p-3">
        <a class="navbar-brand" href="#">Human Practices</a>
        <a class="nav-link" href="#overview">Overview</a>
        <a class="nav-link" href="#framework">Framework</a>
        <a class="nav-link" href="#people">People</a>

        <a class="nav-link" href="#list-item-1">Item 1</a>

        <a class="nav-link" href="#list-item-2">Item 1</a>

        <a class="nav-link" href="#list-item-3">Item 1</a>
    </nav>
</div>

