<table id="hsp-comparison" class="table table-striped">

    <tr>
        <th>PDB ID</th>
        <th>Organism</th>
        <th>Name</th>
        <th>Chains</th>
        <th>Number of subunits</th>
        <th>Symmetry</th>
    </tr>

    <tr style="border-top: 1px solid #003031;">
        <td>47JA</td>
        <td rowspan="2"><em>Salmonella typhimurium</em></td>
        <td rowspan="2">AgsA</td>
        <td>homomeric</td>
        <td>24</td>
        <td>octahedral (O)</td>
    </tr>
    <tr>
        <td>4ZJD</td>

        <td>homomeric</td>
        <td>18</td>
        <td>dihedral (D3)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>3N3E</td>
        <td><em>Danio rerio</em></td>
        <td>α-crystallin</td>
        <td>homomeric</td>
        <td>2</td>
        <td>cyclic (C2)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>4YLB</td>
        <td rowspan="3"><em>Sulfolobus solfatataricus</em></td>
        <td>Hsp14.1, A102D mutant</td>
        <td>homomeric</td>
        <td>4</td>
        <td>cyclic (C2)</td>
    </tr>
    <tr>
        <td>4YLC</td>

        <td>Hsp14.1, Del-C4 mutant</td>
        <td>homomeric</td>
        <td>8</td>
        <td>dihedral (D2)</td>
    </tr>
    <tr>
        <td>4YL9</td>

        <td>Hsp14.1, wildtype</td>
        <td>homomeric</td>
        <td>4</td>
        <td>asymmetric (C1)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>3W1Z</td>
        <td><em>Schizosaccharomyces pombe</em></td>
        <td>Hsp16.0</td>
        <td>homomeric</td>
        <td>16</td>
        <td>dihedral (D4)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>2BYU</td>
        <td><em>Triticum aestivum</em></td>
        <td>Hsp16.3</td>
        <td>homomeric</td>
        <td>12</td>
        <td>tetrahedral (T)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>1SHS</td>
        <td rowspan="2"><em>Methanococcus jannaschii</em></td>
        <td>Hsp16.5</td>
        <td>homomeric</td>
        <td>24</td>
        <td>octahedral (O)</td>
    </tr>
    <tr>
        <td>4ELD</td>
 
        <td>Hsp16.5, activated variant</td>
        <td>homomeric</td>
        <td>48</td>
        <td>octahedral (O)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>1GME</td>
        <td><em>Triticum aestivum</em></td>
        <td>Hsp16.9</td>
        <td>heteromeric</td>
        <td>12</td>
        <td>dihedral (D3)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>5DS1</td>
        <td><em>Pisum sativum</em></td>
        <td>Hsp17.7</td>
        <td>homomeric</td>
        <td>12</td>
        <td></td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>5DS2</td>
        <td><em>Pisum sativum</em></td>
        <td>Hsp18.1</td>
        <td>homomeric</td>
        <td>12</td>
        <td></td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>6L6M</td>
        <td><em>Entamoeba histolytica</em></td>
        <td>Hsp18.5</td>
        <td>homomeric</td>
        <td>4</td>
        <td>cyclic (C2)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>5NMS</td>
        <td rowspan="2"><em>Arabidopsis thaliana</em></td>
        <td rowspan="2">Hsp21</td>
        <td>heteromeric</td>
        <td>12</td>
        <td>dihedral (D3)</td>
    </tr>
    <tr>
        <td>7BZW</td>

        <td>homomeric</td>
        <td>12</td>
        <td>tetrahedral (T)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>2H50</td>
        <td><em>Saccharomyces cerevisiae</em></td>
        <td>Hsp26</td>
        <td>homomeric</td>
        <td>24</td>
        <td>tetrahedral (T)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td rowspan="2"></td>
        <td rowspan="2"><em>Saccharomyces cerevisiae</em></td>
        <td rowspan="2">Hsp42</td>
        <td>homomeric</td>
        <td>12</td>
        <td>likely dihedral (D3)</td>
    </tr>
    <tr>
        <td style="border: none;">homomeric</td>
        <td>24</td>
        <td>likely dihedral (D3)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td rowspan="3">6EWN</td>
        <td rowspan="3"><em>Thermosynechococcus vulcanus</em></td>
        <td rowspan="3">HspA</td>
        <td>homomeric</td>
        <td>12</td>
        <td></td>
    </tr>
        <td style="border: none;">homomeric</td>
        <td>14</td>
        <td></td>
    </tr>
    <tr>
        <td style="border: none;">homomeric</td>
        <td>24</td>
        <td></td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>5ZS6</td>
        <td rowspan="3"><em>Mycobacterium marinum</em></td>
        <td rowspan="3">MMAR sHSP</td>
        <td>heteromeric</td>
        <td>24</td>
        <td>tetrahedral (T)</td>
    </tr>
    <tr>
        <td>5ZS3</td>
        <td>heteromeric</td>
        <td>24</td>
        <td>tetrahedral (T)</td>
    </tr>
    <tr>
        <td>5ZUL</td>
        <td>homomeric</td>
        <td>12</td>
        <td>tetrahedral (T)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>4YDZ</td>
        <td rowspan="2"><em>Caenorhabditis elegans</em></td>
        <td rowspan="2">Sip1</td>
        <td>homomeric</td>
        <td>32</td>
        <td>dihedral (D8)</td>
    </tr>
    <tr>
        <td>4YEO</td>
        <td>homomeric</td>
        <td>2</td>
        <td>cyclic (C2)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>3GT6</td>
        <td><em>Xanthomonas axonopodis</em></td>
        <td>SpA</td>
        <td>homomeric</td>
        <td>36</td>
        <td>dihedral</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>2BOL</td>
        <td><em>Taenia saginata</em></td>
        <td>Tsp36</td>
        <td>homomeric</td>
        <td>2</td>
        <td>cyclic (C2)</td>
    </tr>
    <tr style="border-top: 1px solid #003031;">
        <td>5JZN</td>
        <td><em>Xylella fastidiosa</em></td>
        <td>XfsHSP17.9</td>
        <td>homomeric</td>
        <td></td>
        <td>mesh with square holes</td>
    </tr>
</table>