<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>iGEM UNSW</title>
<link rel="stylesheet" href="/css/igem_reset.css" type="text/css">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/fonts.css" type="text/css">
<link rel="stylesheet" href="/css/main.css" type="text/css">
<link rel="stylesheet" href="/css/home.css" type="text/css">

<div id="igem-unsw-content">
    <div id="full-page">

        <div id="header">
            <div style="height: 4em;">
                <a href="/">
                    <img src="/assets/img/UNSW_iGEM_logo.png" alt="UNSW iGEM Logo" height="100%">
                </a>
            </div>
            <a id="exhibition_link" href="/Exhibition/">Virtual Exhibition</a>
        </div>

        {{ content }}
    </div>

    {% include footer.html %}
</div>