<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iGEM UNSW</title>
    <link rel="stylesheet" href="/css/igem_reset.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div id="igem-unsw-content">
    <div id="full-page">

        <div id="header">
            <div style="height: 100%;">
                <a href="/">
                    <img src="/assets/img/UNSW_iGEM_logo.png" alt="UNSW iGEM Logo" height="100%">
                </a>
            </div>
            <a id="exhibition_link" href="/Exhibition/">Virtual Exhibition</a>
        </div>

        {{ content }}
    </div>

    {% include footer.html %}
</div>
</body>
</html>