<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>iGEM UNSW</title>
<link rel="stylesheet" href="/css/igem_reset.css" type="text/css">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/fonts.css" type="text/css">
<link rel="stylesheet" href="/css/main.css" type="text/css">

<div id="igem-unsw-content">
    {% include header.html %}
    
    {{ content }}

    <div style="background-color: #002d30;">
        {% include footer.html %}
    </div>
</div>

</body>
</html>
